<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<h3>Writing</h3>
	<form method="post">
		<h4>Class
			<select class="span3" type="text" id="language" name="courseId">
				{%- for myCourse in myCourses %}
					{% if articlesOnBoard.courseId == myCourse.courseId %}<option class ="{{ myCourse.courseId }}" selected ="selected">
					{% else %}<option class="{{ myCourse.courseId }}">
					{% endif %}
					{{ myCourse.courseId }} {{ myCourse.courseName }}</option>
				<!--  if modify then default Course -->
				
				{% endfor -%}
			</select>
		</h4>
		<h4>Title 
			<input class="input-xxlarge" name="title" type="text" autocomplete="off" placeholder="less than 50 letters"
			value ="{% if title %}{{ title }}{% elif articlesOnBoard.title %}{{ articlesOnBoard.title }}{% endif %}" autofocus ="autofocus">
		</h4>
		<textarea class="content input-xxlarge" id="writePlace" name="content" row="5" placeholder="write here" onkeyup="autoSize(this)" autocomplete="off">{% if content %}{{ content }}{% elif articlesOnBoard.content %}{{ articlesOnBoard.content }}{% endif %}</textarea>
		<br>
		<input type="submit" id="writeDone" value="Done">
		<!--<button class="btn" type="submit">Done</button>-->
	</form>
</div>
<style> textarea {width:300px;overflow:visible} </style>
<script>
function autoSize(obj) {
  obj.style.height = "1px";
  obj.style.height = (20+obj.scrollHeight)+"px";
}
</script>
{% endblock -%}