<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{% extends "main.html" %}
{% block body %}
<div class="container">
	<h4>
		<div style="row-fluid">
			<div class="span12">
				<div class="row-fluid" style ='text-align:center'>
					<table class="table">
						<thead>
							<tr>
								<td>{% if articlesOnBoard.courseName %}{{ articlesOnBoard.courseId }} {{ articlesOnBoard.courseName }}{% else %}Server Noticie{% endif %}</td>
								<td style ='text-align:right'>{{ articlesOnBoard.writtenDate }}</td>
							</tr>
							
							<tr>
							<h4>
								<td>{{ articlesOnBoard.title }}</td>
								<td style ='text-align:right'>{{ articlesOnBoard.writerId }}</tD>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</h4>
</div>

<!-- content block -->
<div class="container">
	<!-- put contents here -->
	{{ articlesOnBoard.content }}
	<div style="text-align:center">
		<form method="post">
		
			{# Article Like Case #}
			<button class="btn btn-default btn-lg" type="submit" name="articleLike">
				{% if isPostLike == 'FALSE' %} UnLike {% else %} Like {% endif %}<i class="icon-thumbs-up"></i>
			</button>
			
			{% if articlesOnBoard.writerId == session['memberId'] or 'SERVER_ADMINISTRATOR' in session['authority'] or 'COURSE_ADMINISTRATOR' in session['authority'] %}
			<button href="#deleteArticle" class="delete btn" data-toggle="modal">Delete</button>
			<div id="deleteArticle" class="modal hide fade">
				<div class="modal-header">
					<h3>Delete Post</h3>
				</div>
				<div class="modal-body">
					<p>Do you really want to delete it?</p>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<button href="#" class="delete btn btn-primary" name ="deleteArticle" type="submit">Confirm</button>
				</div>
			</div>
		</form>
		
		{# Modify Article #}
		<a href='{{ url_for("GradeServer.write", activeTabCourseId = activeTabCourseId, articleIndex = articlesOnBoard.articleIndex) }}'><button type="button" class ="btn modify">Modify</button></a>
			{% endif %}
	</div>
</div>
<!-- end content block -->
<hr style="margin-left:5%;margin-right:5%">

<!-- comment block -->
<div class="container">
	<!-- put the comments here -->

	<div style="text-align:center">
		<form method="post">
			<input type="textarea" name="writeReplytoArticle" style="width:92%" placeholder="Comment">
			<button class="submit">Write</button>
		</form>
	</div>
</div>	

<div>
	{% for repliesOnBoardRecord in repliesOnBoardRecords %}
	<form method = "post" id="myform">
		<a href = '{{ url_for ("GradeServer.user_history", memberId = repliesOnBoardRecord.boardReplierId, sortCondition = "submissionDate", pageNum = 1) }}'>
			{{ repliesOnBoardRecord.boardReplierId }}
		</a>
		<!-- Content, WrittenDate -->
		{% if boardReplyIndex and boardReplyIndex == repliesOnBoardRecord.boardReplyIndex %}
			<input type="textarea" name="modifyConfirmArticleComment{{ boardReplyIndex }}" style="width:90%" value = '{{ repliesOnBoardRecord.boardReplyContent }}'>
			<button class="submit">Confirm</button>
		{% else %}
			: {{ repliesOnBoardRecord.boardReplyContent }} | {{ repliesOnBoardRecord.boardRepliedDate }} |
			<!-- like button -->
			<button class="like btn btn-link" href="#" name="articleReplyLike{{ repliesOnBoardRecord.boardReplyIndex }}" type="submit">
			{% if isLikeRecords[loop.index0]['isLiked'] == 'TRUE' %} 
				UnLike 
			{% else %} 
				Like 
			{% endif %}
			</button>
			{{ repliesOnBoardRecord.sumOfLikeCount }}
			
			<!-- delete button -->
			<!-- replier and masters are availables to delete the comments -->
			{% if repliesOnBoardRecord.writerId == session['memberId'] or 'SERVER_ADMINISTRATOR' in session['authority'] or 'COURSE_ADMINISTRATOR' in session['authority'] %}
			<a href="#deleteArticleReply{{ repliesOnBoardRecord.boardReplyIndex }}" role="button" class="btn btn-link" data-toggle="modal"><i class="icon-trash"></i></a>
			<div id="deleteArticleReply{{ repliesOnBoardRecord.boardReplyIndex }}" class="modal hide fade" style="text-align:center">
				<div class="modal-header">
					<h3>Delete Comment</h3>
				</div>
				<div class="modal-body">
					<p>Do you really want to delete it?</p>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<button href="#" class="delete btn btn-primary" name="deleteArticleReply{{ repliesOnBoardRecord.boardReplyIndex }}" type="submit">Confirm</button>
				</div>
			</div>
			<!-- modify button -->
			<!-- replier and masters are available to modify the comments -->
			<button name ='modifyArticleComment{{ repliesOnBoardRecord.boardReplyIndex }}' class="btn btn-link"><i class="icon-pencil"></i></button>
			{% endif %}
		{% endif %}
		<br>
	</form>
	{% endfor %}
</div>
<!-- end comment block -->
{% endblock %}