<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{% extends "main.html" %}
{%- block body %}
<script>
	function filterConditions (string){
                 	
		var dropDownCondition = document.getElementById("dropDownCondition") ;
		dropDownCondition.innerHTML = string + "<b class = 'caret'></b>" ;
		
		var filterCondition = document.getElementById("filterCondition") ;
		filterCondition.name = string ;
     }
</script>
            
<div class="container">
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#all" data-toggle="tab">all</a></li>
			{%- for course in myCourses %}
				<li><a href="#{{ course.courseId }}" data-toggle="tab">{{ course.courseId }} {{ course.courseName }}</a></li>
			{% endfor -%}
			
			<div style="text-align:right"><a href="{{ url_for('GradeServer.write', articleIndex =0) }}"><button type="button" class="write">Write</button></a></div>
		</ul>
		<!-- posts -->
		<div class="tab-content">
			<!-- all posts -->
			<div id="all" class="tab-pane active">
				<table class="table">
					<thead>
						<tr><td>Num</td><td>Course Name</td><td>Title</td><td>User Id</td><td>Date</td><td>View</td><td>Like</td></tr>
					</thead>
					<tbody>
					<!-- All Notice -->
					{%- for articleNoticeRecord in articleNoticeRecords %}
					<tr>
						<td>Notice</td>
						<td>{{ articleNoticeRecord.courseId }} {{ articleNoticeRecord.courseName }}</td>
						<td><a href= '{{ url_for ("GradeServer.read", articleIndex = articleNoticeRecord.articleIndex) }}'>{{ articleNoticeRecord.title }}</a>
							{%- if articleNoticeRecord.replyCount > 0 %}
								[{{ articleNoticeRecord.replyCount }}]
							{% endif -%}
						</td>
						<td>{{ articleNoticeRecord.writerId }}</td>
						<td>{{ articleNoticeRecord.writtenDate }}</td>
						<td>{{ articleNoticeRecord.viewCount }}</td>
						<td>{{ articleNoticeRecord.sumOfLikeCount }}</td>
					</tr>
					{% endfor -%}

					<!-- All Board -->
					{%- for articleRecord in articleRecords %}
				 	<tr>
				 		<td>{{ loop.index + (allPages['pageNum'] - 1) * allPages['LIST'] }}</td>
						<td>{{ articleRecord.courseId }} {{ articleRecord.courseName }}</td>
						<td><a href= '{{ url_for ("GradeServer.read", articleIndex = articleRecord.articleIndex) }}'>{{ articleRecord.title }}</a>
							{%- if articleRecord.replyCount > 0 %}
								[{{ articleRecord.replyCount }}]
							{% endif -%}
						</td>
						<td>{{ articleRecord.writerId }}</td>
						<td>{{ articleRecord.writtenDate }}</td>
						<td>{{ articleRecord.viewCount }}</td>
						<td>{{ articleRecord.sumOfLikeCount }}</td>
				 	</tr>
					{% endfor -%}
					</tbody>
				</table>
				<!-- Paging -->
				<div class="pagination pagination-centered">
					<ul>
						{%- if allPages['pageNum'] > allPages['BLOCK'] %}
						<li><a href="{{ url_for ('GradeServer.board', activeTabCourse = 'all', pageNum =allPages['pageNum'] -1) }}"><</a></li>
						{% endif -%}
						
						{%- for i in range (allPages['startPage'], allPages['endPage'] + 1) %}
						<li>
							{% if allPages['pageNum'] == i %}
							<a style ='background-color:gray'>
							{% else %}
							<a href="{{ url_for ('GradeServer.board', activeTabCourse = 'all', pageNum = i) }}">
							{% endif %}
							{{ i }}
							</a>
						</li>
						{% endfor -%}
						
						{%- if allPages['endPage'] < allPages ['allPage'] %}
						<li><a href="{{ url_for ('GradeServer.board', activeTabCourse = 'all', pageNum =pages['pageNum'] + 1) }}">></a></li>
						{% endif -%}
					</ul>
				</div>
				<!-- End Paging -->
			</div>
			
			<!-- tab content of each Course -->
			{%- for i in range (0, myCourses|length) %}
			<div id="{{ myCourses[i].courseId }}" class="tab-pane">
				<table class="table">
					<thead>
					<tr><td>Num</td><td>Course Name</td><td>Title</td><td>User Id</td><td>Date</td><td>View</td><td>Like</td></tr>
					</thead>
					<tbody>
					<!-- Course Notice -->
					{% for courseNoticeRecord in courseNoticeRecords[i] %}
					<tr>
						<td>Notice</td>
						<td>{{ courseNoticeRecord.courseId }} {{ courseNoticeRecord.courseName }}</td>
						<td><a href= '{{ url_for ("GradeServer.read", articleIndex = courseNoticeRecord.articleIndex) }}'>{{ courseNoticeRecord.title }}</a>
							{%- if courseNoticeRecord.replyCount > 0 %}
								[{{ courseNoticeRecord.replyCount }}]
							{% endif -%}
						</td>
						<td>{{ courseNoticeRecord.writerId }}</td>
						<td>{{ courseNoticeRecord.writtenDate }}</td>
						<td>{{ courseNoticeRecord.viewCount }}</td>
						<td>{{ courseNoticeRecord.sumOfLikeCount }}</td>
					</tr>
					{% endfor %}
					
					<!-- Course Board -->
					{% for courseRecord in courseRecords[i] %}
					<tr>
						<td>{{ loop.index + (pages[i]['pageNum'] - 1) * pages[i]['LIST'] }}</td>
						<td>{{ courseRecord.courseId}} {{ courseRecord.courseName }}</td>
						<td><a href='{{ url_for ("GradeServer.read", articleIndex = courseRecord.articleIndex) }}'>{{ courseRecord.title }}</a>
							{% if courseRecord.replyCount > 0 %}
								[{{ courseRecord.replyCount }}]
							{% endif %}
						</td>
						<td>{{ courseRecord.writerId }}</td>
						<td>{{ courseRecord.writtenDate }}</td>
						<td>{{ courseRecord.viewCount }}</td>
						<td>{{ courseRecord.sumOfLikeCount }}</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				
				<!-- Paging -->
				<div class="pagination pagination-centered">
					<ul>
						{%- if pages[i]['pageNum'] > pages[i]['BLOCK'] %}
						<li><a href="{{ url_for ('GradeServer.board', activeTabCourse = 'all', pageNum =pages[i]['pageNum'] -1) }}"><</a></li>
						{% endif -%}
						
						{%- for j in range (pages[i]['startPage'], pages[i]['endPage'] +1) %}
						<li>
							{% if pages[i]['pageNum'] == i %}
							<a style ='background-color:gray'>
							{% else %}
							<a href="{{ url_for ('GradeServer.board', activeTabCourse = 'all', pageNum = j) }}">
							{% endif %}
							{{ j }}
							</a>
						</li>
						{% endfor -%}
						
						{%- if pages[i]['endPage'] < pages[i]['allPage'] %}
						<li><a href="{{ url_for ('GradeServer.board', activeTabCourse = 'all', pageNum =pages[i]['pageNum'] +1) }}">></a></li>
						{% endif -%}
					</ul>
				</div>
				<!-- End Paging -->
			</div>
			{% endfor -%}
		</div>
		<!-- end posts -->
	</div>
	
	<!-- search bar -->
	<form method ="post">
			<!-- SearchBar // all -->
			<div id="all" class="tab-pane active" style="text-align:center">
				
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" id = 'dropDownCondition'>All<span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% for filter in Filters %}
						<li><a onclick = 'filterConditions("{{ filter }}")'>{{ filter }}</a></li>
						{% endfor %}
					</ul>
				</div>

				<div class="input-append" style="margin-bottom:0px">
					<input class="span3" name = 'keyWord' type="text" placeholder="Type Keyword">
					<button id = 'filterCondition' name = '{{ Filters[0] }}' class="btn" type="submit">Find</button>
				</div>
			</div>
	</form>
	<!-- end search bar -->
</div>
{% endblock -%}