<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{% extends "main.html" %}
{%- block body %}
<script>
	function filterConditions (string){
                 	
		var dropDownCondition = document.getElementById("dropDownCondition") ;
		dropDownCondition.innerHTML = string + "<b class = 'caret'></b>" ;
		
		var filterCondition = document.getElementById("filterCondition") ;
		filterCondition.name = string ;
     }
</script>
            
<div class="container">
	<div class="tabbable">
		<ul class="nav nav-tabs">
		{% for myCourse in myCourses %}
		{# TabActive Setting #}
			{% if loop.index0 == 0 %}
				{% if myCourse == activeTabCourseId %}
				<li class="active">
					<a href = '#{{ myCourse }}' data-toggle="tab">
				{% else %}
				<li>
					<a href = '{{ url_for ("GradeServer.board", activeTabCourseId = myCourse, pageNum = 1) }}'>
				{% endif %}
					{{ myCourse }} 
				</a>
			</li>
			{% elif myCourse.courseId == activeTabCourseId %}
			<li class="active">
				<a href = "#{{ myCourse.courseId }}" data-toggle="tab">
			{% else %}
			<li>
				<a href = '{{ url_for ("GradeServer.board", activeTabCourseId = myCourse.courseId, pageNum = 1) }}'>
			{% endif %}
					{{ myCourse.courseId }} {{ myCourse.courseName }} 
				</a>
			</li>
		{% endfor %}
		
			<div style="text-align:right">
				<a href="{{ url_for('GradeServer.write', articleIndex =0) }}">
					<button type="button" class="write">Write</button>
				</a>
			</div>
		</ul>
		
		<!-- posts -->
		<div class="tab-content">
		<!-- ActiveTab posts -->
		{%- for myCourse in myCourses %}
			{% if loop.index0 == 0 %}
				{% if myCourse == activeTabCourseId %}
				<div id="{{ myCourses }}" class = 'active'>
					<table class="table">
						<thead>
							<tr>
								<td>Num</td>
								<td>Course Name</td>
								<td>Title</td>
								<td>User Id</td>
								<td>Date</td>
								<td>View</td>
								<td>Like</td>
							</tr>
						</thead>
						
						<tbody>
						<!-- Course Notice -->
						{% for articleNoticeRecord in articleNoticeRecords %}
						<tr>
							<td>Notice</td>
							<td>{{ articleNoticeRecord.courseId }} {{ articleNoticeRecord.courseName }}</td>
							<td><a href= '{{ url_for ("GradeServer.read", articleIndex = articleNoticeRecord.articleIndex) }}'>{{ articleNoticeRecord.title }}</a>
								{%- if articleNoticeRecord.replyCount > 0 %}
									[{{ articleNoticeRecord.replyCount }}]
								{% endif -%}
							</td>
							<td>{{ articleNoticeRecord.writerId }}</td>
							<td>{{ articleNoticeRecord.writtenDate }}</td>
							<td>{{ articleNoticeRecord.viewCount }}</td>
							<td>{{ articleNoticeRecord.sumOfLikeCount }}</td>
						</tr>
						{% endfor %}
						
						<!-- Course Article -->
						{% for articleRecord in articleRecords %}
						<tr>
							<td>{{ loop.index + (pages['pageNum'] - 1) * pages['LIST'] }}</td>
							<td>{{ articleRecord.courseId}} {{ articleRecord.courseName }}</td>
							<td><a href='{{ url_for ("GradeServer.read", articleIndex = articleRecord.articleIndex) }}'>{{ articleRecord.title }}</a>
								{% if articleRecord.replyCount > 0 %}
									[{{ articleRecord.replyCount }}]
								{% endif %}
							</td>
							<td>{{ articleRecord.writerId }}</td>
							<td>{{ articleRecord.writtenDate }}</td>
							<td>{{ articleRecord.viewCount }}</td>
							<td>{{ articleRecord.sumOfLikeCount }}</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
					
					<!-- Paging -->
					<div class="pagination pagination-centered">
						<ul>
							{%- if pages['pageNum'] > pages['BLOCK'] %}
							<li><a href="{{ url_for ('GradeServer.board', activeTabCourseId = activeTabCourseId, pageNum = pages['pageNum'] -1) }}"><</a></li>
							{% endif -%}
							
							{%- for i in range (pages['startPage'], pages['endPage'] +1) %}
							<li>
								{% if pages['pageNum'] == i %}
								<a style ='background-color:gray'>
								{% else %}
								<a href="{{ url_for ('GradeServer.board', activeTabCourseId = activeTabCourseId, pageNum = i) }}">
								{% endif %}
								{{ i }}
								</a>
							</li>
							{% endfor -%}
							
							{%- if pages['endPage'] < pages['allPage'] %}
							<li><a href="{{ url_for ('GradeServer.board', activeTabCourseId = activeTabCourseId, pageNum =pages['pageNum'] +1) }}">></a></li>
							{% endif -%}
						</ul>
					</div>
					<!-- End Paging -->
				{% endif %}
			{% elif myCourse.courseId == activeTabCourseId %}
			<div id="{{ myCourses.courseId }}" class="active">
				<table class="table">
					<thead>
						<tr>
							<td>Num</td>
							<td>Course Name</td>
							<td>Title</td>
							<td>User Id</td>
							<td>Date</td>
							<td>View</td>
							<td>Like</td>
						</tr>
					</thead>
					
					<tbody>
					<!-- Course Notice -->
					{% for articleNoticeRecord in articleNoticeRecords %}
					<tr>
						<td>Notice</td>
						<td>{{ articleNoticeRecord.courseId }} {{ articleNoticeRecord.courseName }}</td>
						<td><a href= '{{ url_for ("GradeServer.read", articleIndex = articleNoticeRecord.articleIndex) }}'>{{ articleNoticeRecord.title }}</a>
							{%- if articleNoticeRecord.replyCount > 0 %}
								[{{ articleNoticeRecord.replyCount }}]
							{% endif -%}
						</td>
						<td>{{ articleNoticeRecord.writerId }}</td>
						<td>{{ articleNoticeRecord.writtenDate }}</td>
						<td>{{ articleNoticeRecord.viewCount }}</td>
						<td>{{ articleNoticeRecord.sumOfLikeCount }}</td>
					</tr>
					{% endfor %}
					
					<!-- Course Article -->
					{% for articleRecord in articleRecords %}
					<tr>
						<td>{{ loop.index + (pages['pageNum'] - 1) * pages['LIST'] }}</td>
						<td>{{ articleRecord.courseId}} {{ articleRecord.courseName }}</td>
						<td><a href='{{ url_for ("GradeServer.read", articleIndex = articleRecord.articleIndex) }}'>{{ articleRecord.title }}</a>
							{% if articleRecord.replyCount > 0 %}
								[{{ articleRecord.replyCount }}]
							{% endif %}
						</td>
						<td>{{ articleRecord.writerId }}</td>
						<td>{{ articleRecord.writtenDate }}</td>
						<td>{{ articleRecord.viewCount }}</td>
						<td>{{ articleRecord.sumOfLikeCount }}</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				
				<!-- Paging -->
				<div class="pagination pagination-centered">
					<ul>
						{%- if pages['pageNum'] > pages['BLOCK'] %}
						<li><a href="{{ url_for ('GradeServer.board', activeTabCourseId = activeTabCourseId, pageNum = pages['pageNum'] -1) }}"><</a></li>
						{% endif -%}
						
						{%- for i in range (pages['startPage'], pages['endPage'] +1) %}
						<li>
							{% if pages['pageNum'] == i %}
							<a style ='background-color:gray'>
							{% else %}
							<a href="{{ url_for ('GradeServer.board', activeTabCourseId = activeTabCourseId, pageNum = i) }}">
							{% endif %}
							{{ i }}
							</a>
						</li>
						{% endfor -%}
						
						{%- if pages['endPage'] < pages['allPage'] %}
						<li><a href="{{ url_for ('GradeServer.board', activeTabCourseId = activeTabCourseId, pageNum =pages['pageNum'] +1) }}">></a></li>
						{% endif -%}
					</ul>
				</div>
				<!-- End Paging -->
			{% endif %}
			</div>
			{% endfor -%}
		</div>
		<!-- end posts -->
	</div>
	
	<!-- search bar -->
	<form method ="post">
			<!-- SearchBar // all -->
			<div id= '{{ activeTabCourseId }}' class="tab-pane active" style="text-align:center">
				
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" id = 'dropDownCondition'>All<span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% for filter in Filters %}
						<li><a onclick = 'filterConditions("{{ filter }}")'>{{ filter }}</a></li>
						{% endfor %}
					</ul>
				</div>

				<div class="input-append" style="margin-bottom:0px">
					<input class="span3" name = 'keyWord' type="text" placeholder="Type Keyword">
					<button id = 'filterCondition' name = '{{ Filters[0] }}' class="btn" type="submit">Find</button>
				</div>
			</div>
	</form>
	<!-- end search bar -->
</div>
{% endblock -%}