<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{% extends "main.html" %}
{%- block body %}
<script>
	function filterConditions (string){
                 	
		var dropDownCondition = document.getElementById("dropDownCondition") ;
		dropDownCondition.innerHTML = string + "<b class = 'caret'></b>" ;
		
		var filterCondition = document.getElementById("filterCondition") ;
		filterCondition.name = string ;
     }
</script>
            
<div class="container">
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#all" data-toggle="tab">all</a></li>
			{%- for course in myCourses %}
				<li><a href="#{{ course.courseId }}" data-toggle="tab">{{ course.courseId }} {{ course.courseName }}</a></li>
			{% endfor -%}
			
			<div style="text-align:right"><a href="{{ url_for('GradeServer.write', articleIndex =0) }}"><button type="button" class="write">Write</button></a></div>
		</ul>
		<!-- posts -->
		<div class="tab-content">
			<!-- all posts -->
			<div id="all" class="tab-pane active">
				<table class="table">
					<thead>
						<tr><td>Num</td><td>Course Name</td><td>Title</td><td>User Id</td><td>Date</td><td>View</td><td>Like</td></tr>
					</thead>
					<tbody>
					<!-- All Notice -->
					{%- for raw in articleNotices %}
					<tr>
						<td>Notice</td>
						<td>{{ raw.courseId }} {{ raw.courseName }}</td>
						<td><a href="/board/{{ raw.articleIndex }}">{{ raw.title }}</a>
							{%- if raw.replyCount > 0 %}
								[{{ raw.replyCount }}]
							{% endif -%}
						</td>
						<td>{{ raw.writerId }}</td>
						<td>{{ raw.writtenDate }}</td>
						<td>{{ raw.viewCount }}</td>
						<td>{{ raw.sumOfLikeCount }}</td>
					</tr>
					{% endfor -%}

					<!-- All Board -->
					{%- for i in range (0, allPages['endList'] - allPages['startList']) %}
				 	<tr>
				 		<td>{{ (allPages['endList'] -allPages['startList']) -i }}</td>
						<td>{{ articles[i].courseId }} {{ articles[i].courseName }}</td>
						<td><a href="/board/{{ articles[i].articleIndex }}">{{ articles[i].title }}</a>
							{%- if articles[i].replyCount > 0 %}
								[{{ articles[i].replyCount }}]
							{% endif -%}
						</td>
						<td>{{ articles[i].writerId }}</td>
						<td>{{ articles[i].writtenDate }}</td>
						<td>{{ articles[i].viewCount }}</td>
						<td>{{ articles[i].sumOfLikeCount }}</td>
				 	</tr>
					{% endfor -%}
					</tbody>
				</table>
				<!-- Paging -->
				<div class="pagination pagination-centered">
					<ul>
						{%- if allPages['pageNum'] > allPages['BLOCK'] %}
						<li><a href="{{ url_for ('GradeServer.board', pageNum =allPages['startPage'] -1) }}">Prev</a></li>
						{% endif -%}
						
						{%- for i in range (allPages['startPage'], allPages['endPage'] +1) %}
						<li><a href="{{ url_for ('GradeServer.board', pageNum =i) }}">{{ i }}</a></li>
						{% endfor -%}
						
						{%- if allPages['endPage'] < allPages['allPage'] %}
						<li><a href="{{ url_for ('GradeServer.board', pageNum =allPages['endPage'] +1) }}">Next</a></li>
						{% endif -%}
					</ul>
				</div>
				<!-- End Paging -->
			</div>
			
			<!-- tab content of each Course -->
			{%- for i in range (0, myCourses|length) %}
			<div id="{{ myCourses[i].courseId }}" class="tab-pane">
				<table class="table">
					<thead>
					<tr><td>Num</td><td>Course Name</td><td>Title</td><td>User Id</td><td>Date</td><td>View</td><td>Like</td></tr>
					</thead>
					<tbody>
					<!-- Course Notice -->
					{% for raw in courseNotices[i] %}
					<tr>
						<td>Notice</td>
						<td>{{ raw.courseId }} {{ raw.courseName }}</td>
						<td><a href="/board/{{raw.articleIndex }}">{{ raw.title }}</a>
							{%- if raw.replyCount > 0 %}
								[{{ raw.replyCount }}]
							{% endif -%}
						</td>
						<td>{{ raw.writerId }}</td>
						<td>{{ raw.writtenDate }}</td>
						<td>{{ raw.viewCount }}</td>
						<td>{{ raw.sumOfLikeCount }}</td>
					</tr>
					{% endfor %}
					
					<!-- Course Board -->
					{% for j in range (0, pages[i]['endList'] - pages[i]['startList']) %}
					<tr>
						<td>{{ (pages[i]['endList'] - pages[i]['startList']) -j }}</td>
						<td>{{ courses[i][j].courseId}} {{ courses[i][j].courseName }}</td>
						<td><a href="/board/{{ courses[i][j].articleIndex }}">{{ courses[i][j].title }}</a>
							{% if courses[i][j].replyCount > 0 %}
								[{{ courses[i][j].replyCount }}]
							{% endif %}
						</td>
						<td>{{ courses[i][j].writerId }}</td>
						<td>{{ courses[i][j].writtenDate }}</td>
						<td>{{ courses[i][j].viewCount }}</td>
						<td>{{ courses[i][j].sumOfLikeCount }}</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				
				<!-- Paging -->
				<div class="pagination pagination-centered">
					<ul>
						{%- if pages[i]['pageNum'] > pages[i]['BLOCK'] %}
						<li><a href="{{ url_for ('GradeServer.board', pageNum =pages[i]['startPage'] -1) }}">Prev</a></li>
						{% endif -%}
						
						{%- for i in range (pages[i]['startPage'], pages[i]['endPage'] +1) %}
						<li><a href="{{ url_for ('GradeServer.board', pageNum =i) }}">{{ i }}</a></li>
						{% endfor -%}
						
						{%- if pages[i]['endPage'] < pages[i]['allPage'] %}
						<li><a href="{{ url_for ('GradeServer.board', pageNum =pages[i]['endPage'] +1) }}">Next</a></li>
						{% endif -%}
					</ul>
				</div>
				<!-- End Paging -->
			</div>
			{% endfor -%}
		</div>
		<!-- end posts -->
	</div>
	
	<!-- search bar -->
	<form method ="post">
			<!-- SearchBar // all -->
			<div id="all" class="tab-pane active" style="text-align:center">
				
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" id = 'dropDownCondition'>All<span class="caret"></span></a>
					<ul class="dropdown-menu">
						{% for filter in Filters %}
						<li><a onclick = 'filterConditions("{{ filter }}")'>{{ filter }}</a></li>
						{% endfor %}
					</ul>
				</div>

				<div class="input-append" style="margin-bottom:0px">
					<input class="span3" name = 'keyWord' type="text" placeholder="Type Keyword">
					<button id = 'filterCondition' name = '{{ Filters[0] }}' class="btn" type="submit">Find</button>
				</div>
			</div>
	</form>
	<!-- end search bar -->
</div>
{% endblock -%}