<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{%- extends "main.html" -%}
{%- block body %}
<script>

</script>
<div class="container">
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active"><a id="link-all" data-toggle="tab" href="#all">all</a>
			{% for course in ownCourses %}
			<li>
				<a data-toggle="tab" href="#{{ course.courseId }}" onclick="visibleButton(this)">
					{{ course.courseId }}{{ course.courseName }}
				</a>
			{% endfor %}</li> <!-- without li closing tag, div tag is recognized as a part of the second tag -->
			<div style="text-align:right">
				<div class="visible-desktop"><a class="btn" data-toggle="modal" href="#addProblemModal" rol="button">Add</a></div>
				<div class="visible-phone visible-tablet"><button class="btn" onclick="alert('not available in this window size');">Add</button></div>
			</div>	
		</ul>
		<!-- hidden modal pop -->
		<!-- ///// Add case ///// -->
		<form id="addProblemModalForm" method="post">
		<div class="modal hide fade" id="addProblemModal" 
			  tabindex="-1" role="dialog" aria-labelledby="addProblemModalLabel"
			  aria-hidden="true">
			<div class="modal-header">
				<div id="modalError" class="error" style="display:none;width:97%"></div>
				<button class="close" data-dismiss="modal"
						  type="button" aria-hidden="true">x</button>
				<h3 id="addProblemModalLabel">Problem Addition</h3>
			</div>
			<div class="modal-body">
				<p>If you don't choose open/close date, then the dates will be same with start/end date<br></p>
				<div style="text-align:right">
					<button class="btn" type="button" id="addline_problem">Add line
					</button>
				</div>
				<table class="table table-bordered" id='problems'
							 style="margin-top:10px">
					<thead>
						<tr>
							<td>Course ID
							<td>Problem Name
							<td><abbr title="All Input cases in One File">AIOF</abbr>
							<td>Start Date
							<td>End Date
							<td>Open Date
							<td>Close Date
					<tbody id="addProblemForm">
						<tr>
							<td>
								<select id="courseId1" name="courseId1">
									{%- for ownCourse in ownCourses %}
									<option> {{ ownCourse.courseId }} {{ ownCourse.courseName }}
									</option>
									{% endfor -%}
								</select>
							<td>
								<select id="problemId1" name="problemId1">
									{%- for problem in allProblems %}
									<option> {{ problem.problemId }} {{ problem.problemName }}
									</option>
									{% endfor -%}
								</select>
							<td>
								<label class="checkbox-center">
									<input class="box-check" id="isAllInputCaseInOneFile1"
										 	name="isAllInputCaseInOneFile1" type="checkbox">
								</label>
							<td>
								<input class="datepicker input-usmall" id="startDate1"
										name="startDate1" data-date-format="yyyy-mm-dd" type="date"
										autocomplete="off" placeholder="click">
							<td>
								<input class="datepicker input-usmall" id="endDate1"
										name="endDate1" data-date-format="yyyy-mm-dd" type="date"
										autocomplete="off" placeholder="click">
							<td>
								<input class="datepicker input-usmall" id="openDate1"
										name="openDate1" data-date-format="yyyy-mm-dd" type="date"
										autocomplete="off" placeholder="click">
							<td>
								<input class="datepicker input-usmall" id="closeDate1"
										name="closeDate1" data-date-format="yyyy-mm-dd" type="date"
										autocomplete="off" placeholder="click">
				</table>
			</div>
			<div class="modal-footer">
				<a class="btn" onclick="checkFormValidation()">Done</a>
				<!--<button class="btn" name="add" onclick="checkFormValidation()">Done</button>-->
				<button class="btn" id="resetAddProblemForm"
						  data-dismiss="modal" aria-hidden="true">Close</button>
</form>
			</div>
		</div>

	<form method="post">
		<div class="tab-content">
			<div class="tab-pane active" id="all">
				<table class="table" id="allProblems">
					<thead>
						<tr>
							<td>Course ID
							<td>Class Name
							<td>Problem Name
							<td><abbr title="All Input cases in One File">AIOF</abbr>
							<td>Start Date
							<td>End Date
							<td>Open Date
							<td>Close Date
							<td>Check <input class="checkAll" type="checkbox" style="margin:0px" onclick="selectAllCheckboxes('allProblems');">
					<tbody>
						{% for registeredProblem, registeredCourse, problem in ownProblems %}
						<tr>
							<td>{{ registeredProblem.courseId }}
							<td>{{ registeredCourse.courseName }}
							<td>
								<a href="{{ url_for('GradeServer.class_user_submit') }}">
									{{ problem.problemName }}
								</a>
							<td id="isAllInputCaseInOneFile_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.isAllInputCaseInOneFile }}"
								ondblclick="modifySelector(this.id)">
									{{ registeredProblem.isAllInputCaseInOneFile }}
							<!-- @To do -->
							<!-- When the script code was function call, it was not working. and don't know why. -->
							<td id="startDateOfSubmission_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.startDateOfSubmission }}"
								ondblclick="modifySelector(this.id)">
								<script>var newDate = "{{ registeredProblem.startDateOfSubmission }}"; document.write(newDate.split(' ')[0]);</script>
							<td id="endDateOfSubmission_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.endDateOfSubmission }}"
								ondblclick="modifySelector(this.id)">
								<script>var newDate = "{{ registeredProblem.endDateOfSubmission }}"; document.write(newDate.split(' ')[0]);</script>
							<td id="openDate_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.openDate }}"
								ondblclick="modifySelector(this.id)">
								<script>var newDate = "{{ registeredProblem.openDate }}"; document.write(newDate.split(' ')[0]);</script>
							<td id="closeDate_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.closeDate }}"
								ondblclick="modifySelector(this.id)">
								<script>var newDate = "{{ registeredProblem.closeDate }}"; document.write(newDate.split(' ')[0]);</script>
							<td>
								<label class="checkbox-center">
									<input type="checkbox"
											name="delete_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}"
											class="box-check">
								</label>
						<!-- this is for getting AIOF value when it's changed -->
						<div id="isAllInputCaseInOneFile_{{registeredProblem.courseId}}_{{registeredProblem.problemId}}">
						</div>
						{% endfor %}
				</table>
			</div>
			
			{% for course in ownCourses %}
			<div class="tab-pane" id="{{ course.courseId }}">
				<table class="table">
					<thead>
						<tr>
							<td>Course ID
							<td>Class Name
							<td>Problem Name
							<td><abbr title="All Input cases in One File">AIOF</abbr>
							<td>Start Date
							<td>End Date
							<td>Open Date
							<td>Close Date
							<td>Check <input class="checkAll" type="checkbox" style="margin:0px" onclick="selectAllCheckboxes('{{ course.courseId }}');">
					<tbody>
						{% for registeredProblem, registeredCourse, problem in ownProblems %}
						{% if course.courseId == registeredProblem.courseId %}
						<tr>
							<td>{{ registeredProblem.courseId }}
							<td>{{ registeredCourse.courseName }}
							<td>
								<a href="{{ url_for('GradeServer.class_user_submit') }}">
									{{ problem.problemName }}
								</a>
							<td id="isAllInputCaseInOneFileTab_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.isAllInputCaseInOneFile }}"
								ondblclick="modifySelector(this.id)">
								{{ registeredProblem.isAllInputCaseInOneFile }}
							<td id="startDateOfSubmissionTab_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.startDateOfSubmission }}"
								ondblclick="modifySelector(this.id)">
								<script>var newDate = "{{ registeredProblem.startDateOfSubmission }}"; document.write(newDate.split(' ')[0]);</script>
							<td id="endDateOfSubmissionTab_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.endDateOfSubmission }}"
								ondblclick="modifySelector(this.id)">
								<script>var newDate = "{{ registeredProblem.endDateOfSubmission }}"; document.write(newDate.split(' ')[0]);</script>
							<td id="openDateTab_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.openDate }}"
								ondblclick="modifySelector(this.id)">
								<script>var newDate = "{{ registeredProblem.openDate }}"; document.write(newDate.split(' ')[0]);</script>
							<td id="closeDateTab_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.closeDate }}"
								ondblclick="modifySelector(this.id)">
								<script>var newDate = "{{ registeredProblem.closeDate }}"; document.write(newDate.split(' ')[0]);</script>
							<td>
								<label class="checkbox-center">
									<input class="box-check" 
											name="delete_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}"
											type="checkbox">
								</label>
							<div id="isAllInputCaseInOneFileTab_{{registeredProblem.courseId}}_{{registeredProblem.problemId}}">
							</div>
							{% endif %}
						{% endfor %}
				</table>
			</div>
			{% endfor %}
		</div>
		<input type="submit" id="hidden_editButton" style="display:None"> <!-- virtual submit tag -->
		<input type="submit" id="hidden_deleteButton" style="display:None"> <!-- virtual submit tag -->
	</form>
	<div style="text-align:right">		
		<label for="hidden_editButton" style="display:inline">
			<button class="btn" id="editButton" style="display:None"> <!-- real submit tag -->
				Confirm
			</button> 
		</label>
		<a class="btn" data-toggle="modal" role="button"
		 	onclick="showingDeleteModal()">Delete</a>
	</div>

	<!-- ///// Delete case ///// -->
	<div class="modal hide fade" id="deleteModal"
		  role="dialog" aria-labelledby="deleteProblemModalLabel"
		  aria-hidden="true" tabindex="-1">
		<div class="modal-header">
			<button class="close" type="button"
					  data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="deleteProblemModalLabel">Problem Deletion</h3>
		</div>
		<div class="modal-body">
			<p>Do you really want to delete it?</p>
		</div>
		<div class="modal-footer">
			<label for="hidden_deleteButton" style="display:inline">
				<button class="btn" id="deleteButton"> 
					Confirm
				</button>
			</label>
			<button class="btn" data-dismiss="modal" aria-hidden="true">
				Close
			</button>
		</div>
	</div>
	<!-- no items choosed -->
	<div class="modal hide fade" id="deleteNoItem"
		  role="dialog" aria-labelledby="deleteModalLabel"
		  aria-hidden="true" tabindex="-1">
		<div class="modal-header">
			<button class="close" type="button"
					  data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="deleteModalLabel">Problem Deletion</h3>
		</div>
		<div class="modal-body">
			<p>No items choosed</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">
				Close
			</button>
		</div>
	</div>
	<!-- ///// end hidden modal pop ///// -->

	<div class="pagination pagination-centered">
		<ul>
			<li><a href="#">Prev</a>
			<li><a href="#">1</a>
			<li><a href="#">2</a>
			<li><a href="#">3</a>
			<li><a href="#">4</a>
			<li><a href="#">5</a>
			<li><a href="#">Next</a>
		</ul>
	</div>

	<div class="container" id="test" style="text-align:center">
		<div class="input-prepend input-append" style="margin-bottom:0px">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					All <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">All</a>
					<li><a href="#">Course Id</a>
					<li><a href="#">Class Name</a>
					<li><a href="#">Department</a>
					<li><a href="#">Problem Name</a>
				</ul>
			</div>
			<input class="span3" id="prependedDropdownButton" name="keyword"
				 	type="text" placeholder="Type keyword">
				<button class="btn" type="submit">Find</button>
		</div>
	</div>
</div>
<script>
$(function(){
	if (!Modernizr.inputtypes['date']) {
		$('input[type=date]').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	}
});
// target == isAllInputCaseInOneFile_ or startDateOfSubmission_ or endDateOfSubmission_ or openDate_ or closeDate_ or delete_
function modifySelector(target){ 
	document.getElementById("editButton").style.display="";
	var targetValue=document.getElementById(target).innerHTML;
	// when user double clicked the form, innerHTML contains the word 'input'
	// In this case, targetValue shouldn't be '<input ... >' but only date.
	// using regular expression, find date value.
	if(targetValue.indexOf("input") > -1){
		var tokens=targetValue.split(' ');
		for(var i=0;i<tokens.length;i++){
			if(tokens[i].indexOf("value") > -1){
				targetValue=tokens[i].split("=\"")[1];
				break;
			}
		}
	}
	if(target.split("_")[0] == "isAllInputCaseInOneFile" || 
	   target.split("_")[0] == "isAllInputCaseInOneFileTab"){
		if(targetValue.indexOf("TRUE")!=-1){
			targetValue=document.getElementById(target).innerHTML="FALSE";
		}
		else{
			targetValue=document.getElementById(target).innerHTML="TRUE";
		}
		document.getElementById(target.split("_")[0]+'_'+
									 target.split("_")[1]+'_'+
									 target.split("_")[2]).innerHTML
			="<input id='"+target+
				     "'type='hidden'"+
				     "name='edit_"+target+
				     "'value='"+targetValue+"'>";
	}
	// about dates
	else{
		var date = targetValue.replace(/\t/g, '').split(' ')[0];
		document.getElementById(target).innerHTML=
			"<input class='datepicker input-usmall'"+
				    "'id='"+target+
				    "'name='edit_"+target+
				    "'data-date-format='yyyy-mm-dd'"+
				    "type='date'"+
				    "value='"+date+
				    "'autocomplete='off'"+
				    "placeholder='click' onmousedown='showDatepicker();'>";
	}
}
function showDatepicker() {
	if (!Modernizr.inputtypes['date']) {
		$('input[type=date]').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	}
}

$("#addline_problem").bind('click', function(){
	var targetTable=document.getElementById('problems');
	var numOfRow=targetTable.rows.length;

	reset_val=function(){
		$("#courseId1").val("");
		$("#problemId1").val("");
		$("#isAllInputCaseInOneFile1").attr("checked", false);
		$("#startDate1").val("");
		$("#openDate1").val("");
		$("#endDate1").val("");
		$("#closeDate1").val("");
	};
	
	var newRow=targetTable.insertRow(2);
	var uploadObj;
	var keys=['courseId', 'problemId', 'isAllInputCaseInOneFile',
				'startDate', 'endDate', 'openDate', 'closeDate'];
	var placeholders=['course name', 'problem name', '', 
						'click', 'click', 'click', 'click'];
	var formsize=['', '', 'checkbox-center','datepicker input-usmall',
					'datepicker input-usmall', 'datepicker input-usmall', 
					'datepicker input-usmall'];

	for(var i=0; i < targetTable.rows[0].cells.length; i++){  
		uploadObj="<tr>";
		if(i < 2){
			uploadObj+="<td>"+
							"<select id='"+keys[i]+numOfRow+
									"'name='"+keys[i]+numOfRow+"'>";
			if(i == 0){
				var selectedItem=document.getElementById("courseId1");
				var index=selectedItem.options[selectedItem.selectedIndex].index+1;
				{%- for ownCourse in ownCourses %}
				uploadObj+="<option";
				if(index == "{{ loop.index }}"){
					uploadObj+=" selected";
				}
				uploadObj+=">{{ ownCourse.courseId }} {{ ownCourse.courseName }}"+
							   "</option>";
				{% endfor -%}
			}
			else{
				var selectedItem=document.getElementById("problemId1");
				var index=selectedItem.options[selectedItem.selectedIndex].index+1;
				{%- for problem in allProblems %}
				uploadObj+="<option";
				if(index == "{{ loop.index }}"){
					uploadObj+=" selected";
				}
				uploadObj+=">{{ problem.problemId }} {{ problem.problemName }}"+
							  "</option>";
				{% endfor -%}
			}
			uploadObj+="</select>";
		}
		else if(i == 2){
			var val_mf=document.getElementById('isAllInputCaseInOneFile1');
			uploadObj+="<td>";
			if(val_mf.checked == true){
				uploadObj+="<label class='"+formsize[i]+"'>"+
									"<input class='box-check'"+
										    "'id='"+keys[i]+numOfRow+
										    "'name='"+keys[i]+numOfRow+
										    "'type='checkbox'"+
										    "checked=true>"+
							   "</label>";
			}
			else{
				uploadObj+="<label class='"+formsize[i]+"'>"+
									"<input class='box-check'"+
										    "'id='"+keys[i]+numOfRow+
										    "'name='"+keys[i]+numOfRow+
										    "'type='checkbox'>"+
							   "</label>";
			}
		}
		else{
			uploadObj+="<td>"+
							"<input class='"+formsize[i]+
								    "'id='"+keys[i]+numOfRow+
								    "'name='"+keys[i]+numOfRow+
								    "'type='date'"+
								    "data-date-format='yyyy-mm-dd'"+
								    "autocomplete='off'"+
								    "placeholder='"+placeholders[i]+
								    "'value='"+$("#"+keys[i]+"1").val()+"'>";
		}
		newRow.insertCell(i).innerHTML=uploadObj;
	}
	if (!Modernizr.inputtypes['date']) {
		$('input[type=date]').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	}
	reset_val();
});

$("#resetAddProblemForm").bind('click', function(){
	document.getElementById("addProblemForm").innerHTML=
		'<tr>'+
			'<td>'+
				'<select id="courseId1" name="courseId1">'+
					'{%- for ownCourse in ownCourses %}'+
					'<option> {{ ownCourse.courseId }} {{ ownCourse.courseName }}'+
					'</option>'+
					'{% endfor -%}'+
				'</select>'+
			'<td>'+
				'<select id="problemId1" name="problemId1">'+
					'{%- for problem in allProblems %}'+
					'<option> {{ problem.problemId }} {{ problem.problemName }}'+
					'</option>'+
					'{% endfor -%}'+
				'</select>'+
			'<td>'+
				'<label class="checkbox-center">'+
					'<input class="box-check" id="isAllInputCaseInOneFile1"'+
							'name="isAllInputCaseInOneFile1" type="checkbox">'+
				'</label>'+
			'<td>'+
				'<input class="datepicker input-usmall" id="startDate1"'+
						'name="startDate1"'+
						'data-date-format="yyyy-mm-dd" type="date"'+
						'autocomplete="off" placeholder="click">'+
			'<td>'+
				'<input class="datepicker input-usmall" id="endDate1"'+
						'name="endDate1"'+
						'data-date-format="yyyy-mm-dd" type="date"'+
						'autocomplete="off" placeholder="click">'+
			'<td>'+
				'<input class="datepicker input-usmall" id="openDate1"'+
						'name="openDate1"'+
						'data-date-format="yyyy-mm-dd" type="date"'+
						'autocomplete="off" placeholder="click">'+
			'<td>'+
				'<input class="datepicker input-usmall" id="closeDate1"'+
						'name="closeDate1"'+
						'data-date-format="yyyy-mm-dd" type="date"'+
						'autocomplete="off" placeholder="click">' ;
	
	document.getElementById("modalError").style.display="none";

	if (!Modernizr.inputtypes['date']) {
		$('input[type=date]').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	}
});

// checking validations of dates
function checkFormValidation(){
	var targetTable = document.getElementById('problems');
	var numOfRow = targetTable.rows.length;
	var isValid = true;

	for(var row=1;row<numOfRow;row++){
		if(document.getElementById("startDate"+row).value > document.getElementById("endDate"+row).value ||
		   document.getElementById("openDate"+row).value > document.getElementById("closeDate"+row).value){
			isValid = false;
			break;
		}
	}

	if(isValid){
		// send http request
		document.getElementById("addProblemModalForm").submit();
	}
	else{
		// when the dates are invalid, shows error message.
		document.getElementById("modalError").style.display = "inline-block";
		document.getElementById("modalError").innerHTML = "make sure that Start/Open dates should be earlier than End/Close Date";
	}
}
</script>
{% endblock -%}