<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{%- extends "main.html" -%}
{%- block body %}
<script>
$(function() {
  var ownCourses = [
    {%- for course in ownCourses %}
    { value: "{{ course.courseId }} {{ course.courseName }}", data: "{{ course.courseId }}" },
    {% endfor -%}
    { value : ""}
  ];
  $("#courseId1").autocomplete({
    lookup: ownCourses,
    onSelect: function(suggestion){
      document.getElementById(this.id).value = suggestion.data;
    }
  });

  var authorities = [
    {%- for authority in authorities %}
    { value: "{{ authority }}" },
    {% endfor -%}
    { value: ""}
  ];
  $("#authority1").autocomplete({
    lookup: authorities
  });
  
  $("#addline").bind('click',function(){
		
	  var targetTable = document.getElementById('indivisual');
	  var numOfRow = targetTable.rows.length;

	  reset_val = function(){
	    
	    $("#courseId1").val("");
	    $("#userId1").val("");
	    $("#username1").val("");
	    $("#authority1").val("");
	    $("#college1").val("");
	    $("#department1").val("");
	  }

	  var newRow = targetTable.insertRow(2);
	  var uploadObj;
	  var keys = ['courseId', 'userId', 'username', 'college', 'department', 'authority'];
	  var placeholders = ['Course Id', 'ID', 'Name', 'College', 'Department', 'Authority'];
	  var formsize = ['input-small formLine1', 'input-small formLine1', 'input-mini formLine1', 'input-medium formLine1', 'input-medium formLine1', 'input-small formLine1'];
	  for(var i = 0; i < targetTable.rows[0].cells.length; i++){  
	    uploadObj = "<tr><td><input type='text' ";

	    uploadObj += "class = '" + formsize[i] +"' id = '" + keys[i] + numOfRow + "' name = '" + keys[i] + numOfRow + "' placeholder = '" + placeholders[i] + "' value = '" + $("#" + keys[i] + "1").val();

	    newRow.insertCell(i).innerHTML = uploadObj + "' form='addIndivisualUser'></td>";
	  }
	  $("#authority"+numOfRow).autocomplete({
	        lookup: authorities
			});
	  $("#courseId"+numOfRow).autocomplete({
	        lookup: ownCourses,
	        onSelect: function(suggestion){
	              document.getElementById(this.id).value = suggestion.data;
	        }
	  });
	  reset_val();
	


	});
	
});
</script>
<div class="container">
	<div>
		<h3>Add User</h3>
		<!-- if any button is checked, then showing modal pop -->
		<div style="text-align:right">
			<a class="btn" href="#addUserModal" data-toggle="modal" role="button">Indivisual</a>
			<a class="btn" href="#addGroupModal" data-toggle="modal" role="button">Group</a>
			<a class="btn" data-toggle="modal" role="button" onclick="showingDeleteModal()">Delete</a>
		</div>

		<!-- hidden modal pop -->
		<!-- ///// Add indivisual ///// -->
		<div class="modal hide fade in" id="addUserModal" aria-labelledby="addUserModalLabel" aria-hidden="false" role="dialog" tabindex="-1" style="display:None;width:900px;margin-left:-450px">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="addUserModalLabel">Add User</h3>
			</div>
			<div class="modal-body">
				<div style="text-align:right">
					<button class="btn" id="addline" type="button" >Add line</button>
				</div>
				<table class="table table-bordered" id="indivisual" style="margin-top:10px">
					<thead>
						<tr>
							<td>Course ID
							<td>User ID
							<td>Name
							<td>College
							<td>Department
							<td>Authority
					<tbody id="indivisualUserForm">
						<tr>
							<td><input class="input-small formLine1 " id="courseId1" name="courseId1" type="text" form="addIndivisualUser" placeholder="Course ID" value="">
							<td><input class="input-small formLine1" id="userId1" name="userId1" type="text" form="addIndivisualUser" placeholder="ID" value="">
							<td><input class="input-mini formLine1" id="username1" name="username1" type="text" form="addIndivisualUser" placeholder="Name" value="">
							<td><input class="input-medium formLine1" id="college1" name="college1" type="text" form="addIndivisualUser" placeholder="College" value="">
							<td><input class="input-medium formLine1" id="department1" name="department1" type="text" form="addIndivisualUser" placeholder="Department" value="">
							<td><input class="input-small formLine1 " id="authority1" name="authority1" type="text" form="addIndivisualUser" placeholder="Authority" value="">
				</table>
			</div>
			<div class="modal-footer">
				<form id="addIndivisualUser" method="post">
					<button class="btn" name="addIndivisualUser" type="submit">Done</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true" onclick="resetIndivisualUserForm('course')">Close</button>
				</form>
			</div>
		</div>

		<!-- ///// add group ///// -->
		<div class="modal hide fade" id="addGroupModal" aria-labelledby="addGroupModalLabel" aria-hidden="true" role="dialog" tabindex="-1">
			<form method="post" enctype="multipart/form-data">
				<div class="modal-header">
					<button class="close" data-dismiss="modal" type="button" aria-hidden="true">x</button>
					<h3 id="addGroupModalLabel">Add User</h3>
				</div>
				<div class="modal-body">
					<p>default authority is "User(student)"</p>
					Manual : userId="userid", username="username", college="college Index", department="department Index"<br>
					File(*.txt) : <input type="file" name="files" multiple>
				</div>
				<div class="modal-footer">
					<button class="btn" name="addUserGroup" type="submit">Done</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>
			</form>
		</div>

		<!-- ///// Delete case /////
				if any item choiced -->
		<div class="modal hide fade" id="deleteModal" aria-labelledby="deleteModalLabel" aria-hidden="true" role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">Delete User</h3>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete it?</p>
			</div>
			<div class="modal-footer">
				<form id="delete" method="post">
					<button class="btn" name="deleteUser" type="submit">Confirm</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				</form>
			</div>
		</div>
		<!-- no items choiced -->
		<div class="modal hide fade" id="deleteNoItem" aria-labelledby="deleteModalLabel" aria-hidden="true" role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">Delete User</h3>
			</div>
			<div class="modal-body">
				<p>No items choiced</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
		<!-- ///// end hidden modal pop ///// -->
		<form method="post">
			<table class="table table-bordered" style="margin-top:10px">
				<thead>
					<tr>
						<td>Index
						<td>User Id
						<td>User Name
						<td>Authority
						<td>College
						<td>Department
						<td>Check
				<tbody>
					<script> index = 0; </script>
					{%- for newUser in newUsers %}
					<tr>
						<td><script> document.write(++index); </script>
						<td>{{ newUser[0] }}
						<td>{{ newUser[1] }}
						<td>{% if newUser[2]=="User" %}Student{% else %}{{ newUser[2] }}{% endif %}
						<td>{{ newUser[4] }}
						<td>{{ newUser[6] }}
						<td><label class="checkbox-center"><input class="box-check" name="{{ newUser[0] }}" type="checkbox" form="delete" value="{{ newUser[0] }}"></label>
					{% endfor -%}
			</table>
			<a href="{{ url_for('GradeServer.server_add_user') }}"><button class="btn" name="addUser" type="submit">Done</button></a>
		</form>
	</div>
</div>
{% endblock -%}