<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block li %}
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><abbr title="Big welcome!">"User ID" </abbr><b class="caret"></b></a>
	<ul class="dropdown-menu">
		<li><a href="{{ url_for('GradeServer.id_check', select='account') }}">Account</a></li>
		<li><a href="{{ url_for('GradeServer.board') }}">Notice</a></li> <!-- same with board, the difference is db-query for contents -->
		<li><a href="#">Manual</a></li>
		<li class="dropdown-submenu">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="server-management">Class Management</a>
			<ul class="dropdown-menu" id="menu-box">
				<li><a href="{{ url_for('GradeServer.id_check', select='user_submit') }}" id='manage-problem'>User Submit</a></li>
				<li><a href="{{ url_for('GradeServer.id_check', select='cm_manage_problem') }}" id='manage-class'>Problem</a></li>
				<li><a href="{{ url_for('GradeServer.id_check', select='cm_manage_user') }}" id='manage-user'>User</a></li>
				<li><a href="{{ url_for('GradeServer.id_check', select='cm_manage_service') }}" id='manage-service'>Service</a></li>
			</ul>
		</li>
		<li><a href="{{ url_for('GradeServer.sign_out') }}">Sign out</a></li>
	</ul>
</li>
<li><a href="#"><i class="icon-bell icon-white"></i></a></li>
{% endblock -%}