<!-- 
	@@ class_manage_problem.html

	The page when course administrator manages registered problems.
	author: seulgi choi
-->

{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active">
				<a id="link-all" data-toggle="tab" href="#all">
					all
				</a>
			{% for course in ownCourses %}
			<li>
				<a data-toggle="tab" href="#{{ course.courseId }}" onclick="visibleButton(this)">
					{{ course.courseId }}{{ course.courseName }}
				</a>
			{% endfor %}
			</li> <!-- without li closing tag, div tag is recognized as a part of the second tag -->
			<div style="text-align:right">
				<div class="visible-desktop">
					<a class="btn" data-toggle="modal" href="#addProblemModal"
						rol="button">
						{{ LanguageResources.const.Addition[session['language']] }}
					</a>
				</div>
				<div class="visible-phone visible-tablet">
					<button class="btn"
							  onclick="alert('not available in this window size');">
						{{ LanguageResources.const.Addition[session['language']] }}
					</button>
				</div>
			</div>	
		</ul>
		
		<form id="addProblemModalForm" method="post">
		<!--
			@@ Hidden modal pop

			1. Problem addition
			2. Problem deletion
			3. No item choosed
		-->
		<!-- Problem addition -->
		<div class="modal hide fade" id="addProblemModal" 
			  aria-labelledby="addProblemModalLabel" aria-hidden="true"
			  role="dialog" tabindex="-1">
			<div class="modal-header">
				<div class="error" id="modalError" style="display:none;width:97%">
				</div>
				<button class="close" data-dismiss="modal"
						  type="button" aria-hidden="true">
				  	x
			  	</button>
				<h3 id="addProblemModalLabel">
					{{ LanguageResources.const.Problem[session['language']] }}
					{{ LanguageResources.const.Addition[session['language']] }}
				</h3>
			</div>
			<div class="modal-body">
				<p>If you don't choose open/close date, then the dates will be the same with start/end date<br></p>
				<div style="text-align:right">
					<button class="btn" id="addline_problem" type="button">
						{{ LanguageResources.const.AddLine[session['language']] }}
					</button>
				</div>
				<table class="table table-bordered" id='problems'
					     style="margin-top:10px">
					<thead>
						<tr>
							<td>
								{{ LanguageResources.const.Course[session['language']] }}
								{{ LanguageResources.const.Number[session['language']] }}
							<td>
								{{ LanguageResources.const.Problem[session['language']] }}
								{{ LanguageResources.const.Name[session['language']] }}
							<td>
								<abbr title="All Input cases in One File">AIOF</abbr>
							<td>
								{{ LanguageResources.const.StartDate[session['language']] }}
							<td>
								{{ LanguageResources.const.FinishDate[session['language']] }}
							<td>
								{{ LanguageResources.const.OpenDate[session['language']] }}
							<td>
								{{ LanguageResources.const.CloseDate[session['language']] }}
					<tbody id="addProblemForm">
						<tr>
							<td>
								<select id="courseId1" name="courseId1">
									{%- for ownCourse in ownCourses %}
									<option> {{ ownCourse.courseId }} {{ ownCourse.courseName }}
									</option>
									{% endfor -%}
								</select>
							<td>
								<select id="problemId1" name="problemId1">
									{%- for problem in allProblems %}
									<option> {{ problem.problemId }} {{ problem.problemName }}
									</option>
									{% endfor -%}
								</select>
							<td>
								<label class="checkbox-center">
									<input class="box-check" id="isAllInputCaseInOneFile1"
										 	name="isAllInputCaseInOneFile1" type="checkbox">
								</label>
							<td>
								<input class="datepicker input-usmall" id="startDate1"
										name="startDate1" data-date-format="yyyy-mm-dd"
										type="udate" autocomplete="off" placeholder="click">
							<td>
								<input class="datepicker input-usmall" id="endDate1"
										name="endDate1" data-date-format="yyyy-mm-dd"
										type="udate" autocomplete="off" placeholder="click">
							<td>
								<input class="datepicker input-usmall" id="openDate1"
										name="openDate1" data-date-format="yyyy-mm-dd"
										type="udate" autocomplete="off" placeholder="click">
							<td>
								<input class="datepicker input-usmall" id="closeDate1"
										name="closeDate1" data-date-format="yyyy-mm-dd"
										type="udate" autocomplete="off" placeholder="click">
				</table>
			</div>
			<div class="modal-footer">
				<a class="btn" onclick="checkFormValidation()">
					{{ LanguageResources.const.Done[session['language']] }}
				</a>
				<button class="btn" id="resetAddProblemForm"
						  data-dismiss="modal" aria-hidden="true">
					{{ LanguageResources.const.Close[session['language']] }}
				</button>
</form>
			</div>
		</div>

	<form id="problemForm" method="post">
		<div class="tab-content">
			<div class="tab-pane active" id="all">
				<table class="table" id="allProblems">
					<thead>
						<tr>
							<td>
								{{ LanguageResources.const.Course[session['language']] }}
								{{ LanguageResources.const.Number[session['language']] }}
							<td>
								{{ LanguageResources.const.Course[session['language']] }}
								{{ LanguageResources.const.Name[session['language']] }}
							<td>
								{{ LanguageResources.const.Problem[session['language']] }}
								{{ LanguageResources.const.Addition[session['language']] }}
							<td><abbr title="All Input cases in One File">AIOF</abbr>
							<td>
								{{ LanguageResources.const.StartDate[session['language']] }}
							<td>
								{{ LanguageResources.const.FinishDate[session['language']] }}
							<td>
								{{ LanguageResources.const.OpenDate[session['language']] }}
							<td>
								{{ LanguageResources.const.CloseDate[session['language']] }}
							<td>
								{{ LanguageResources.const.Check[session['language']] }}
								<input class="checkAll" type="checkbox"
										onclick="selectAllCheckboxes('allProblems');"
										style="margin:0px">
					<tbody>
						{% for registeredProblem, registeredCourse, problem in ownProblems %}
						<tr>
							<td>{{ registeredProblem.courseId }}
							<td>{{ registeredCourse.courseName }}
							<td>
								<a href="{{ url_for('GradeServer.class_user_submit') }}">
									{{ problem.problemName }}
								</a>
							<td id="isAllInputCaseInOneFile_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.isAllInputCaseInOneFile }}"
								ondblclick="modifySelector(this.id)">
								{{ registeredProblem.isAllInputCaseInOneFile }}
							<td class="shortdate"
								 id="startDateOfSubmission_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.startDateOfSubmission }}"
								ondblclick="modifySelector(this.id)">
								{{ registeredProblem.startDateOfSubmission }}
							<td class="shortdate"
								 id="endDateOfSubmission_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.endDateOfSubmission }}"
								ondblclick="modifySelector(this.id)">
								{{ registeredProblem.endDateOfSubmission }}
							<td class="shortdate"
								 id="openDate_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.openDate }}"
								ondblclick="modifySelector(this.id)">
								{{ registeredProblem.openDate }}
							<td class="shortdate"
								 id="closeDate_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.closeDate }}"
								ondblclick="modifySelector(this.id)">
								{{ registeredProblem.closeDate }}
							<td>
								<label class="checkbox-center">
									<input type="checkbox"
											name="delete_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}"
											class="box-check">
								</label>
						<!-- this is for getting AIOF value when it's changed -->
						<div id="isAllInputCaseInOneFile_{{registeredProblem.courseId}}_{{registeredProblem.problemId}}">
						</div>
						{% endfor %}
				</table>
			</div>
			
			{% for course in ownCourses %}
			<div class="tab-pane" id="{{ course.courseId }}">
				<table class="table">
					<thead>
						<tr>
							<td>
								{{ LanguageResources.const.Course[session['language']] }}
								{{ LanguageResources.const.Number[session['language']] }}
							<td>
								{{ LanguageResources.const.Course[session['language']] }}
								{{ LanguageResources.const.Name[session['language']] }}
							<td>
								{{ LanguageResources.const.Problem[session['language']] }}
								{{ LanguageResources.const.Addition[session['language']] }}
							<td><abbr title="All Input cases in One File">AIOF</abbr>
							<td>
								{{ LanguageResources.const.StartDate[session['language']] }}
							<td>
								{{ LanguageResources.const.FinishDate[session['language']] }}
							<td>
								{{ LanguageResources.const.OpenDate[session['language']] }}
							<td>
								{{ LanguageResources.const.CloseDate[session['language']] }}
							<td>
								{{ LanguageResources.const.Check[session['language']] }}
								<input class="checkAll" type="checkbox" style="margin:0px" onclick="selectAllCheckboxes('{{ course.courseId }}');">
					<tbody>
						{% for registeredProblem, registeredCourse, problem in ownProblems %}
						{% if course.courseId == registeredProblem.courseId %}
						<tr>
							<td>{{ registeredProblem.courseId }}
							<td>{{ registeredCourse.courseName }}
							<td>
								<a href="{{ url_for('GradeServer.class_user_submit') }}">
									{{ problem.problemName }}
								</a>
							<td id="isAllInputCaseInOneFileTab_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.isAllInputCaseInOneFile }}"
								ondblclick="modifySelector(this.id)">
								{{ registeredProblem.isAllInputCaseInOneFile }}
							<td class="shortdate"
								id="startDateOfSubmissionTab_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.startDateOfSubmission }}"
								ondblclick="modifySelector(this.id)">
								{{ registeredProblem.startDateOfSubmission }}
							<td class="shortdate"
								id="endDateOfSubmissionTab_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.endDateOfSubmission }}"
								ondblclick="modifySelector(this.id)">
								{{ registeredProblem.endDateOfSubmission }}
							<td class="shortdate"
								id="openDateTab_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.openDate }}"
								ondblclick="modifySelector(this.id)">
								{{ registeredProblem.openDate }}
							<td class="shortdate"
								id="closeDateTab_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}_{{ registeredProblem.closeDate }}"
								ondblclick="modifySelector(this.id)">
								{{ registeredProblem.closeDate }}
							<td>
								<label class="checkbox-center">
									<input class="box-check" 
											name="delete_{{ registeredProblem.courseId }}_{{ registeredProblem.problemId }}"
											type="checkbox">
								</label>
							<div id="isAllInputCaseInOneFileTab_{{registeredProblem.courseId}}_{{registeredProblem.problemId}}">
							</div>
							{% endif %}
						{% endfor %}
				</table>
			</div>
			{% endfor %}
		</div>
		<!--
			@@ Hidden submit tags

			in IE, it doesn't support HTML5 well so, submit tag out of 'form' tag is not working.
			it's kind of trick that putting submit tag in form tag with hidden attribute
			and make another button to trigger the hidden submit tag out of the form tag
		-->
		<input type="submit" id="hidden_editButton" style="display:None">
		<input type="submit" id="hidden_deleteButton" style="display:None">
	</form>
	<div style="text-align:right">	
		<!-- 'for' attribute is that to be an anchor to real form tag -->
		<label for="hidden_editButton" style="display:inline">
			<!-- submit tag trigger button -->
			<button class="btn" id="editButton" style="display:None">
				{{ LanguageResources.const.Confirm[session['language']] }}
			</button> 
		</label>
		<a class="btn" data-toggle="modal" role="button"
		 	onclick="showingDeleteModal()">
		 	{{ LanguageResources.const.Deletion[session['language']] }}
		</a>
	</div>

	<!-- Problem deletion -->
	<div class="modal hide fade" id="deleteModal"
		  aria-hidden="true" aria-labelledby="deleteProblemModalLabel"
		  role="dialog"  tabindex="-1">
		<div class="modal-header">
			<button class="close" type="button"
					  data-dismiss="modal" aria-hidden="true">
			  	x
		  	</button>
			<h3 id="deleteProblemModalLabel">
				{{ LanguageResources.const.Problem[session['language']] }}
				{{ LanguageResources.const.Deletion[session['language']] }}
			</h3>
		</div>
		<div class="modal-body">
			<p>Do you really want to delete it?</p>
		</div>
		<div class="modal-footer">
			<label for="hidden_deleteButton" style="display:inline">
				<button class="btn" id="deleteButton"> 
					{{ LanguageResources.const.Confirm[session['language']] }}
				</button>
			</label>
			<button class="btn" data-dismiss="modal" aria-hidden="true">
				{{ LanguageResources.const.Close[session['language']] }}
			</button>
		</div>
	</div>

	<!-- No items choosed when deletion button's clicked -->
	<div class="modal hide fade" id="deleteNoItem"
		  role="dialog" aria-labelledby="deleteModalLabel"
		  aria-hidden="true" tabindex="-1">
		<div class="modal-header">
			<button class="close" type="button"
					  data-dismiss="modal" aria-hidden="true">
			  	x
		  	</button>
			<h3 id="deleteModalLabel">
				{{ LanguageResources.const.Problem[session['language']] }}
				{{ LanguageResources.const.Deletion[session['language']] }}
			</h3>
		</div>
		<div class="modal-body">
			<p>No items choosed</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">
				{{ LanguageResources.const.Close[session['language']] }}
			</button>
		</div>
	</div>

	<!--
		@@ Pagination

		!!TODO
		it's just shape without any function
		doesn't move to next page
	-->
	<div class="pagination pagination-centered">
		<ul>
			<li><a href="#">Prev</a>
			<li><a href="#">1</a>
			<li><a href="#">2</a>
			<li><a href="#">3</a>
			<li><a href="#">4</a>
			<li><a href="#">5</a>
			<li><a href="#">Next</a>
		</ul>
	</div>

	<!-- 
		@@ Search

		!!TODO
		it's just shape without any function
		doesn't show you the result of query
	-->
	<div class="container" id="test" style="text-align:center">
		<div class="input-prepend input-append" style="margin-bottom:0px">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
					All <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">All</a>
					<li><a href="#">Course Id</a>
					<li><a href="#">Class Name</a>
					<li><a href="#">Department</a>
					<li><a href="#">Problem Name</a>
				</ul>
			</div>
			<input class="span3" id="prependedDropdownButton" name="keyword"
				 	type="text" placeholder="Type keyword">
				<button class="btn" type="submit">
					{{ LanguageResources.const.Find[session['language']] }}
				</button>
		</div>
	</div>
</div>
<script>
/*
	@@ Confirm(edition) button click event

	When 'Confirm' button's clicked, submit data
*/
$("#editButton").click(function(){
	document.getElementById("problemForm").submit();
});

/*
	@@ Confirm(Delete) button click event

	When 'Confirm' button's clicked, submit data
*/
$("#deleteButton").click(function(){
	document.getElementById("problemForm").submit();
});

// date picker
$(function(){
	if (!Modernizr.inputtypes['udate']) {
		$('input[type=udate]').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	}
});

/*
	@@ Modification problem information event
	
	When you double click on the values(multiple files, dates) of the table,
	it changes mode for modification. shows input forms for dates

	target == isAllInputCaseInOneFile_ or 
				startDateOfSubmission_ or 
				endDateOfSubmission_ or 
				openDate_ or 
				closeDate_ or 
				delete_
			+ other information

	1. double clicking
	2. modification confirmation button display
	3. target to modify is changed
*/
function modifySelector(target){ 
	document.getElementById("editButton").style.display="";

	var targetValue=document.getElementById(target).innerHTML;
	// when user double clicks the form, innerHTML contains the word 'input'
	// In this case, targetValue shouldn't be '<input ... >' but only date.
	// using regular expression, find date value.

	// get real value from row html text
	if(targetValue.indexOf("input") != -1){
		var tokens=targetValue.split(' ');
		for(var i=0;i<tokens.length;i++){
			if(tokens[i].indexOf("value") != -1){
				targetValue=tokens[i].split("=\"")[1];
				break;
			}
		}
	}

	// if the target is multiple files
	if(target.split("_")[0] == "isAllInputCaseInOneFile" || 
	   target.split("_")[0] == "isAllInputCaseInOneFileTab"){
		if(targetValue.indexOf("TRUE")!=-1){
			targetValue=document.getElementById(target).innerHTML="FALSE";
		}
		else{
			targetValue=document.getElementById(target).innerHTML="TRUE";
		}
		document.getElementById(target.split("_")[0]+'_'+
									 target.split("_")[1]+'_'+
									 target.split("_")[2]).innerHTML
			="<input id='"+target+
				     "'type='hidden'"+
				     "name='edit_"+target+
				     "'value='"+targetValue+"'>";
	}
	
	// if the target is date
	else{
		var date = targetValue.replace(/\t/g, '').split('<\/script>')[1];
		document.getElementById(target).innerHTML=
			"<input class='datepicker input-usmall'"+
				    "'id='"+target+
				    "'name='edit_"+target+
				    "'data-date-format='yyyy-mm-dd'"+
				    "type='udate'"+
				    "value='"+date+
				    "'autocomplete='off'"+
				    "placeholder='click'"+
				    "onmousedown='showDatepicker();'>";
	}
}

/*
	@@ Datepicker

	global function $(function(){}); is not working if the target is generated dynamically
	like in here 'document.getElementById(target).innerHTML(... type='udate' ...)' 
	that doesn't show date picker. 

	so, it need another way to use it
	that is making a function 
*/
function showDatepicker() {
	if (!Modernizr.inputtypes['udate']) {
		$('input[type=udate]').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	}
}

/*
	@@ addline button function
*/
$("#addline_problem").bind('click', function(){
	var targetTable=document.getElementById('problems');
	var numOfRow=targetTable.rows.length;

	/* reset form values */
	reset_val=function(){
		$("#courseId1").val("");
		$("#problemId1").val("");
		$("#isAllInputCaseInOneFile1").attr("checked", false);
		$("#startDate1").val("");
		$("#openDate1").val("");
		$("#endDate1").val("");
		$("#closeDate1").val("");
	};
	
	var newRow=targetTable.insertRow(2);
	var uploadObj;
	var keys=['courseId', 'problemId', 'isAllInputCaseInOneFile',
				'startDate', 'endDate', 'openDate', 'closeDate'];
	var placeholders=['course name', 'problem name', '', 
						'click', 'click', 'click', 'click'];
	var formsize=['', '', 'checkbox-center','datepicker input-usmall',
					'datepicker input-usmall', 'datepicker input-usmall', 
					'datepicker input-usmall'];

	for(var i=0; i < targetTable.rows[0].cells.length; i++){  
		uploadObj="<tr>";
		// course id, problem id
		if(i < 2){
			uploadObj+="<td>"+
							"<select id='"+keys[i]+numOfRow+
									"'name='"+keys[i]+numOfRow+"'>";
			if(i == 0){
				var selectedItem=document.getElementById("courseId1");
				var index=selectedItem.options[selectedItem.selectedIndex].index+1;
				{%- for ownCourse in ownCourses %}
				uploadObj+="<option";
				if(index == "{{ loop.index }}"){
					uploadObj+=" selected";
				}
				uploadObj+=">{{ ownCourse.courseId }} {{ ownCourse.courseName }}"+
							   "</option>";
				{% endfor -%}
			}
			else{
				var selectedItem=document.getElementById("problemId1");
				var index=selectedItem.options[selectedItem.selectedIndex].index+1;
				{%- for problem in allProblems %}
				uploadObj+="<option";
				if(index == "{{ loop.index }}"){
					uploadObj+=" selected";
				}
				uploadObj+=">{{ problem.problemId }} {{ problem.problemName }}"+
							  "</option>";
				{% endfor -%}
			}
			uploadObj+="</select>";
		}
		// multiple files
		else if(i == 2){
			var val_mf=document.getElementById('isAllInputCaseInOneFile1');
			uploadObj+="<td>";
			if(val_mf.checked == true){
				uploadObj+="<label class='"+formsize[i]+"'>"+
									"<input class='box-check'"+
										    "'id='"+keys[i]+numOfRow+
										    "'name='"+keys[i]+numOfRow+
										    "'type='checkbox'"+
										    "checked=true>"+
							   "</label>";
			}
			else{
				uploadObj+="<label class='"+formsize[i]+"'>"+
									"<input class='box-check'"+
										    "'id='"+keys[i]+numOfRow+
										    "'name='"+keys[i]+numOfRow+
										    "'type='checkbox'>"+
							   "</label>";
			}
		}
		// dates
		else{
			uploadObj+="<td>"+
							"<input class='"+formsize[i]+
								    "'id='"+keys[i]+numOfRow+
								    "'name='"+keys[i]+numOfRow+
								    "'type='udate'"+
								    "data-date-format='yyyy-mm-dd'"+
								    "autocomplete='off'"+
								    "placeholder='"+placeholders[i]+
								    "'value='"+$("#"+keys[i]+"1").val()+"'>";
		}
		newRow.insertCell(i).innerHTML=uploadObj;
	}
	// datepicker
	if (!Modernizr.inputtypes['udate']) {
		$('input[type=udate]').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	}
	// initialize form values
	reset_val();
});

/*
	@@ close button function
*/
$("#resetAddProblemForm").bind('click', function(){
	document.getElementById("addProblemForm").innerHTML=
		'<tr>'+
			'<td>'+
				'<select id="courseId1" name="courseId1">'+
					'{%- for ownCourse in ownCourses %}'+
					'<option> {{ ownCourse.courseId }} {{ ownCourse.courseName }}'+
					'</option>'+
					'{% endfor -%}'+
				'</select>'+
			'<td>'+
				'<select id="problemId1" name="problemId1">'+
					'{%- for problem in allProblems %}'+
					'<option> {{ problem.problemId }} {{ problem.problemName }}'+
					'</option>'+
					'{% endfor -%}'+
				'</select>'+
			'<td>'+
				'<label class="checkbox-center">'+
					'<input class="box-check" id="isAllInputCaseInOneFile1"'+
							'name="isAllInputCaseInOneFile1" type="checkbox">'+
				'</label>'+
			'<td>'+
				'<input class="datepicker input-usmall" id="startDate1"'+
						'name="startDate1"'+
						'data-date-format="yyyy-mm-dd" type="udate"'+
						'autocomplete="off" placeholder="click">'+
			'<td>'+
				'<input class="datepicker input-usmall" id="endDate1"'+
						'name="endDate1"'+
						'data-date-format="yyyy-mm-dd" type="udate"'+
						'autocomplete="off" placeholder="click">'+
			'<td>'+
				'<input class="datepicker input-usmall" id="openDate1"'+
						'name="openDate1"'+
						'data-date-format="yyyy-mm-dd" type="udate"'+
						'autocomplete="off" placeholder="click">'+
			'<td>'+
				'<input class="datepicker input-usmall" id="closeDate1"'+
						'name="closeDate1"'+
						'data-date-format="yyyy-mm-dd" type="udate"'+
						'autocomplete="off" placeholder="click">' ;
	
	document.getElementById("modalError").style.display="none";

	// datepicker
	if (!Modernizr.inputtypes['udate']) {
		$('input[type=udate]').datepicker({
			dateFormat: 'yy-mm-dd'
		});
	}
});

// checking validations of dates
function checkFormValidation(){
	var targetTable = document.getElementById('problems');
	var numOfRow = targetTable.rows.length;
	var isValid = true;

	// start/open date should be earlier than end/close date
	for(var row=1;row<numOfRow;row++){
		if(document.getElementById("startDate"+row).value >
		   document.getElementById("endDate"+row).value ||
		   document.getElementById("openDate"+row).value >
		   document.getElementById("closeDate"+row).value){
			isValid = false;
			break;
		}
	}

	if(isValid){
		// send http request
		document.getElementById("addProblemModalForm").submit();
	}
	else{
		// when the dates are invalid, shows error message.
		document.getElementById("modalError").style.display = "inline-block";
		document.getElementById("modalError").innerHTML 
			= "make sure that Start/Open dates should be earlier than End/Close Date";
	}
}
</script>
{% endblock -%}