<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<h3 style="display:inline-block">
		{{ LanguageResources.const.User[session['language']] }}{{ LanguageResources.const.Submission[session['language']] }} 	{{ LanguageResources.const.Management[session['language']] }}
	</h3>
	<h4 style="display:inline-block"> - 
		{{ LanguageResources.const.DetailMode[session['language']] }}
	</h4>
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li class="active">
				<a id="link-all" data-toggle="tab" href="#all" onclick="visibleButton(this)">
					all
				</a>
			{%- for ownCourse in ownCourses %}
			<li>
				<a id="link-{{ ownCourse.courseId }}" data-toggle="tab"
					href="#{{ ownCourse.courseId }}" onclick="visibleButton(this)">
					{{ ownCourse.courseId }} {{ ownCourse.courseName }}
				</a>
			</li>
			{% endfor -%}
			<div style="text-align:right">
				<a href="{{ url_for('GradeServer.user_submit_summary') }}">
					<button id="summary" type="submit" style="display:none">
						{{ LanguageResources.const.Summary[session['language']] }}
					</button>
				</a>
			</div>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="all">
				<table class="table">
					<thead>
						<tr>
							<td>
								{{ LanguageResources.const.Course[session['language']] }}
								{{ LanguageResources.const.Number[session['language']] }}
							<td>
								{{ LanguageResources.const.Course[session['language']] }}
								{{ LanguageResources.const.Name[session['language']] }}
							<td>
								{{ LanguageResources.const.Problem[session['language']] }}
								{{ LanguageResources.const.Name[session['language']] }}
							<td>
								{{ LanguageResources.const.User[session['language']] }}
								{{ LanguageResources.const.ID[session['language']] }}
							<td>
								{{ LanguageResources.const.Status[session['language']] }}
							<td>
								{{ LanguageResources.const.Submission[session['language']] }}
								{{ LanguageResources.const.Count[session['language']] }}
							<td>
								{{ LanguageResources.const.SubmissionDate[session['language']] }}
					<tbody>
						{%- for submission, registeredCourse, problem in submissions %}
						<tr>
							<td>{{ submission.courseId }}
							<td>{{ registeredCourse.courseName }}
							<td>
								<a href="{{ url_for('GradeServer.class_user_submit') }}">
									{{ problem.problemName }}
								</a>
							<td>{{ submission.memberId }}
							<td>{{ submission.status }}
							<td>{{ submission.submissionCount }}
							<td>{{ submission.codeSubmittedDate }}
						{% endfor -%}
				</table>
			</div>
			{%- for ownCourse in ownCourses %}
			<div class="tab-pane" id="{{ ownCourse.courseId}}">
				<table class="table">
					<thead>
						<tr>
							<td>Course ID
							<td>Course Name
							<td>Problem Name
							<td>Member ID
							<td>Status
							<td>Submission Count
							<td>Submission Date
					<tbody>
						{%- for submission, registeredCourse, problem in submissions %}
						{%- if submission.courseId == ownCourse.courseId %}
						<tr>
							<td>{{ submission.courseId }}
							<td>{{ registeredCourse.courseName }}
							<td>
								<a href="{{ url_for('GradeServer.class_user_submit') }}">
									{{ problem.problemName }}
								</a>
							<td>{{ submission.memberId }}
							<td>{{ submission.status }}
							<td>{{ submission.submissionCount }}
							<td>{{ submission.codeSubmittedDate }}
						{% endif -%}
						{% endfor -%}
				</table>
			</div>
			{% endfor -%}
		</div>
	</div>

	<div class="pagination pagination-centered">
		<ul>
			<li><a href="#">Prev</a>
			<li><a href="#">1</a>
			<li><a href="#">2</a>
			<li><a href="#">3</a>
			<li><a href="#">4</a>
			<li><a href="#">5</a>
			<li><a href="#">Next</a>
		</ul>
	</div>

	<div class="container" id="test" style="text-align:center">
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				All <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">All</a>
				{%- block search %}
				<li><a href="#">Class Number</a>
				<li><a href="#">Class Name</a>
				<li><a href="#">Department</a>
				<li><a href="#">Problem Name</a>
				{% endblock -%}
			</ul>
		</div>
		<div class="input-append" style="margin-bottom:0px">
			<input class="span3" id="appendedInputButton"
					name="keyword" type="text" placeholder="Type Keyword">
			<button class="btn" type="submit">Find</button>
		</div>
	</div>
</div>
{% endblock -%}