{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>User addition</h3>
		<!-- if any button is checked, then showing modal pop -->
		<div style="text-align:right">
			<a href="{{ url_for('GradeServer.class_add_user') }}"><button class="btn" type="button">Add</button></a>
			<a class="btn" data-toggle="modal" role="button" onclick="showingDeleteModal()">Delete</a>
		</div>

		<!-- hidden modal pop -->
		<!-- if any item choiced -->
		<div class="modal hide fade" id="deleteModal" aria-labelledby="deleteModalLabel" aria-hidden="true" role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">User deletion</h3>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete it?</p>
			</div>
			<div class="modal-footer">
				<form id="deleteUser" method="post">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<button class="btn" type="submit">Done</button>
				
			</div>
		</div>
		<!-- no items choiced -->
		<div class="modal hide fade" id="deleteNoItem" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" tabindex="-1">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">User deletion</h3>
			</div>
			<div class="modal-body">
				<p>No items choiced</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
		<!-- end hidden modal pop -->

		<table class="table table-bordered" id="registeredUsers" style="margin-top:10px">
			<thead>
				<tr>
					<td>Index
					<td>Course
					<td>ID
					<td>Name
					<td>College&Department
					<td>Check All <input class="checkAll" type="checkbox" style="margin:0px" onclick="selectAllCheckboxes('registeredUsers');">
			<tbody>
				{%- for eachUser in ownUsers %}
				<tr>
					<td>{{ loop.index }}
					<td>{{ eachUser[0] }} <!-- courseId -->
					<td>{{ eachUser[1] }} <!-- userId -->
					<td>{{ eachUser[2] }} <!-- userName -->
					<td> <!-- college departments list -->
						{%- for index in range(3, eachUser|length) %}
							{{ eachUser[index] }}
							{%- if index % 2 == 0 %}
							<br>
							{% endif -%}
						{% endfor -%}
					<td><label class="checkbox-center"><input class="box-check" name="delete_{{ eachUser[0] }}_{{ eachUser[1] }}" type="checkbox" form="deleteUser"></label>
				{% endfor -%}
				</form>
		</table>
	</div>
</div>
{% endblock -%}
