<!-- 
	@@ class_manage_problem.html

	The page when course administrator manages registered users.
	author: seulgi choi
-->

{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>
			{{ LanguageResources.const.User[session['language']] }}
			{{ LanguageResources.const.Addition[session['language']] }}
		</h3>
		<!-- Buttons to add and delete user -->
		<div style="text-align:right">
			<button class="btn" type="button"
					  onclick="location.href='{{ url_for('GradeServer.class_add_user') }}'">
				{{ LanguageResources.const.Addition[session['language']] }}
			</button>
			<a class="btn" data-toggle="modal" role="button"
				onclick="showingDeleteModal()">
				{{ LanguageResources.const.Deletion[session['language']] }}
			</a>
		</div>

		<!--
			@@ Hidden modal pop

			1. User deletion
			2. No item choosed
		-->
		<!-- User deletion -->
		<div class="modal hide fade" id="deleteModal"
			  aria-hidden="true" aria-labelledby="deleteModalLabel"
			  role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" type="button"
						  data-dismiss="modal" aria-hidden="true">
				  	x
			  	</button>
				<h3 id="deleteModalLabel">
					{{ LanguageResources.const.User[session['language']] }}
					{{ LanguageResources.const.Deletion[session['language']] }}
				</h3>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete it?</p>
			</div>
			<div class="modal-footer">
				<form id="deleteUser" method="post">
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						{{ LanguageResources.const.Close[session['language']] }}
					</button>
					<button class="btn" type="submit">
						{{ LanguageResources.const.Done[session['language']] }}
					</button>
				
			</div>
		</div>
		
		<!-- No items choosed when deletion button's clicked -->
		<div class="modal hide fade" id="deleteNoItem"
			  aria-hidden="true" aria-labelledby="deleteModalLabel"
			  role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" type="button"
						  data-dismiss="modal" aria-hidden="true">
				  	x
			  	</button>
				<h3 id="deleteModalLabel">
					{{ LanguageResources.const.User[session['language']] }}
					{{ LanguageResources.const.Deletion[session['language']] }}
				</h3>
			</div>
			<div class="modal-body">
				<p>No items choiced</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">
					{{ LanguageResources.const.Close[session['language']] }}
				</button>
			</div>
		</div>

		<table class="table table-bordered" id="registeredUsers"
				style="margin-top:10px">
			<thead>
				<tr>
					<td>Index
					<td>
						{{ LanguageResources.const.Course[session['language']] }}
					<td>
						{{ LanguageResources.const.ID[session['language']] }}
					<td>
						{{ LanguageResources.const.Name[session['language']] }}
					<td>
						{{ LanguageResources.const.College[session['language']] }}
						&
						{{ LanguageResources.const.Department[session['language']] }}
					<td>
						{{ LanguageResources.const.Check[session['language']] }}
						<input class="checkAll" type="checkbox" style="margin:0px"
								onclick="selectAllCheckboxes('registeredUsers');">
			<tbody>
				{%- for eachUser in ownUsers %}
				<tr>
					<td>
						{{ loop.index }}
					<td>
						{{ eachUser[0] }} <!-- courseId -->
					<td>
						{{ eachUser[1] }} <!-- userId -->
					<td>
						{{ eachUser[2] }} <!-- userName -->
					<td> <!-- college departments list -->
						{%- for index in range(3, eachUser|length) %}
							{{ eachUser[index] }}
							{%- if index % 2 == 0 %}
							<br>
							{% endif -%}
						{% endfor -%}
					<td>
						<label class="checkbox-center">
							<input class="box-check"
									name="delete_{{ eachUser[0] }}_{{ eachUser[1] }}"
									type="checkbox" form="deleteUser">
						</label>
				{% endfor -%}
				</form>
		</table>
	</div>
</div>
{% endblock -%}
