<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<h3>
		{%- if session['language'] == 'kr' %}{{ LanguageResources.const.PersonalInformation_kr }}
		{%- elif session['language'] == 'en' %}{{ LanguageResources.const.PersonalInformation_en }}
		{%- else %}{{ LanguageResources.const.PersonalInformation_en }} <!-- default -->
		{% endif -%}
	</h3>
	<h4>
		<div class="row-fluid">
			<div class="span3">
				ID
			</div>
			<div class="span8">
				{%- if memberInformation.memberId %}{{ memberInformation.memberId }}{% endif -%}
			</div>
		</div>
	</h4>
	<hr class="hidden-tablet hidden-desktop">
	<form method="post">
		<h4>
			<div class="row-fluid">
				<div class="span3">
					{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Password_kr }}
					{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Password_en }}
					{%- else %}{{ LanguageResources.const.Password_en }} <!-- default -->
					{% endif -%}
				</div>
				<div class="span2">
					<input type="password" name="password" class="input-large"
							placeholder="Input password" autofocus>
				</div>
			</div>
		</h4>
		<h4>
			<div class="row-fluid">
				<div class="span3">
					{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Password_kr }}({{ LanguageResources.const.Confirm_kr }})
					{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Password_en }}({{ LanguageResources.const.Confirm_en }})
					{%- else %}{{ LanguageResources.const.Password_en }}({{ LanguageResources.const.Confirm_en }} <!-- default -->)
					{% endif -%}
				</div>
				<div class="span8">
					<input type="password" name="passwordConfirm" class="input-large"
							placeholder="Confirm password">
				</div>
			</div>
		</h4>
		<hr class="hidden-tablet hidden-desktop">
		<h4>
			<div class="row-fluid">
				<div class="span3">
					{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Department_kr }}
					{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Department_en }}
					{%- else %}{{ LanguageResources.const.Department_en }} <!-- default -->
					{% endif -%}
				</div>
				<div class="span8">
					{%- if memberInformation.departmentName %}{{ memberInformation.departmentName }}{% endif -%}
				</div>
			</div>
		</h4>
		<hr class="hidden-tablet hidden-desktop">
		<h4>
			<div class="row-fluid">
				<div class="span3">
					{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Name_kr }}
					{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Name_en }}
					{%- else %}{{ LanguageResources.const.Name_en }} <!-- default -->
					{% endif -%}
				</div>
				<div class="span8">
					{%- if memberInformation.memberName %}{{ memberInformation.memberName }}{% endif -%}
				</div>
			</div>
		</h4>
		<hr class="hidden-tablet hidden-desktop">
		<h4>
			<div class="row-fluid">
				<div class="span3">
					{%- if session['language'] == 'kr' %}{{ LanguageResources.const.ContactNumber_kr }}
					{%- elif session['language'] == 'en' %}{{ LanguageResources.const.ContactNumber_en }}
					{%- else %}{{ LanguageResources.const.ContactNumber_en }} <!-- default -->
					{% endif -%}
				</div>
				<div class="span8">
					<input type="text" class="input-large" name="contactNumber"
							placeholder="Contact number"
							{%- if memberInformation.contactNumber %}
							value="{{ memberInformation.contactNumber }}"
							{% endif -%}>
				</div>
			</div>
		</h4>
		<h4>
			<div class="row-fluid">
				<div class="span3">
					{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Email_kr }}
					{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Email_en }}
					{%- else %}{{ LanguageResources.const.Email_en }} <!-- default -->
					{% endif -%}
				</div>
				<div class="span8">
					<input type="text" class="input-large" name="emailAddress"
							placeholder="E-mail"
							{%- if memberInformation.emailAddress %}
							value="{{ memberInformation.emailAddress }}"
							{% endif -%}>
				</div>
			</div>
		</h4>
		<h4>
			<div class="row-fluid">
				<div class="span3">
					{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Comment_kr }}
					{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Comment_en }}
					{%- else %}{{ LanguageResources.const.Comment_en }} <!-- default -->
					{% endif -%}
				</div>
				<div class="span8">
					<input type="text" class="input-xxlarge" name="comment"
							placeholder="Short comment"
							{%- if memberInformation.comment %}
							value="{{ memberInformation.comment }}"
							{% endif -%}>
				</div>
			</div>
		</h4>
		<br>
		<button type="submit" class="btn">
			{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Confirm_kr }}
			{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Confirm_en }}
			{%- else %}{{ LanguageResources.const.Confirm_en }} <!-- default -->
			{% endif -%}
		</button>
	</form>
</div>
<style>
h4{
	margin-left:20px;
}
</style>
{% endblock -%}
