<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div width="100%" align="center" style="position:absolute;left: 50%;margin-left:-125px;width:250px">
		<h3>Identification Check</h3>
		<div class="row-fluid">
			<h4>
				<div class="span6">
					User ID
				</div>
				<div class="span6">
					{{ session['memberId'] }}
				</div>
			</h4>
		</div>
		<form method="post">	
			<div class="row-fluid">
				<h4>
					<div class="span6">
						Password
					</div>
					<div class="span6">
						<input type="password" class="input-small" name="password", autofocus ="autofocus">
					</div>
				</h4>
			</div>
			<br>
			<button class="btn" type="submit">Confirm</button>
		</form>
	</div>
</div>
{% endblock -%}