<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Kookmin University Grade Server </title>

	<link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="../../static/bootstrap/css/userdefine.css" rel="stylesheet">
	<link href="../../static/bootstrap/css/dropzone.css" rel="stylesheet">
	<link href="../../static/bootstrap/css/jquery-ui.css" rel="stylesheet">
	<link href="../../static/bootstrap/css/jquery-ui.structure.css" rel="stylesheet">
	<link href="../../static/bootstrap/themes/smoothness/jquery-ui.css" rel="stylesheet">
	<script src="../../static/bootstrap/js/modernizr-2.6.2.min.js"></script>
	<script src="../../static/bootstrap/js/jquery.js"></script>
	<script src="../../static/bootstrap/js/jquery-ui-1.10.1.min.js"></script>
	<script src="../../static/bootstrap/js/jquery.autocomplete.js"></script>
	<script src="../../static/bootstrap/js/src/ace.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsible design -->
	<link rel="shortcut icon" href="../../static/bootstrap/img/kookmin_logo_white.jpg"> 
</head>
<body onload="checkMain()">
	<!-- 
	@@ Navigation bar 
	-->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>	
					<span class="icon-bar"></span>
				</button>
				<a class="link-main" href="{{ url_for('GradeServer.sign_in') }}" width="10px" style=""><img src="../../static/bootstrap/img/kookmin_logo_dark.jpg" style="height:40px;width:40px"> KMU Grade Server </a>
				<div class="nav-collapse collapse" >
					<ul class="nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Problems_kr }}
								{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Problems_en }}
								{%- else %}{{ LanguageResources.const.Problems_en }} <!-- default -->
								{% endif -%}
								<b class="caret"></b>
							</a>
							{%- if session['memberId'] != NULL %}
							<ul class="dropdown-menu">
								<li class="nav-header">
									{%- if session['language'] == 'kr' %}{{ LanguageResources.const.CurrentCourse_kr }}
									{%- elif session['language'] == 'en' %}{{ LanguageResources.const.CurrentCourse_en }}
									{%- else %}{{ LanguageResources.const.CurrentCourse_en }} <!-- default -->
									{% endif -%}
								</li>
								{%- if session[SessionResources.const.OWN_CURRENT_COURSES] %}
									{%- for course in session[SessionResources.const.OWN_CURRENT_COURSES] %}
									<li><a href="{{ url_for('GradeServer.problem_list', courseId=course.courseId, pageNum=1) }}" class="currentClasses main-checker">{{ course.courseId }} {{ course.courseName }}</a></li>
									{% endfor -%}
								{%- else %}
								<li class="disabled"><a tabindex="-1" href="#" class="main-checker">None</a></li>
								{% endif -%}
								
								<li class="divider"></li> <!-- seperation line -->

								<li class="nav-header">
									{%- if session['language'] == 'kr' %}{{ LanguageResources.const.PastCourse_kr }}
									{%- elif session['language'] == 'en' %}{{ LanguageResources.const.PastCourse_en }}
									{%- else %}{{ LanguageResources.const.PastCourse_en }} <!-- default -->
									{% endif -%}
								</li>
								{%- if session[SessionResources.const.OWN_PAST_COURSES] %}
									{%- for course in session[SessionResources.const.OWN_PAST_COURSES] %}
									<li><a href="{{ url_for('GradeServer.problem_list', courseId=course.courseId, pageNum=1) }}" class="pastClasses main-checker">{{ course.courseId }} {{ course.courseName }}</a></li>
									{% endfor -%}
								{%- else %}
								<li class="disabled">
									<a tabindex="-1" href="#" class="main-checker">
										{%- if session['language'] == 'kr' %}{{ LanguageResources.const.None_kr }}
										{%- elif session['language'] == 'en' %}{{ LanguageResources.const.None_en }}
										{%- else %}{{ LanguageResources.const.None_en }} <!-- default -->
										{% endif -%}
									</a>
								</li>
								{% endif -%}
							</ul>
							{% endif -%}
						</li>
						<li>
							<a href="{{ url_for('GradeServer.rank', activeTabCourseId='All', sortCondition='rate', pageNum=1) }}">
								{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Rank_kr }}
								{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Rank_en }}
								{%- else %}{{ LanguageResources.const.Rank_en }} <!-- default -->
								{% endif -%}
							</a>
						</li>
						<li>
							<a href="{{ url_for('GradeServer.board', activeTabCourseId='All', pageNum=1) }}">
								{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Board_kr }}
								{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Board_en }}
								{%- else %}{{ LanguageResources.const.Board_en }} <!-- default -->
								{% endif -%}
							</a>
						</li>
						<!--
						@@ Team menu

						Team menu is supposed to move into 'Problems'
						Hidden from navigation bar
						-->
						<li class="hidden">
							<a href="{{ url_for('GradeServer.team', pageNum=1) }}">
								{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Team_kr }}
								{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Team_en }}
								{%- else %}{{ LanguageResources.const.Team_en }} <!-- default -->
								{% endif -%}
							</a>
						</li>
						
						<!--
						@@ Section up to state of signing
						-->
						{%- if session['memberId'] != NULL %}
						<li class="dropdown">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown">{{ session['memberId'] }}<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<!--
								@@ Menus up to authority
								-->
								{%- if SETResources.const.SERVER_ADMINISTRATOR not in session['authority'] and SETResources.const.COURSE_ADMINISTRATOR not in session['authority'] %}
								<li>
									<a class="main-checker" href="{{ url_for('GradeServer.submission_record', memberId=session['memberId'], sortCondition='submissionDate', pageNum=1) }}">
										{%- if session['language'] == 'kr' %}{{ LanguageResources.const.UserRecord_kr }}
										{%- elif session['language'] == 'en' %}{{ LanguageResources.const.UserRecord_en }}
										{%- else %}{{ LanguageResources.const.UserRecord_en }} <!-- default -->
										{% endif -%}
									</a>
								</li>
								{% endif %}
								<li>
									<a class="main-checker" href="{{ url_for('GradeServer.id_check', select='account') }}">
										{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Account_kr }}
										{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Account_en }}
										{%- else %}{{ LanguageResources.const.Account_en }} <!-- default -->
										{% endif -%}
									</a>
								</li>
								<li>
									<a class="main-checker" href="{{ url_for('GradeServer.article_notice', activeTabCourseId='All', pageNum=1) }}">
										{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Notice_kr }}
										{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Notice_en }}
										{%- else %}{{ LanguageResources.const.Notice_en }} <!-- default -->
										{% endif -%}
									</a>
								</li> <!-- same with board, the difference is db-query for contents -->
								<li>
									<a class="main-checker" href="#">
										{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Manual_kr }}
										{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Manual_en }}
										{%- else %}{{ LanguageResources.const.Manual_en }} <!-- default -->
										{% endif -%}
									</a>
								</li>
								{%- if SETResources.const.SERVER_ADMINISTRATOR in session['authority'] %}
								<li class="dropdown-submenu">
									<a class="dropdown-toggle main-checker" data-toggle="dropdown" href="#" id="server-management">
										{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Management_kr }}
										{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Management_en }}
										{%- else %}{{ LanguageResources.const.Management_en }} <!-- default -->
										{% endif -%}
									</a>
									<ul class="dropdown-menu" id="menu-box">
										<li>
											<a class="main-checker" id='manage-collegedepartment' href="{{ url_for('GradeServer.id_check', select='server_manage_collegedepartment') }}">
												{%- if session['language'] == 'kr' %}{{ LanguageResources.const.College_kr }}&{{ LanguageResources.const.Department_kr }}
												{%- elif session['language'] == 'en' %}{{ LanguageResources.const.College_en }}&{{ LanguageResources.const.Department_en }}
												{%- else %}{{ LanguageResources.const.College_en }}&{{ LanguageResources.const.Department_en }} <!-- default -->
												{% endif -%}
											</a>
										</li>
										<li>
											<a class="main-checker" id='manage-class' href="{{ url_for('GradeServer.id_check', select='server_manage_class') }}">
												{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Course_kr }}
												{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Course_en }}
												{%- else %}{{ LanguageResources.const.Course_en }} <!-- default -->
												{% endif -%}
											</a>
										</li>
										<li>
											<a class="main-checker" id='manage-problem' href="{{ url_for('GradeServer.id_check', select='server_manage_problem') }}">
												{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Problem_kr }}
												{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Problem_en }}
												{%- else %}{{ LanguageResources.const.Problem_en }} <!-- default -->
												{% endif -%}
											</a>
										</li>
										<li>
											<a class="main-checker" id='manage-user' href="{{ url_for('GradeServer.id_check', select='server_manage_user') }}">
												{%- if session['language'] == 'kr' %}{{ LanguageResources.const.User_kr }}
												{%- elif session['language'] == 'en' %}{{ LanguageResources.const.User_en }}
												{%- else %}{{ LanguageResources.const.User_en }} <!-- default -->
												{% endif -%}
											</a>
										</li>
										<li>
											<a class="main-checker" id='manage-service' href="{{ url_for('GradeServer.id_check', select='server_manage_service') }}">
												{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Service_kr }}
												{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Service_en }}
												{%- else %}{{ LanguageResources.const.Service_en }} <!-- default -->
												{% endif -%}
											</a>
										</li>
									</ul>
								</li>
								{%- elif SETResources.const.COURSE_ADMINISTRATOR in session['authority'] %}
								<li class="dropdown-submenu">
									<a class="dropdown-toggle main-checker" id="class-server-management" data-toggle="dropdown" href="#">
										{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Management_kr }}
										{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Management_en }}
										{%- else %}{{ LanguageResources.const.Management_en }} <!-- default -->
										{% endif -%}
									</a>
									<ul class="dropdown-menu" id="menu-box">
										<li>
											<a class="main-checker" id='manage-problem' href="{{ url_for('GradeServer.id_check', select='user_submit') }}">
												{%- if session['language'] == 'kr' %}{{ LanguageResources.const.User_kr }} {{ LanguageResources.const.UserSubmission_kr }}
												{%- elif session['language'] == 'en' %}{{ LanguageResources.const.User_en }} {{ LanguageResources.const.UserSubmission_en }}
												{%- else %}{{ LanguageResources.const.User_en }} {{ LanguageResources.const.UserSubmission_en }} <!-- default -->
												{% endif -%}
											</a>
										</li>
										<li>
											<a class="main-checker" id='manage-class' href="{{ url_for('GradeServer.id_check', select='cm_manage_problem') }}">
												{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Problem_kr }}
												{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Problem_en }}
												{%- else %}{{ LanguageResources.const.Problem_en }} <!-- default -->
												{% endif -%}
											</a>
										</li>
										<li>
											<a class="main-checker" id='manage-user' href="{{ url_for('GradeServer.id_check', select='cm_manage_user') }}">
												{%- if session['language'] == 'kr' %}{{ LanguageResources.const.User_kr }}
												{%- elif session['language'] == 'en' %}{{ LanguageResources.const.User_en }}
												{%- else %}{{ LanguageResources.const.User_en }} <!-- default -->
												{% endif -%}
											</a>
										</li>
										<li>
											<a class="main-checker" id='manage-service' href="{{ url_for('GradeServer.id_check', select='cm_manage_service') }}">
												{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Service_kr }}
												{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Service_en }}
												{%- else %}{{ LanguageResources.const.Service_en }} <!-- default -->
												{% endif -%}
											</a>
										</li>
									</ul>
								</li>
								{% endif -%}
								<li>
									<a class="main-checker" href="{{ url_for('GradeServer.sign_out') }}">
										{%- if session['language'] == 'kr' %}{{ LanguageResources.const.SignOut_kr }}
										{%- elif session['language'] == 'en' %}{{ LanguageResources.const.SignOut_en }}
										{%- else %}{{ LanguageResources.const.SignOut_en }} <!-- default -->
										{% endif -%}
									</a>
								</li>
							</ul>
						</li>
						<li style="display:none"><a href="#"><i class="icon-bell icon-white"></i></a></li>
						{%- else %}
						<li class="dropdown">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown">
								{%- if session['language'] == 'kr' %}{{ LanguageResources.const.SignIn_kr }}
								{%- elif session['language'] == 'en' %}{{ LanguageResources.const.SignIn_en }}
								{%- else %}{{ LanguageResources.const.SignIn_en }} <!-- default -->
								{% endif -%} <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<form class="sign-in" method="post" action='{{ url_for("GradeServer.sign_in") }}'>
									<div>
										<input class="span2" id="id" name="memberId" type="text" placeholder="ID" autocomplete="off" autofocus="autofocus">
									</div>
									<div>
										<input class="span2" id="pw" name="password" type="password" placeholder="Password">
									</div>
									<button type="submit" class="btn">
										{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Confirm_kr }}
										{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Confirm_en }}
										{%- else %}{{ LanguageResources.const.Confirm_en }} <!-- default -->
										{% endif -%}
									</button>
								</form>
							</ul>
						</li>
						{% endif -%}
					</ul>
					<!--
					@@ Sign up button
					
					Members will be registered by course administrator.
					It can be showing up if you allow users sign up into this service by themselves.

					Currently users should be registered by adminitrators, so its state is hidden.
					-->
					{%- if session['memberId']==NULL %}
					<a class="btn pull-right hidden" href="{{ url_for('GradeServer.sign_up') }}" style="margin:15px 5px 10px 0px">
						{%- if session['language'] == 'kr' %}{{ LanguageResources.const.SignUp_kr }}
						{%- elif session['language'] == 'en' %}{{ LanguageResources.const.SignUp_en }}
						{%- else %}{{ LanguageResources.const.SignUp_en }} <!-- default -->
						{% endif -%}
					</a>
					{% endif -%}

					<!--
					@@ Language select 
					-->
					{%- if session['memberId'] != NULL %}
					<a class="pull-right languageButton" id="language_en" style="margin:10px 5px 10px 0px;display:inline-block">
						<img style="background-image:url(../../static/bootstrap/img/flags.png);background-position: -416px -420px;height:24px;width:32px">
					</a>
					<a class="pull-right languageButton" id="language_kr" style="margin:10px 5px 10px 0px;display:inline-block">
						<img style="background-image:url(../../static/bootstrap/img/flags.png);background-position: -160px -228px;height:24px;width:32px">
					</a>
					<form id="language" method="post">
						<input id="languageInfo" name="language" style="display:none">
					</form>
					
					<script>
					$("#language_kr").click(function(){
						document.getElementById("languageInfo").value = "kr";
						document.getElementById("language").submit();
					});
					$("#language_en").click(function(){
						document.getElementById("languageInfo").value = "en";
						document.getElementById("language").submit();
					});
					/*
					@@ Check if current page is 'main.html'

					If current page is 'main.html' then shows language selection button
					else, hide it.
					*/
					function checkMain(){
						var URL = document.URL;
						if(URL.split('/')[3] != ''){
							document.getElementById("language_en").style.display="none";
							document.getElementById("language_kr").style.display="none";
						}
						else{
							document.getElementById("language_en").style.display="inline-block";
							document.getElementById("language_kr").style.display="inline-block";
						}
					}
					</script>
					{% endif -%}
				</div>
			</div>
		</div>
	</div>

	<!-- ///////////////////////////////////
		container section
	//////////////////////////////////// -->
	<!-- ///// body section ///// -->
	<div class="body">
		<!-- 
		@@ Flash message
	
		This will display success message of works.
		-->
		{%- with flashes=get_flashed_messages() %}
		{%- if flashes %}
		<div class="container">
			<div class="alert alert-info">
				{%- for message in flashes %}
				{{ message }}
				{% endfor -%}
			</div>
		</div>
		{% endif -%}
		{% endwith -%}

		<!--
		@@ Error message

		This will display error message of works.
		Usually shows from 'return' command in python.
		-->
		{%- if error %}
		<div class="container">
			<div class="error alert alert-error" id="errorAlert" style="width:100%;padding-right:0px;margin-bottom:0px"> {{ error }}</div>
		</div>
		{% endif -%}
		
		{%- block body %}
		<div class="container" style="text-align:center">
			<h2>
				Kookmin University <div class="hidden-tablet hidden-desktop"></div>Online Judge System
			</h2>
		</div>
		<div class="container">
			<!--
			@@ Carousel section
			-->
			<div class="carousel slide" id="myCarousel" style="width:100%;position:relative;left:-15px" data-ride="carousel">
				<div class="carousel-inner" style="position:relative;left:20px">
					{%- for noticeRecord in noticeRecords %}
					{% if loop.index0==0 %}
					<div class='item active'>
					{% else %}
					<div class='item'>
					{% endif %}
						<a href="{{ url_for ('GradeServer.read', activeTabCourseId='All', articleIndex=noticeRecord.articleIndex) }}" style="color:black">
							<div class="carousel-span" style="background:#f0f0f0;height:100%;text-align:center;padding:3px;margin:7px">
								<h3>
									{% if noticeRecord.courseId %}
									{{ noticeRecord.courseId }} {{ noticeRecord.courseName }}
									{% else %}
									{%- if session['language'] == 'kr' %}{{ LanguageResources.const.Server_kr }} {{ LanguageResources.const.Notice_kr }}
									{%- elif session['language'] == 'en' %}{{ LanguageResources.const.Server_en }} {{ LanguageResources.const.Notice_en }}
									{%- else %}{{ LanguageResources.const.Server_en }} {{ LanguageResources.const.Notice_en }} <!-- default -->
									{% endif -%}
									{% endif %}
								</h3>
								<h3 style="display:inline">
									<script>
									var title = "{{ noticeRecord.title }}";
									if(title.length>10){
										title = title.substring(0,10)+'...';
									}
									document.write(title);
									</script>
								</h3>[{{ noticeRecord.replyCount }}]
								<p style="word-break: break-all">
									<script>
									var contents = "{{ noticeRecord.content }}";
									if(contents.length>40){
										contents = contents.substring(0,40)+'...';
									}
									document.write(contents);
									</script>
								</p>
							</div>
						</a>
					</div>
					{% endfor -%}
				</div>
				<!--
				@@ Carousel indicators
				-->
				<ol class="carousel-indicators" style="width:50%">
					{%- for noticeRecord in noticeRecords %}
					{% if loop.index0==0 %} 
					<li class='active' data-target='#myCarousel' data-slide-to='{{ loop.index0 }}'></li>
					{% else %}
					<li data-target='#myCarousel' data-slide-to='{{ loop.index0 }}'></li>
					{% endif %}
					{% endfor -%}
				</ol>
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
			<br><br>
			<!--
			@@ Partitions under carousel
			-->
			<div class="container">
				<div class="row-fluid">
					<div class="span4 topcoder" style="text-align:center;background:#eeeeee">
						<h4>
							{%- if session['language'] == 'kr' %}{{ LanguageResources.const.TopCoder_kr }}
							{%- elif session['language'] == 'en' %}{{ LanguageResources.const.TopCoder_en }}
							{%- else %}{{ LanguageResources.const.TopCoder_en }} <!-- default -->
							{% endif -%}
						</h4>
						{% if topCoderId %}
							<a href="{{ url_for ('GradeServer.submission_record', memberId=topCoderId, sortCondition='submissionDate', pageNum=1) }}">{{ topCoderId }}</a>
						{% else %}
							{%- if session['language'] == 'kr' %}{{ LanguageResources.const.None_kr }}
							{%- elif session['language'] == 'en' %}{{ LanguageResources.const.None_en }}
							{%- else %}{{ LanguageResources.const.None_en }} <!-- default -->
							{% endif -%}
						{% endif %}
					</div>
					<div class="span4 manual" style="text-align:center;background:#eeeeee">
						<h4>
							{%- if session['language'] == 'kr' %}{{ LanguageResources.const.HowToUse_kr }}
							{%- elif session['language'] == 'en' %}{{ LanguageResources.const.HowToUse_en }}
							{%- else %}{{ LanguageResources.const.HowToUse_en }} <!-- default -->
							{% endif -%}
						</h4>
						"Manual Link"
					</div>
					<div class="span4" style="text-align:center;background:#eeeeee">
						<h4>
							{%- if session['language'] == 'kr' %}{{ LanguageResources.const.EmptySpace_kr }}
							{%- elif session['language'] == 'en' %}{{ LanguageResources.const.EmptySpace_en }}
							{%- else %}{{ LanguageResources.const.EmptySpace_en }} <!-- default -->
							{% endif -%}
						</h4>
						<br>
					</div>
				</div>
			</div>
			{% endblock -%}
		</div>
		<!-- ///// end body section ///// -->

		<!-- footer -->
		<div class="fluid-footer" style="background-color: #ffffff"> Algorithmic Engineering Lab </div>

		<script src="../../static/bootstrap/js/bootstrap.js"></script>
		<script src="../../static/bootstrap/js/dropzone.js"></script>
		<script src="../../static/bootstrap/js/userdefine.js"></script>
		<script src="../../static/bootstrap/js/Chart.js"></script>
	</body>
	</html>
