<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->


{%- extends "main.html" -%}
{%- block body %}
<!-- problem space -->
<div class="container">
	<div class="nav problem" text-align="center">
		<h2 class="problem_title">{{ problemInformation.problemName }}</h2>
		<h4 class="problem_constraints">Time Limit : {{ problemInformation.limitedTime }} ms| Memory Limit : {{ problemInformation.limitedMemory }} MB</h4>
		<div class="container">"Problem Contents"</div>
	</div>
</div>
<!-- source code space -->

{%- block div %}
<div class="source container" bs-example-tabs>
	<ul id="myTabs" class="nav nav-tabs">
  	<li class="active"><a href="#upload" data-toggle="tab">Upload Files</a></li>
  	<li><a href="#write" data-toggle="tab">Write Code</a></li>
  </ul>
	<div id="myTabContent2" class="tab-content">
  	<div class="tab-pane active" id="upload">
			<div id="content">
    		<ul id="myTab" class="nav nav-tabs" role="tablist">
	      	<li class="dropdown"><a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">Language - default C<span class="caret"></span></a>
        		<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
          			<li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">C &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
          			<li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">CPP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
          			<li><a href="#dropdown3" tabindex="-1" role="tab" id="dropdown3-tab" data-toggle="tab" aria-controls="dropdown3">JAVA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
          			<li><a href="#dropdown4" tabindex="-1" role="tab" id="dropdown4-tab" data-toggle="tab" aria-controls="dropdown4">PYTHON</a></li>
        		</ul>
      		</li>
    		</ul>
    	<div id="myTabContent" class="tab-content">
	    	<div role="tabpanel" class="tab-pane active in" id="dropdown1" aria-labelledby="dropdown1-tab">
				<DIV>
					<form action='/problem/{{courseId }}/{{ problemId }}/upload' id='my-dropzone' class='dropzone' enctype="multipart/form-data">
						<div class='fallback'>
							<input name='file' type='file' multiple />
						</div>
					</form>
				</DIV>
        	</div>
	    	<div role="tabpanel" class="tab-pane" id="dropdown2" aria-labelledby="dropdown2-tab">
				<DIV>
					<form action='/problem/{{courseId }}/{{ problemId }}/upload' id='my-dropzone2' class='dropzone' enctype="multipart/form-data">
						<div class='fallback'>
							<input name='file' type='file' multiple />
						</div>
					</form>
				</DIV>
        	</div>
	    	<div role="tabpanel" class="tab-pane" id="dropdown3" aria-labelledby="dropdown3-tab">
				<DIV>
					<form action='/problem/{{courseId }}/{{ problemId }}/upload' id='my-dropzone3' class='dropzone'>
						<div class='fallback'>
							<input name='file' type='file' multiple />
						</div>
					</form>
				</DIV>
        	</div>
	    	<div role="tabpanel" class="tab-pane" id="dropdown4" aria-labelledby="dropdown4-tab">
				<DIV>
					<form action='/problem/{{courseId }}/{{ problemId }}/upload' id='my-dropzone4' class='dropzone'>
						<div class='fallback'>
							<input name='file' type='file' multiple />
						</div>
					</form>
				</DIV>
        	</div>
        </div> 
    </div>
    <button class="btn btn-primary" id='submit-all' type="submit">submit files</button>
	</div>
  <div class="tab-pane" id="write">
  	<div>
			<form action = '/problem/{{courseId}}/{{problemId}}/codesubmission' method = "post" enctype="multipart/form-data">
			<div> language:   
				<select type = "text" id="language" name="language" onchange="selectLanguage(this)">
					<option value = "1"> C </option>
					<option value = "2"> C++ </option>
					<option value = "3"> JAVA </option>
					<option value = "4"> python </option>
				</select>
				&nbsp; &nbsp; &nbsp; &nbsp; Theme :
				<select type = "text" id="language" name="language" onchange="selectLanguage(this)">
					<option value = "5"> ambiance </option>
					<option value = "6"> chaos </option>
					<option value = "7"> chrome </option>
					<option value = "8"> clouds_midnight </option>
					<option value = "9"> clouds </option>
					<option value = "10"> cobalt </option>
					<option value = "11"> crimson_editor </option>
					<option value = "12"> dawn </option>
					<option value = "13"> dreamweaver </option>
					<option selected = "selected" value = "14"> eclipse </option>
					<option value = "15"> github </option>
					<option value = "16"> idle_fingers </option>
					<option value = "17"> katzenmilch </option>
					<option value = "18"> kr_theme </option>
					<option value = "19"> kuroir </option>
					<option value = "20"> merbivore_soft </option>
					<option value = "21"> merbivore </option>
					<option value = "22"> mono_industrial </option>
					<option value = "23"> monokai </option>
					<option value = "24"> pastel_on_dark </option>
					<option value = "25"> solarized_dark </option>
					<option value = "26"> solarized_light </option>
					<option value = "27"> terminal </option>
					<option value = "28"> textmate </option>
					<option value = "29"> tomorrow_night_blue </option>
					<option value = "30"> tomorrow_night_bright </option>
					<option value = "31"> tomorrow_night_eighties </option>
					<option value = "32"> tomorrow_night </option>
					<option value = "33"> tomorrow </option>
					<option value = "34"> twilight </option>
					<option value = "35"> vibrant_ink </option>
					<option value = "36"> xcode </option>
				</select>
			</div>
			<div id="editor"></div>
				<div class=actions><button class="btn btn-primary" type="submit">submit code</div>
				<textarea name="copycode" id="copycode" style="display:none;"></textarea>
			</form>
		</div>
	</div>
</div>
</div>
{% endblock -%}	
<!-- comment space -->
{% endblock -%}