<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->


{%- extends "main.html" -%}
{%- block body %}
<!-- problem space -->
<div class="container">
	<div class="nav problem" text-align="center">
		<h2 class="problem_title">{{ problemInformation.problemName }}</h2>
		<h4 class="problem_constraints">Time Limit : {{ problemInformation.limitedTime }} ms| Memory Limit : {{ problemInformation.limitedMemory }} MB</h4>
		<div class="container">"Problem Contents"</div>
	</div>
</div>
<!-- source code space -->

{%- block div %}
<div class="source container" bs-example-tabs>
	<ul id="myTabs" class="nav nav-tabs">
  	<li class="active"><a href="#upload" data-toggle="tab">Upload Files</a></li>
  	<li><a href="#write" data-toggle="tab">Write Code</a></li>
  </ul>
	<div id="myTabContent2" class="tab-content">
  	<div class="tab-pane active" id="upload">
			<div id="content">
    		<ul id="myTab" class="nav nav-tabs" role="tablist">
	      	<li class="dropdown"><a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">Language Select<span class="caret"></span></a>
        		<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
        		{% for name in languageName %}
        			{% if name.languageName == "C++" %}
          		<li><a href="#Cpp" role="tab" data-toggle="tab" aria-controls="Cpp"> {{name.languageName}} 
          		{% if languageVersion[loop.index0].languageVersion != "0" %}
          			{{languageVersion[loop.index0].languageVersion}}
          		{% endif %} </a></li>
          		{% else %}
          		<li><a href="#{{name.languageName}}" role="tab" data-toggle="tab" aria-controls="{{name.languageName}}"> {{name.languageName}} 
          		{% if languageVersion[loop.index0].languageVersion != "0" %}
          			{{languageVersion[loop.index0].languageVersion}}
          		{% endif %} </a></li>
          		{% endif %}
          	{% endfor %}
        		</ul>
      		</li>
    		</ul>
    		<div id="myTabContent" class="tab-content">
    		{% for name in languageName %}
    		{% if loop.index == 1 %}
    			{% if name.languageName == "C++" %}
		    	<div role="tabpanel" class="tab-pane active" id="Cpp">
		    	{% else %}
		    	<div role="tabpanel" class="tab-pane active" id="{{name.languageName}}">
		    	{% endif %}
		    {% else %}
		    {% if name.languageName == "C++" %}
		    	<div role="tabpanel" class="tab-pane" id="Cpp">
		    	{% else %}
		    	<div role="tabpanel" class="tab-pane" id="{{name.languageName}}">
		    	{% endif %}
		    {% endif %}
						<div>
						{% if name.languageName == "C++" %}
		    			<form action='/problem/{{courseId }}/page{{ pageNum }}/{{ problemId }}/upload' id='my-dropzoneCpp' class='dropzone' enctype="multipart/form-data">
		    		{% else %}
		    			<form action='/problem/{{courseId }}/page{{ pageNum }}/{{ problemId }}/upload' id='my-dropzone{{name.languageName}}' class='dropzone' enctype="multipart/form-data">
		    		{% endif %}
								<div class='fallback'>
									<input name='file' type='file' multiple />
								</div>
							</form>
						</div>
      		</div>
      	{% endfor %} 
      	</div>
    	</div>
    	<button class="btn btn-primary" id='submit-all' type="submit">submit files</button>
		</div>
  	<div class="tab-pane" id="write">
	  	<div>
				<form action = '/problem/{{courseId}}/page{{ pageNum }}/{{problemId}}/codesubmission' method = "post" enctype="multipart/form-data">
				<div> language:   
					<select type = "text" id="language" name="language" onchange="selectLanguage(this)">
						{% for name in languageName %}
							<option value = "{{languageIndex[loop.index0].languageIndex}}">  {{name.languageName}} 
							{% if languageVersion[loop.index0].languageVersion != "0" %} 
								{{languageVersion[loop.index0].languageVersion}}
							{% endif %} </option>
						{% endfor %}
					</select>
					&nbsp; &nbsp; &nbsp; &nbsp; Theme :
					<select type = "text" id="language" name="language" onchange="selectLanguage(this)">
						<option value = "6"> ambiance </option>
						<option value = "7"> chaos </option>
						<option value = "8"> chrome </option>
						<option value = "9"> clouds_midnight </option>
						<option value = "10"> clouds </option>
						<option value = "11"> cobalt </option>
						<option value = "12"> crimson_editor </option>
						<option value = "13"> dawn </option>
						<option value = "14"> dreamweaver </option>
						<option selected = "selected" value = "15"> eclipse </option>
						<option value = "16"> github </option>
						<option value = "17"> idle_fingers </option>
						<option value = "18"> katzenmilch </option>
						<option value = "19"> kr_theme </option>
						<option value = "20"> kuroir </option>
						<option value = "21"> merbivore_soft </option>
						<option value = "22"> merbivore </option>
						<option value = "23"> mono_industrial </option>
						<option value = "24"> monokai </option>
						<option value = "25"> pastel_on_dark </option>
						<option value = "26"> solarized_dark </option>
						<option value = "27"> solarized_light </option>
						<option value = "28"> terminal </option>
						<option value = "29"> textmate </option>
						<option value = "30"> tomorrow_night_blue </option>
						<option value = "31"> tomorrow_night_bright </option>
						<option value = "32"> tomorrow_night_eighties </option>
						<option value = "33"> tomorrow_night </option>
						<option value = "34"> tomorrow </option>
						<option value = "35"> twilight </option>
						<option value = "36"> vibrant_ink </option>
						<option value = "37"> xcode </option>
					</select>
				</div>
					<div id="editor"></div>
					<div class=actions><button class="btn btn-primary" type="submit">submit code</div>
					<textarea name="copycode" id="copycode" style="display:none;"></textarea>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock -%}	
<!-- comment space -->
{% endblock -%}