<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template

		when you click 'Title', link to its information
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<h2>{{ courseRecords.courseId }} {{ courseRecords.courseName }}</h2>
	<div style="text-align:center">
		<div class="visible-phone" style="margin-bottom:10px">
			<style>
			.alert{
				padding: 5px;
			}
			</style>
			<span class="alert alert-info">Solved</span>
			<span class="alert alert-error">Wrong</span>
			<span class="alert">NeverSubmitted & Error</span>
		</div>
	</div>
	<table class="problem_list table table-bordered">
		<thead>
			<tr>
				<td class="hidden-phone">Num
				<td>
					{%- if session['language'] %}	{{ LanguageResources.const.ProblemTitle[session['language']] }}
					{%- else %}{{ LanguageResources.const.ProblemTitle[0] }}<!-- default -->
					{% endif -%}
				<td>
					{%- if session['language'] %}	{{ LanguageResources.const.Score[session['language']] }}
					{%- else %}{{ LanguageResources.const.Score[0] }}<!-- default -->
					{% endif -%}
				<td class="hidden-phone">
					{%- if session['language'] %}	{{ LanguageResources.const.Status[session['language']] }}
					{%- else %}{{ LanguageResources.const.Status[0] }}<!-- default -->
					{% endif -%}
				<td>
					{%- if session['language'] %}	{{ LanguageResources.const.DueDate[session['language']] }}
					{%- else %}{{ LanguageResources.const.DueDate[0] }}<!-- default -->
					{% endif -%}
				<td>
					{%- if session['language'] %}	{{ LanguageResources.const.Count[session['language']] }}
					{%- else %}{{ LanguageResources.const.Count[0] }}<!-- default -->
					{% endif -%}
				<td>
					{%- if session['language'] %}	{{ LanguageResources.const.ProblemRecord[session['language']] }}
					{%- else %}{{ LanguageResources.const.ProblemRecord[0] }}<!-- default -->
					{% endif -%}
			</tr>
		<tbody>
			{% for problemListRecord in problemListRecords %}
			<tr class='alert{%- if problemListRecord.status == "SOLVED" %} alert-info
						      {% elif problemListRecord.status == "WRONG_ANSWER" %} alert-error
						      {%- else %}
						      {% endif -%}'>
				<td class="hidden-phone">
					{{ (pages['count'] - loop.index0) - (pages['pageNum'] - 1) * pages['LIST'] }}
				<td>
					<a href="{{ url_for('GradeServer.problem', courseId=courseRecords.courseId, problemId=problemListRecord.problemId, pageNum=pages['pageNum']) }}">
						{%- if problemListRecord.problemName %}{{ problemListRecord.problemName }}{% endif -%}
					</a>
				<td>
					{%- if problemListRecord.score %}{{ problemListRecord.score }}{%- else %}0{% endif -%}
				<td class="hidden-phone">
					<div>{%- if problemListRecord.status %}{{ problemListRecord.status }}{%- else %}Never Submitted{% endif -%}</div>
				<td class="responsiveTD" align="center">
					<div class="hidden-phone">
						<script>
							// cut from YYYY-MM-DD hh:mm:ss to YY-MM-DD hh:mm
							var newDate="{{ problemListRecord.startDateOfSubmission }}";
							document.write(newDate.substring(2,16));
							document.write("<br>");
							newDate="{{ problemListRecord.endDateOfSubmission }}";
							document.write(newDate.substring(2,16));
						</script>
					</div>
					<div class="visible-phone">
						<script>
							// cut from YYYY-MM-DD hh:mm:ss to YY-MM-DD hh:mm
							var newDate="{{ problemListRecord.startDateOfSubmission }}";
							document.write(newDate.substring(2,10));
							document.write("<br>");
							newDate="{{ problemListRecord.endDateOfSubmission }}";
							document.write(newDate.substring(2,10));
						</script>
					</div>
				<td>
					{%- if problemListRecord.solutionCheckCount %}{{ problemListRecord.solutionCheckCount }}{%- else %}0{% endif -%}
				<td>
					<a href="{{ url_for('GradeServer.problem_record', courseId=courseRecords.courseId, problemId=problemListRecord.problemId, sortCondition='submissionDate') }}" onclick="setLegend()">
						<div class="hidden-phone">Problem Record</div>
						<div class="visible-phone">Record</div>
					</a>
			</tr>
		{% endfor %}
	</table>
	
	<!-- Paging -->
	<div class="pagination pagination-centered">
		<ul>
			{%- if pages['pageNum'] > pages['BLOCK'] %}
			<li><a href="{{ url_for ('GradeServer.problem_list', courseId=courseRecords.courseId, pageNum=pages['pageNum'] - 1) }}"><</a></li>
			{% endif -%}
			
			{%- for i in range (pages['startPage'], pages['endPage'] +1) %}
			<li>
				{%- if pages['pageNum'] == i %}
				<a style ='background-color:gray'>
				{%- else %}
				<a href="{{ url_for ('GradeServer.problem_list', courseId=courseRecords.courseId, pageNum=i) }}">
				{% endif -%}
				{{ i }}
				</a>
			</li>
			{% endfor -%}
			
			{%- if pages['endPage'] < pages['allPage'] %}
			<li><a href="{{ url_for ('GradeServer.problem_list', courseId=courseRecords.courseId, pageNum =pages['pageNum'] + 1) }}">></a></li>
			{% endif -%}
		</ul>
	</div>
	<!-- End Paging -->
</div>
{% endblock -%}