<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}
<script>
// set donut chart graph
$.getScript('../../static/bootstrap/js/Chart.js',function(){
	var data = [];
	var options = {
		animation: false
	};

  //Get the context of the canvas element we want to select
  var c = $('#submitChart');
  var ct = c.get(0).getContext('2d');
  var ctx = document.getElementById("submitChart").getContext("2d");
  // Purple, Black, Dark Blue, Cyan, Pink
  var colors = new Array("#0c274c", "#ef4089", "#18709c", "#19bdc4", "#fff6ee");
  var highlightColors =new Array('#ff0000', '#ffbb00', '#ffe400', '#1DDB16', '#5F00FF') ;
  /*************************************************************************/

  myNewChart = new Chart(ct).Doughnut(data, options);
  // input values and colors into the chart
  // need to change 'value:#' 
  {% for i in range(0, 5) %}
  	{% if chartSubmissionRecords[i + 3] %}
  	myNewChart.addData ({
  		value: {{ chartSubmissionRecords[i + 3] }},
  		color: colors[{{ i }}],
  		label: '{{ chartSubmissionDescriptions[i + 3] }}',
  		highlight: highlightColors[{{ i }}]
  		})
		{% endif %}
  {% endfor %}
});
</script>
<div class="container">
	<div style="text-align:center">
		<h3>{{ problemInformationRecords.problemName }}</h3>
		<h4>
			<div style="row-fluid">
				<div class="span6" id="time-limit">Time Limit : {{ problemInformationRecords.limitedTime }} &nbsp&nbsp&nbsp<span class="hidden-phone">|</span></div>
				<div class="span6" id="memory-limit">Memory Limit : {{ problemInformationRecords.limitedMemory }}</div>
			</div>
		</h4>
	</div>
	<div class="row-fluid" style="padding-top:50px">
		<div class="span4">
			<!-- chart section -->
			<div class="row-fluid" style="text-align:center">
				<div class="spanX">
					<canvas id="submitChart" width="180px"></canvas>
				</div>
				<div class="spanY">
					<h4>
						<!--  chartSubmissionRecords is Value, chartSubmissionDescriptions is Description -->
						<table style="padding-bottom:5px;width:100%">
						{% for i in range (0, chartSubmissionDescriptions|length) %}
						<tr>
							<td style="width:69%">{{ chartSubmissionDescriptions[i] }}
							<td style="width:31%">{% if not chartSubmissionRecords[i] %}0{% else %}{{ chartSubmissionRecords[i] }}{% endif %}
						</tr>
						{% endfor %}
						</table>
					</h4>
				</div>
			</div>
		</div>
		<!-- user list section -->
		<div class="user_list span8" style="text-align:center">
			<table class="problem_list table table-bordered">
				<thead>
					<tr>
						<td>Rank
						<td>
							<a href = '{{ url_for("GradeServer.problem_record", 
													courseId = courseId, 
													problemId = problemInformationRecords.problemId, 
													sortCondition = "memberId") }}'>ID
						<td>
							<a href = '{{ url_for("GradeServer.problem_record", 
													courseId = courseId, 
													problemId = problemInformationRecords.problemId, 
													sortCondition = "runTime") }}'>Runtime</a>
						<td>
							<a href = '{{ url_for("GradeServer.problem_record", 
													courseId = courseId, 
													problemId = problemInformationRecords.problemId, 
													sortCondition = "usedMemory") }}'>Memory
						<td>
							<a href = '{{ url_for("GradeServer.problem_record", 
													courseId = courseId, 
													problemId = problemInformationRecords.problemId, 
													sortCondition = "codeLength") }}'>Size
						<td>
							<a href = '{{ url_for("GradeServer.problem_record", 
													courseId = courseId, 
													problemId = problemInformationRecords.problemId, 
													sortCondition = "submissionDate") }}'>Date
						<td>Code
						<td class="hidden-phone">View
					</tr>
				<tbody>
				{% for problemSolvedMemberRecord in problemSolvedMemberRecords %}
				<tr>
					<td>{{ loop.index }}
					<td>
						<a href="{{ url_for('GradeServer.submission_record', memberId = problemSolvedMemberRecord.memberId, sortCondition ='submissionDate', pageNum =1) }}">
							{% if problemSolvedMemberRecord.memberId %}{{ problemSolvedMemberRecord.memberId }}{% endif %}
						</a>
					<td>
						{% if problemSolvedMemberRecord.runTime %}
						{{ problemSolvedMemberRecord.runTime }}
						{% else %}
						0
						{% endif %}
					 	ms
				 	<td>
						{% if problemSolvedMemberRecord.usedMemory %}
						{{ problemSolvedMemberRecord.usedMemory }}
						{% else %}
						0
						{% endif %}
						KB
					<td>
						{% if problemSolvedMemberRecord.sumOfSubmittedFileSize %}
						{{ problemSolvedMemberRecord.sumOfSubmittedFileSize }}
						{% else %}
						0
						{% endif %}
						<span class="hidden-phone hidden-tablet"> Byte</span>
						<span class="visible-phone visible-tablet"> B</span>
					<td>
						{% if problemSolvedMemberRecord.codeSubmissionDate %}
						<script>
							var newDate = "{{ problemSolvedMemberRecord.codeSubmissionDate }}";
						</script>
						<span class="visible-desktop">
							<script>
								document.write(newDate.substring(2,16));
							</script>
						</span>
						<span class="visible-tablet visible-phone">
							<script>
								document.write(newDate.substring(2,10));
							</script>
						</span>
						{% endif %}
					<td style ='vertical-align'>
						<a href='{{ url_for("GradeServer.submission_code", courseId = courseId, problemId = problemInformationRecords.problemId, memberId = problemSolvedMemberRecord.memberId) }}'>
							<!--<img src="../../static/bootstrap/img/text.png" style="height:20%;width:20%">-->
							<i class="icon-file"></i>
						</a>
					<td class="hidden-phone">
						{% if problemSolvedMemberRecord.viewCount %}
						{{ problemSolvedMemberRecord.viewCount }}
						{% else %}
						0
						{% endif %}
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock -%}

