<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->


{%- extends "main.html" -%}
{%- block body %}
<!-- problem space -->
<div class="container">
	<div class="nav problem" text-align="center">
		<h2 class="problem_title">{{ problemInformation.problemName }}</h2>
		<h4 class="problem_constraints">Time Limit : {{ problemInformation.limitedTime }} ms| Memory Limit : {{ problemInformation.limitedMemory }} MB</h4>
		<div class="container">"Problem Contents"</div>
	</div>
</div>
<!-- source code space -->

{%- block div %}
<div class="source container" bs-example-tabs>
	<ul id="myTabs" class="nav nav-tabs">
  	<li class="active"><a href="#upload" data-toggle="tab">Upload Files</a></li>
  	<li><a href="#write" data-toggle="tab">Write Code</a></li>
  	<li><a href="#info" data-toggle="tab">PDF</a></li>
  </ul>
	<div id="myTabContent2" class="tab-content">
  	<div class="tab-pane active" id="upload">
			<div id="content">
    		<ul id="myTab" class="nav nav-tabs" role="tablist">
	      	<li class="dropdown"><a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">
	      	{% if languageName|length == 1 %} {{ languageName[0].languageName }} </a> {% else %} Language Select<span class="caret"></span></a> {% endif %}
        		<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
        		{% for name in languageName %}
        			{% if name.languageName == "C++" %}
          		<li><a href="#Cpp" role="tab" data-toggle="tab" aria-controls="Cpp"> {{ name.languageName }}
          		{% if languageVersion[loop.index0].languageVersion != "0" %}
          			{{ languageVersion[loop.index0].languageVersion }}
          		{% endif %} </a></li> 
          		{% else %}
          		<li><a href="#{{name.languageName}}" role="tab" data-toggle="tab" aria-controls="{{ name.languageName }}"> {{ name.languageName }}
          		{% if languageVersion[loop.index0].languageVersion != "0" %}
          			{{ languageVersion[loop.index0].languageVersion }}
          		{% endif %} </a></li>
          		{% endif %}
          	{% endfor %}
        		</ul>
      		</li>
    		</ul>
    		<div id="myTabContent" class="tab-content">
    		{% for name in languageName %}
    		{% if loop.index == 1 %}
    			{% if name.languageName == "C++" %}
		    	<div role="tabpanel" class="tab-pane active" id="Cpp"> 
		    	{% else %}
		    	<div role="tabpanel" class="tab-pane active" id="{{ name.languageName }}">
		    	{% endif %}
		    {% else %}
		    {% if name.languageName == "C++" %}
		    	<div role="tabpanel" class="tab-pane" id="Cpp">
		    	{% else %}
		    	<div role="tabpanel" class="tab-pane" id="{{ name.languageName }}">
		    	{% endif %}
		    {% endif %}
						<div>
						{% if name.languageName == "C++" %}
		    			<form action='/problem_{{ courseId }}_{{ problemId }}_{{ problemName }}' id='my-dropzoneCpp' class='dropzone' enctype="multipart/form-data">
		    		{% else %}
		    			<form action='/problem_{{ courseId }}_{{ problemId }}_{{ problemName }}' id='my-dropzone{{ name.languageName }}' class='dropzone' enctype="multipart/form-data">
		    		{% endif %}
		    		<input type="hidden" name="usedLanguageName" value="{{ name.languageName }}">
								<div class='fallback'>
									<input name='file' type='file' multiple />
								</div>
							</form>
						</div>
      		</div>
      	{% endfor %} 
      	</div>
    	</div>
    	<button class="btn" id='submit-all' type="submit">submit files</button>
		</div>
  	<div class="tab-pane" id="write">
	  	<div>
				<form action = '/problem_{{courseId}}_page{{ pageNum }}_{{ problemId }}_{{ problemName }}' method = "post" enctype="multipart/form-data">
				<div> language:   
					<select type = "text" id="language" name="language" onchange="selectLanguage(this)">
						{% for name in languageName %}
							<option value = "{{ name.languageName }}"> {{ name.languageName }}
							{% if languageVersion[loop.index0].languageVersion != "0" %} 
								{{ languageVersion[loop.index0].languageVersion }} </option>
							{% else %} </option>
							{% endif %} 
						{% endfor %}
					</select>
					&nbsp; &nbsp; &nbsp; &nbsp; Theme :
					<select type = "text" id="language" name="language" onchange="selectLanguage(this)">
						<option value = "6"> chrome </option>
						<option value = "7"> clouds </option>
						<option selected = "selected" value = "8"> eclipse </option>
						<option value = "9"> github </option>
						<option value = "10"> monokai </option>
						<option value = "11"> textmate </option>
						<option value = "12"> tomorrow </option>
					</select>
				</div>
					<pre id="editor"></pre>
					<div class=actions><button class="btn" type="submit">submit code</div>
					<textarea name="getCode" id="getCode" style="display:none;"></textarea>
				</form>
			</div>
		</div>
		<div class="tab-pane" id="info">
			<object type="application/pdf" data="/static/ProblemDescriptions/{{ problemId }}_{{ problemName }}/{{ problemId }}_{{ problemName }}.pdf"
			width="1000" height="600"></object>
		</div>
	</div>
</div>
<script>
var editor = ace.edit("editor");
ace.require("ace/ext/language_tools");
editor.setTheme("ace/theme/eclipse");
{% if languageName[0].languageName == "JAVA" %}
	editor.session.setMode("ace/mode/java");
{% elif languageName[0].languageName == "PYTHON" %}
	editor.session.setMode("ace/mode/python");
{% else %}
	editor.session.setMode("ace/mode/c_cpp");
{% endif %}
editor.setOption("maxLines", 70);
editor.setOption("minLines", 20);
editor.setOption("showPrintMargin", false);

editor.getSession().on('change', function () {
       textarea.val(editor.getSession().getValue());
   });
</script>
{% endblock -%}	
<!-- comment space -->
{% endblock -%}
