<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template

		when you click 'Title', link to its information
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<h2>{{ courseRecords.courseId }} {{ courseRecords.courseName }}</h2>
	<table class="problem_list table table-bordered">
		<tr>
			<td>Num</td><td>Title</td><td>Score</td><td>Status</td><td>Due Date</td><td>Count</td><td>Record</td>
		</tr>
		{% for i in range(pages['startList'], pages['endList']) %}
		<tr>
			<td style ='vertical-align: middle'>
				{{ (pages['endList'] - pages['startList']) - i }}
			</td>
			<td style ='vertical-align: middle'>
				<a href="{{ url_for('GradeServer.problem', courseId = courseRecords.courseId, problemId = problemListRecords[i].problemId, pageNum = pages['pageNum']) }}">
					{{ problemListRecords[-i].problemName }}
				</a>
			</td>
			<td style ='vertical-align: middle'>
				{% if problemListRecords[i].score %}{{ problemListRecords[i].score }}{% endif %}
			</td>
			<td style ='vertical-align: middle'>
				{% if problemListRecords[i].status %}{{ problemListRecords[i].status }}{% else %}'Never Submitted'{% endif %}
			</td>
			<td style ='vertical-align: middle'>
				{{ problemListRecords[i].startDateOfSubmission }}<br>~{{ problemListRecords[i].endDateOfSubmission }}
			</td>
			<td style ='vertical-align: middle'>
				{% if problemListRecords[i].submissionCount %}{{ problemListRecords[i].submissionCount }}{% endif %}
			</td>
			<td style ='vertical-align: middle'>
				<a href="{{ url_for('GradeServer.record', courseId = courseRecords.courseId, problemId = problemListRecords[i].problemId, sortCondition = 'runTime') }}" onclick="setLegend()">
					Problem Record
				</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	<!-- Paging -->
	<div class="pagination pagination-centered">
		<ul>
			{%- if pages['pageNum'] > pages['BLOCK'] %}
			<li><a href="{{ url_for ('GradeServer.board', pageNum = pages['startPage'] -1) }}">Prev</a></li>
			{% endif -%}
			
			{%- for i in range (pages['startPage'], pages['endPage'] +1) %}
			<li><a href="{{ url_for ('GradeServer.board', pageNum = i) }}">{{ i }}</a></li>
			{% endfor -%}
			
			{%- if pages['endPage'] < pages['allPage'] %}
			<li><a href="{{ url_for ('GradeServer.board', pageNum =pages['endPage'] +1) }}">Next</a></li>
			{% endif -%}
		</ul>
	</div>
	<!-- End Paging -->
</div>
{% endblock -%}