<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}
<script>
$(function() {
	var members = [
		{% for member in memberRecords %}
			{ value: "{{ member.memberId }}" },
		{% endfor %}
		{ value: ""}
	];
	$("#search-members").autocomplete({
		lookup: members,
		onSelect: function(suggestion){
    }
	});
});
</script>

<div class="container">
	<h2>Ranking</h2>
	<div class="tabbable">
		<ul class="nav nav-tabs">
		<!-- tab active setting -->
		{% for myCourse in myCourses %}
			{% if loop.index0 == 0 %}
				{% if myCourse == activeTabCourseId %}
			<li class="active">
				<a href = '#{{ myCourse }}' data-toggle="tab">
				{% else %}
			<li>
				<a href = '{{ url_for ("GradeServer.rank", activeTabCourseId = myCourse, sortCondition = sortCondition, pageNum = 1) }}'>
				{% endif %}
					{{ myCourse }} 
				</a>
			

			{% elif myCourse.courseId == activeTabCourseId %}
			<li class="active">
				<a href = "#{{ myCourse.courseId }}" data-toggle="tab">
			{% else %}
			<li>
				<a href = '{{ url_for ("GradeServer.rank", activeTabCourseId = myCourse.courseId, sortCondition = sortCondition, pageNum = 1) }}'>
			{% endif %}
					{{ myCourse.courseId }} {{ myCourse.courseName }} 
				</a>
			
		{% endfor %}
		</ul>
		
		<!-- posts -->
		<div class="tab-content">
		<!-- ActiveTab posts -->
		{%- for myCourse in myCourses %}
			{%- if loop.index0 == 0 %}
				{%- if myCourse == activeTabCourseId %}
				<div id="{{ myCourse }}" class = 'active'>
					<table class="table">
						<thead>
							<tr>
								<td>Rank
								<td>User ID
								<td>Comment
								<td>
									<a href="{{ url_for('GradeServer.rank', activeTabCourseId = myCourse, sortCondition ='solvedProblem', pageNum = pages['pageNum']) }}">
										Solved Problems
									</a>
								<td>Tries
								<td>
									<a href="{{ url_for('GradeServer.rank', activeTabCourseId = myCourse, sortCondition ='rate', pageNum = pages['pageNum']) }}">
										Rate
									</a>
						<tbody>
							{%- for rankMemberRecord in rankMemberRecords %}
							<tr>
								<td>{{ loop.index + (pages['pageNum'] - 1) * pages['LIST'] }}
								<td>
									<a href="{{ url_for('GradeServer.user_history', memberId = rankMemberRecord.memberId, sortCondition ='submissionDate', pageNum =1) }}">
										{{ rankMemberRecord.memberId }}
									</a>
								<td>
									{%- if rankMemberRecord.comment %}
										{{ rankMemberRecord.comment }}
									{% endif -%}
								<td>{{ rankMemberRecord.sumOfSolvedProblemCount }}
								<td>{{ rankMemberRecord.solutionCheckCount }}
								<td>{{ rankMemberRecord.solvedRate }}%
							</tr>
							{% endfor -%}
					</table>
					<!-- page number section -->
					<div class="pagination pagination-centered">
						<ul>
							{%- if pages['pageNum'] > pages['BLOCK'] %}
							<li>
								<a href="{{ url_for ('GradeServer.rank', activeTabCourseId = myCourse, sortCondition = sortCondition, pageNum =pages['pageNum'] - 1) }}"><</a>
							{% endif -%}
							
							{%- for i in range (pages['startPage'], pages['endPage'] +1) %}
							<li>
								{%- if pages['pageNum'] == i %}
								<a style ='background-color:gray'>
								{%- else %}
								<a href="{{ url_for ('GradeServer.rank', activeTabCourseId = myCourse, sortCondition = sortCondition, pageNum = i) }}">
								{% endif -%}
									{{ i }}
								</a>
							{% endfor -%}
							
							{%- if pages['endPage'] < pages ['allPage'] %}
							<li>
								<a href="{{ url_for ('GradeServer.rank', activeTabCourseId = myCourse, sortCondition = sortCondition, pageNum =pages['pageNum'] + 1) }}">></a>
							{% endif -%}
					</div>
					<!-- End Paging -->
				</div>
				{% endif -%}
			{%- elif myCourse.courseId == activeTabCourseId %}
			<div id="{{ myCourses.courseId }}" class="active">
				<table class="table">
					<thead>
						<tr>
							<td>Rank
							<td>User ID
							<td>Comment
							<td>
								<a href="{{ url_for('GradeServer.rank', activeTabCourseId = activeTabCourseId, sortCondition ='solvedProblem', pageNum = pages['pageNum']) }}">
									Solved Problems
								</a>
							<td>Tries
							<td>
								<a href="{{ url_for('GradeServer.rank', activeTabCourseId = activeTabCourseId, sortCondition ='rate', pageNum = pages['pageNum']) }}">
									Rate
								</a>
					<tbody>
						{%- for rankMemberRecord in rankMemberRecords %}
						<tr>
							<td>{{ loop.index + (pages['pageNum'] - 1) * pages['LIST'] }}
							<td>
								<a href="{{ url_for('GradeServer.user_history', memberId = rankMemberRecord.memberId, sortCondition ='submissionDate', pageNum =1) }}">
									{{ rankMemberRecord.memberId }}
								</a>
							<td>{{ rankMemberRecord.comment }}
							<td>{{ rankMemberRecord.sumOfSolvedProblemCount }}
							<td>{{ rankMemberRecord.solutionCheckCount }}
							<td>{{ rankMemberRecord.solvedRate }}%
						</tr>
						{% endfor -%}
				</table>
				<!-- page number section -->
				<div class="pagination pagination-centered">
					<ul>
						{%- if pages['pageNum'] > pages['BLOCK'] %}
						<li>
							<a href="{{ url_for ('GradeServer.rank', activeTabCourseId = activeTabCourseId, sortCondition = sortCondition, pageNum =pages['pageNum'] - 1) }}"><</a>
						{% endif -%}
						
						{%- for i in range (pages['startPage'], pages['endPage'] +1) %}
						<li>
							{%- if pages['pageNum'] == i %}
							<a style ='background-color:gray'>
							{%- else %}
							<a href="{{ url_for ('GradeServer.rank', sactiveTabCourseId = activeTabCourseId, ortCondition = sortCondition, pageNum = i) }}">
							{% endif -%}
							{{ i }}
							</a>
						{% endfor -%}
						
						{%- if pages['endPage'] < pages ['allPage'] %}
						<li>
							<a href="{{ url_for ('GradeServer.rank', activeTabCourseId = activeTabCourseId, sortCondition = sortCondition, pageNum =pages['pageNum'] + 1) }}">></a>
						{% endif -%}
					</ul>
				</div>
				<!-- End Paging -->
			</div>
			{% endif -%}
		{% endfor -%}
		</div>
		<!-- end posts -->
	</div>
	
	<!-- Find Member Id -->
	<form method="post">
		<!-- SearchBar // all -->
		<div id="all" class="tab-pane active" style="text-align: center">
			<div class="input-append" style="margin-bottom: 0px">
				<input class ="span3" id ="search-members" name ="memberId" type="text" placeholder="Member ID">
				<button name="findMemberId" class="btn" type="submit">Find</button>
			</div>
		</div>
	</form>
</div>
{% endblock -%}