<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<h2>Rank</h2>
	<table class="table">
		<thead>
			<tr>
				<td>Ranking</td><td>User Id</td><td>Comment</td><td>Solved Problem</td><td>Count</td><td>Rate</td>
			</tr>
		</thead>
		{%- for i in range (pages['startList'], pages['endList']) %}
			<tr>
				<td>{{ i +1 }}</td>
				<td><a href ="{{ url_for ('GradeServer.user_history', memberId =rankMemberRecords[i].memberId, pageNum =1) }}">{{ rankMemberRecords[i].memberId }}</a></td>
				<td>{{ rankMemberRecords[i].comment }}</td>
				<td>{{ rankMemberRecords[i].solvedCount }}</td>
				<td>{{ rankMemberRecords[i].submissionCount }}</td>
				<td>{{ rankMemberRecords[i].solvedRate }}%</td>
			</tr>
		{% endfor -%}
	</table>
	<!-- page number section -->
	<div class="pagination pagination-centered">
		<ul>
			{%- if pages['pageNum'] > pages['BLOCK'] %}
			<li><a href="{{ url_for ('GradeServer.rank', pageNum =pages['startPage'] -1) }}">Prev</a></li>
			{% endif -%}
			
			{%- for i in range (pages['startPage'], pages['endPage'] +1) %}
			<li><a href="{{ url_for ('GradeServer.rank', pageNum =i) }}">{{ i }}</a></li>
			{% endfor -%}
			
			{%- if pages['endPage'] < pages ['allPage'] %}
			<li><a href="{{ url_for ('GradeServer.rank', pageNum =pages['endPage'] +1) }}">Next</a></li>
			{% endif -%}
		</ul>
	</div>
	<!-- end page number section -->
</div>
{% endblock -%}