<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}
<script>
$(function() {

	var members = [
		{% for member in memberRecords %}
			{ value: "{{ member.memberId }}" },
		{% endfor %}
		{ value: ""}
	];
	$("#search-members").autocomplete({
		lookup: members,
		onSelect: function(suggestion){
    }
	});
});
</script>

<div class="container">
	<h2>Rank</h2>
	<table class="table">
		<thead>
			<tr>
				<td style ='vertical-align: middle'>Ranking</td>
				<td style ='vertical-align: middle'>User Id</td>
				<td style ='vertical-align: middle'>Comment</td>
				<td style ='vertical-align: middle'><a href="{{ url_for('GradeServer.rank', sortCondition ='solvedProblem', pageNum =1) }}">Solved Problem</a></td>
				<td style ='vertical-align: middle'>Count</td>
				<td style ='vertical-align: middle'><a href="{{ url_for('GradeServer.rank', sortCondition ='rate', pageNum =1) }}">Rate</a></td>
			</tr>
		</thead>
		{%- for rankMemberRecord in rankMemberRecords %}
		<tr>
			<td style ='vertical-align: middle'>{{ loop.index + (pages['pageNum'] - 1) * page['LIST'] }}</td>
			<td style ='vertical-align: middle'><a href="{{ url_for('GradeServer.user_history', sortCondition ='submittedDate', pageNum =1) }}">{{ rankMemberRecord.memberId }}</a></td>
			<td style ='vertical-align: middle'>{{ rankMemberRecord.comment }}</td>
			<td style ='vertical-align: middle'>{{ rankMemberRecord.solvedCount }}</td>
			<td style ='vertical-align: middle'>{{ rankMemberRecord.submissionCount }}</td>
			<td style ='vertical-align: middle'>{{ rankMemberRecord.solvedRate }}%</td>
		</tr>
		{% endfor -%}
	</table>
	<!-- page number section -->
	<div class="pagination pagination-centered">
		<ul>
			{%- if pages['pageNum'] > pages['BLOCK'] %}
			<li><a href="{{ url_for ('GradeServer.rank', sortCondition = sortCondition, pageNum =pages['pageNum'] - 1) }}"><</a></li>
			{% endif -%}
			
			{%- for i in range (pages['startPage'], pages['endPage'] +1) %}
			<li>
				{% if pages['pageNum'] == i %}
				<a style ='background-color:gray'>
				{% else %}
				<a href="{{ url_for ('GradeServer.rank', sortCondition = sortCondition, pageNum = i) }}">
				{% endif %}
				{{ i }}
				</a>
			</li>
			{% endfor -%}
			
			{%- if pages['endPage'] < pages ['allPage'] %}
			<li><a href="{{ url_for ('GradeServer.rank', sortCondition = sortCondition, pageNum =pages['pageNum'] + 1) }}">></a></li>
			{% endif -%}
		</ul>
	</div>
	<!-- end page number section -->
	
	<!-- Find Member Id -->
	<form method="post">
		<!-- SearchBar // all -->
		<div id="all" class="tab-pane active" style="text-align: center">
			<div class="input-append" style="margin-bottom: 0px">
				<input class ="span3" id ="search-members" name ="memberId" type="text" placeholder="Member Id">
				<button name="findMemberId" class="btn" type="submit">Find</button>
			</div>
		</div>
	</form>
</div>
{% endblock -%}