<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{% extends "main.html" %}
{% block body %}
<div class="container">
	<h4>
		<div style="row-fluid">
			<div class="span12">
				<div class="row-fluid" style ='text-align:center'>
					<table class="table">
						<thead>
							<tr>
								<td>{{ article.courseId }} {{ article.courseName }}</td>
								<td style ='text-align:right'>{{ article.writtenDate }}</td>
							</tr>
							
							<tr>
							<h4>
								<td>{{ article.title }}</td>
								<td style ='text-align:right'>{{ article.writerId }}</tD>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</h4>
</div>

<!-- content block -->
<div class="container">
	<!-- put contents here -->
	{{ article.content }}
	<div style="text-align:center">
		<form method="post">
			<button class="btn btn-default btn-lg" type="submit" name="postLike">
			{% if isPostLiked == 'Not-Cancelled' %} UnLike {% else %} Like {% endif %}<i class="icon-thumbs-up"></i>
			</button>
			{% if article.writerId == session['memberId'] or session['authority'] == 'ServerAdministrator' or session['authority'] == 'CourseAdministrator' %}
			<button href="#deletePost" class="delete btn" data-toggle="modal">Delete</button>
			<div id="deletePost" class="modal hide fade">
				<div class="modal-header">
					<h3>Delete Post</h3>
				</div>
				<div class="modal-body">
					<p>Do you really want to delete it?</p>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<button href="#" class="delete btn btn-primary" name ="deletePost" type="submit">Confirm</button>
				</div>
			</div>
			<a href="{{ url_for('GradeServer.write', articleIndex =article.articleIndex) }}"><button type="button" class ="btn modify">Modify</button></a>
			{% endif %}
			<br>
		</form>
	</div>
</div>
<!-- end content block -->
<hr style="margin-left:5%;margin-right:5%">

<!-- comment block -->
<div class="container">
	<!-- put the comments here -->

	<div style="text-align:center">
		<form method="post">
			<input type="textarea" name="boardCommentWrite" style="width:92%" placeholder="Comment">
			<button class="submit">Write</button>
		</form>
	</div>
	<div>
		{% for i in range (0, commentRecords|length) %}
		<form method = "post" id="myform">
			<a href = '{{ url_for ("GradeServer.user_history", memberId = commentRecords[i].boardReplierId, sortCondition = "submissionDate", pageNum = 1) }}'>
				{{ commentRecords[i].boardReplierId }}
			</a>
			<!-- Content, WrittenDate -->
			{% if boardReplyIndex and boardReplyIndex == commentRecords[i].boardReplyIndex %}
				<input type="textarea" name="modifyComfirmBoardComment{{ boardReplyIndex }}" style="width:90%" value = '{{commentRecords[i].boardReplyContent }}'>
				<button class="submit">Comfirm</button>
			{% else %}
				: {{ commentRecords[i].boardReplyContent }} | {{ commentRecords[i].boardRepliedDate }} |
				<!-- like button -->
				<button class="like btn btn-link" href="#" name="boardReplyLike{{ commentRecords[i].boardReplyIndex }}" type="submit">
				{% if isLikeds[i]['isLiked'] == 'Liked' %} 
					UnLike 
				{% else %} 
					Like 
				{% endif %}
				</button>
				{{ commentRecords[i].sumOfLikeCount }}
				
				<!-- delete button -->
				<!-- replier and masters are availables to delete the comments -->
				{% if commentRecords[i].boardReplierId == session['memberId'] or session['authority'] == 'ServerAdministrator' or session['authority'] == 'CourseAdministrator' %}
				<a href="#deleteBoardComment{{ commentRecords[i].boardReplyIndex }}" role="button" class="btn btn-link" data-toggle="modal"><i class="icon-trash"></i></a>
				<div id="deleteBoardComment{{ commentRecords[i].boardReplyIndex }}" class="modal hide fade" style="text-align:center">
					<div class="modal-header">
						<h3>Delete Comment</h3>
					</div>
					<div class="modal-body">
						<p>Do you really want to delete it?</p>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<button href="#" class="delete btn btn-primary" name="deleteBoardComment{{ commentRecords[i].boardReplyIndex }}" type="submit">Confirm</button>
					</div>
				</div>
				<!-- modify button -->
				<!-- replier and masters are available to modify the comments -->
				<button name ='modifyBoardComment{{ commentRecords[i].boardReplyIndex }}' class="btn btn-link"><i class="icon-pencil"></i></button>
				{% endif %}
			{% endif %}
			<br>
		</form>
		{% endfor %}
	</div>
	
</div>
<!-- end comment block -->
{% endblock %}