<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}
<script>
// set donut chart graph
$.getScript('../../static/bootstrap/js/Chart.js',function(){
	var data = [];
	var options = {
		animation: false
	};

  //Get the context of the canvas element we want to select
  var c = $('#submitChart');
  var ct = c.get(0).getContext('2d');
  var ctx = document.getElementById("submitChart").getContext("2d");
  // Purple, Black, Dark Blue, Cyan, Pink
  var colors = new Array("#ef4089", "#0c274c", "#18709c", "#19bdc4", "#fff6ee");
  var highlightColors =new Array('#ff0000', '#ffbb00', '#ffe400', '#1DDB16', '#5F00FF') ;
  /*************************************************************************/

  myNewChart = new Chart(ct).Doughnut(data, options);
  // input values and colors into the chart
  // need to change 'value:#' 
  {% for i in range(0, 5) %}
  	{% if chartSubmissionRecords[i + 3] %}
  	myNewChart.addData ({
  		value: {{ chartSubmissionRecords[i + 3] }},
  		color: colors[{{ i }}],
  		label: '{{ chartSubmissionDescriptions[i + 3] }}',
  		highlight: highlightColors[{{ i }}]
  		})
		{% endif %}
  {% endfor %}

})
</script>
<div class="container">
	<div style="text-align:center">
		<h3>{{ problemInformationRecords.problemName }}</h3>
		<h4>
			<div style="row-fluid">
				<div class="span6" id="time-limit">Time Limit : {{ problemInformationRecords.limitedTime }} &nbsp&nbsp&nbsp|</div>
				<div class="span6" id="memory-limit">Memory Limit : {{ problemInformationRecords.limitedMemory }}</div>
			</div>
		</h4>
	</div>
	<div class="container">
		<div class="row-fluid">
			<div class="span12" style="padding-top:50px">
				<div class="row-fluid">
					<!-- chart section -->
					<div class="chart span5" style="text-align:center">
						<div class="row-fluid">
							<div class="span7" style="float:left">
								<canvas id="submitChart" width="200%"></canvas>
							</div>
							<div class="span5" id="legend-box" style="float:right">
							<br>
							</div>
						</div>
						<div style="text-align:right;width:60%">
							{% for i in range (0, chartSubmissionDescriptions|length) %}
							<h4 style ="padding-bottom:5px">
								<!--  chartSubmissionRecords is Value, chartSubmissionDescriptions is Description -->
								{{ chartSubmissionDescriptions[i] }}  :  {% if not chartSubmissionRecords[i] %}0{% else %}{{ chartSubmissionRecords[i] }}{% endif %}
								<br>
							</h4>
							{% endfor %}
						</div>
					</div>
					<!-- user list section -->
					<div class="user_list span7" style="text-align:center">
						<table class="problem_list table table-bordered">
							<tr>
								<td>Rank</td>
								<td>User Id</td>
								<td><a href = '{{ url_for("GradeServer.record", 
																					courseId = courseId, 
																					problemId = problemInformationRecords.problemId, 
																					sortCondition = "runTime") }}'>Run Time</a></td>
								<td><a href = '{{ url_for("GradeServer.record", 
																					courseId = courseId, 
																					problemId = problemInformationRecords.problemId, 
																					sortCondition = "codeLength") }}'>Code Length</td>
								<td><a href = '{{ url_for("GradeServer.record", 
																					courseId = courseId, 
																					problemId = problemInformationRecords.problemId, 
																					sortCondition = "submissionDate") }}'>Sumission Date</td>
							</tr>
							{% for i in range(0, problemSolvedUserRecords|length) %}
							<tr>
								<td>{{ i + 1 }}</td>
								<td><a href='{{ url_for("GradeServer.user_record") }}'>{{ problemSolvedUserRecords[i].memberId }}</a></td>
								<td>{{ problemSolvedUserRecords[i].runTime }}</td>
								<td>{{ problemSolvedUserRecords[i].sumOfSubmittedFileSize }}</td>
								<td>{{ problemSolvedUserRecords[i].codeSubmissionDate }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock -%}

