<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>
			{{ LanguageResources.const.User[session['language']] }}
			{{ LanguageResources.const.Management[session['language']] }}
		</h3>
		<!-- if any button is checked, then showing modal pop -->
		<div style="text-align:right">
			<a href="{{ url_for('GradeServer.server_add_user') }}" class="btn">
				{{ LanguageResources.const.Addition[session['language']] }}
			</a>
			<a class="btn" data-toggle="modal" role="button" onclick="showingDeleteModal()">
				{{ LanguageResources.const.Deletion[session['language']] }}
			</a>
		</div>

		<!-- hidden modal pop -->
		<!-- if any item choosed -->
		<div class="modal hide fade" id="deleteModal"
			  aria-labelledby="deleteModalLabel" aria-hidden="true"
			  role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"
						  type="button" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">
					{{ LanguageResources.const.User[session['language']] }}
					{{ LanguageResources.const.Deletion[session['language']] }}
				</h3>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete it?</p>
			</div>
			<div class="modal-footer">
				<form id="deleteConfirm" method="post">
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						{{ LanguageResources.const.Close[session['language']] }}
					</button>
					<button class="btn btn-primary" type="submit">
						{{ LanguageResources.const.Confirm[session['language']] }}
					</button>
			</div>
		</div>
		<!-- no items choosed -->
		<div class="modal hide fade" id="deleteNoItem"
			  aria-labelledby="deleteModalLabel" aria-hidden="true"
			  role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"
						  stype="button" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">
					{{ LanguageResources.const.User[session['language']] }}
					{{ LanguageResources.const.Deletion[session['language']] }}
				</h3>
			</div>
			<div class="modal-body">
				<p>No items choiced</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">
					{{ LanguageResources.const.Close[session['language']] }}
				</button>
			</div>
		</div>
		<!-- end hidden modal pop -->

		<table class="table table-bordered" id="registeredUsers" style="margin-top:10px">
			<thead>
				<tr>
					<td>Index
					<td>
						{{ LanguageResources.const.ID[session['language']] }}
					<td>
						{{ LanguageResources.const.College[session['language']] }}
						&
						{{ LanguageResources.const.Department[session['language']] }}
					<td>
						{{ LanguageResources.const.Name[session['language']] }}
					<!-- <td>Phone -->
					<td>
						{{ LanguageResources.const.Email[session['language']] }}
					<td>
						<abbr title="SA: Server Administrator, CA: Course Administrator">
							{{ LanguageResources.const.Authority[session['language']] }}
						</abbr>
					<td>
						{{ LanguageResources.const.LastAccess[session['language']] }}
					<td>
						{{ LanguageResources.const.Check[session['language']] }}
						<input class="checkAll" type="checkbox" style="margin:0px" onclick="selectAllCheckboxes('registeredUsers');">
			<tbody>
				<script> index = {{ index }}; </script>
				{%- for user in users %}
				<tr>
					<td><script> document.write(index--); </script>
					<td>{{ user[0] }} <!-- member ID -->
					<td> <!-- college & department information -->
						{%- for index in range(7, user|length) %}
							{{ user[index] }}
							{%- if index % 2 == 0 %}
							<br>
							{% endif -%}
						{% endfor -%}		
					
					<td>{{ user[1] }} <!-- member name -->
					<!-- <td>{{ user[2] }} --><!-- member contact number -->
					<td>{{ user[3] }} <!-- member email address -->
					<!-- Up to you. -->
					<!-- Now we set USER as Student, SERVER_ADMINISTRATOR as SA, COURSE_ADMINISTRATOR  as CA -->
					<!-- Because using meta values, not enough width -->
					<td><!-- member authority -->
						{%- for authority in user[4] %}
							{%- if authority==SETResources.const.USER %}
								Student
							{% elif authority==SETResources.const.SERVER_ADMINISTRATOR %}
								SA
							{% elif authority==SETResources.const.COURSE_ADMINISTRATOR %}
								CA
							{% else %}
								Unknown
							{% endif -%}
						{% endfor -%}
					<td><!-- member last access date -->
						<script>
						var date = "{{ user[6] }}"; //  user[5] is signed in date.
						if(date != "None"){
							// slice from "YYYY-MM-DD hh:mm:ss" to "YY-MM-DD hh:mm"
							date = date.substr(2,14);
						}
						else{
							date = "Never";
						}
						document.write(date);
						</script>
					<td>
						<label class="checkbox-center">
							<input class="box-check" name="{{ user[0] }}"
									type="checkbox" form="deleteConfirm">
						</label>
				{% endfor -%}
				</form>
		</table>
	</div>
</div>
{% endblock -%}
