{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>
			{%- if session['language'] %}	{{ LanguageResources.const.Service[session['language']] }}
			{%- else %}{{ LanguageResources.const.Service[0] }}<!-- default -->
			{% endif -%}
			&nbsp;
			{%- if session['language'] %}	{{ LanguageResources.const.Management[session['language']] }}
			{%- else %}{{ LanguageResources.const.Management[0] }}<!-- default -->
			{% endif -%}
		</h3>
		<form method="post">
			<table class="table">
				<tr>
					<td>
						{%- if session['language'] %}	{{ LanguageResources.const.Server[session['language']] }}
						{%- else %}{{ LanguageResources.const.Server[0] }}<!-- default -->
						{% endif -%}
					<td>
						<label class="radio inline"><input id="serveron" name="server" type="radio" value="serveron" checked>On</label>
						<label class="radio inline"><input id="serveroff" name="server" type="radio" value="serveroff">Off</label>
				<tr>
					<td>
						{%- if session['language'] %}	{{ LanguageResources.const.Judging[session['language']] }}
						{%- else %}{{ LanguageResources.const.Judging[0] }}<!-- default -->
						{% endif -%}
					<td>
						<label class="radio inline"><input id="judgeon" name="judge" type="radio" value="judgeon" checked>On</label>
						<label class="radio inline"><input id="judgeoff" name="judge" type="radio" value="judgeoff">Off</label>
				<tr>
					<td>
						{%- if session['language'] %}	{{ LanguageResources.const.Board[session['language']] }}
						{%- else %}{{ LanguageResources.const.Board[0] }}<!-- default -->
						{% endif -%}
					<td>
						<label class="radio inline"><input id="boardon" name="board" type="radio" value="boardon" checked>On</label>
						<label class="radio inline"><input id="boardoff" name="board" type="radio" value="boardoff">Off</label>
			</table>
			<button class="btn" type="submit">
				{%- if session['language'] %}	{{ LanguageResources.const.Done[session['language']] }}
				{%- else %}{{ LanguageResources.const.Done[0] }}<!-- default -->
				{% endif -%}
			</button>
		</form>
	</div>
</div>
{% endblock -%}