{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<h3>College&Department management</h3>
	<div class="tabbable">
		<ul class="nav nav-tabs">
			<li id="collegeTab">
				<a id="college" data-toggle="tab" href="#colleges">College</a>
			<li id="departmentTab">
				<a id="department" data-toggle="tab"
					href="#departments">Department</a></li>
			<div style="text-align:right">
				<a class="btn" id="addModal" data-toggle="modal" href="#collegeModal"
				 	rol="button">Add</a>
			</div>	
		</ul>
		<!-- ///// College Modal ///// -->
		<!-- ///// Add case ///// -->
		<form method="post">
		<div class="modal hide fade" id="collegeModal" 
			  tabindex="-1" role="dialog" aria-labelledby="addCollegeModalLabel"
			  aria-hidden="true">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button"
						  aria-hidden="true">x</button>
				<h3 id="addCollegeModalLabel">Add College</h3>
			</div>
			<div class="modal-body">
				<p></p>
				<div style="text-align:right">
					<button class="btn" type="button" id="addline_college">Add line</button>
				</div>
				<table class="table table-bordered" id='Colleges' style="margin-top:10px">
					<thead>
						<tr>
							<td>College Code
							<td>College Name
					<tbody id="addCollegeForm">
						<tr>
							<td>
								<input class="input-medium" id="collegeCode1" name="collegeCode1"
										type="text" placeholder="Optional">
							<td>
								<input class="input-medium" id="collegeName1" name="collegeName1"
										type="text" placeholder="College Name">
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn" name="addCollege" type="submit">Done</button>
				<button class="btn" id="resetAddCollegeForm"
						  data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
		</form>
		<!-- ///// end college modal ///// -->
		<!-- ///// Department Modal ///// -->
		<!-- ///// Add case ///// -->
		<form method="post">
		<div class="modal hide fade" id="departmentModal"
			  tabindex="-1" role="dialog" aria-labelledby="addDepartmentModalLabel"
			  aria-hidden="true">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"
						  type="button" aria-hidden="true">x</button>
				<h3 id="addDepartmentModalLabel">Add Department</h3>
			</div>
			<div class="modal-body">
				<p></p>
				<div style="text-align:right">
					<button class="btn" id="addline_department" type="button">Add line</button>
				</div>
				<table class="table table-bordered" id='Departments' style="margin-top:10px">
					<thead>
						<tr>
							<td>College
							<td class="hidden-phone">Department Code
							<td>Department Name
					<tbody id="addDepartmentForm">
						<tr>
							<td>
								<select id="collegeIndex1" name="collegeIndex1" style="width:100%">
									{%- for college in allColleges %}
									<option>
										{{ college.collegeIndex }} {{ college.collegeName }}
									</option>
									{% endfor -%}
								</select>
							<td class="hidden-phone">
								<input class="input-medium" name="departmentCode1"
										type="text" placeholder="Optional" style="width:93%">
							<td>
								<input class="input-medium" name="departmentName1"
										type="text" placeholder="Department Name" style="width:93%">
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn" name="addDepartment" type="submit">Done</button>
				<button class="btn" id="resetAddDepartmentForm"
						  data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
		</form>

<!-- ///// end department modal ///// -->
		<div class="tab-content">
			<div class="tab-pane" id="colleges">
			<form method="post">
				<table class="table">
					<thead>
						<tr>
							<td>Index
							<td class='hidden-phone'>Code
							<td>Name
							<td>Check
					<tbody>
						{%- for college in allColleges %}
						<tr>
							<td>{{ loop.index }}
							<td class='hidden-phone'>{{ college.collegeCode }}
							<td>{{ college.collegeName }}
							<td>
								<input class="college-box-check"
									     name="college{{ college.collegeIndex }}"
									     type="checkbox">
						{% endfor -%}
				</table>
			</div>
			<!-- ///// College Modal ///// -->
			<!-- ///// Delete case ///// -->
			<div class="modal hide fade" id="deleteCollegeModal"
				  role="dialog" aria-labelledby="deleteCollegeModalLabel"
				  aria-hidden="true" tabindex="-1">
				<div class="modal-header">
					<button class="close" type="button"
							  data-dismiss="modal" aria-hidden="true">x</button>
					<h3 id="deleteCollegeModalLabel">Delete College</h3>
				</div>
				<div class="modal-body">
					<p>Do you really want to delete it?</p>
				</div>
				<div class="modal-footer">
					<button class="btn" name="deleteCollege" type="submit">
						Save changes
					</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						Close
					</button>
				</div>
			</div>
			<!-- no items choiced -->
			<div class="modal hide fade" id="deleteNoCollegeItem"
				  role="dialog" aria-labelledby="deleteModalLabel"
				  aria-hidden="true" tabindex="-1">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal"
							  aria-hidden="true">x</button>
					<h3 id="deleteModalLabel">Delete College</h3>
				</div>
				<div class="modal-body">
					<p>No items choiced</p>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						Close
					</button>
				</div>
			</form>	
			</div>
			<!-- ***** end College Modal ***** -->

			<div class="tab-pane" id="departments">
			<form method="post">
				<table class="table">
					<thead>
						<tr>
							<td>Index
							<td>College
							<td class='hidden-phone'>Code
							<td>Name
							<td>Check
					<tbody>
						{%- for relation, college, department in allDepartments %}
						<tr>
							<td>{{ loop.index }}
							<td>{{ college.collegeName }}
							<td class='hidden-phone'>{{ department.departmentCode }}
							<td>{{ department.departmentName }}
							<td>
								<input class="department-box-check"
										name="department{{ department.departmentIndex }}"
									  	type="checkbox">
						{% endfor -%}
				</table>
			</div>
		</div>
	</div>
	<!-- ///// Delete case ///// -->
	<div class="modal hide fade" id="deleteDepartmentModal"
			 role="dialog" aria-labelledby="deleteDepartmentModalLabel"
			 aria-hidden="true" tabindex="-1">
		<div class="modal-header">
			<button class="close" type="button"
					  data-dismiss="modal" aria-hidden="true">x</button>
			<h3 id="deleteDepartmentModalLabel">Delete Department</h3>
		</div>
		<div class="modal-body">
			<p>Do you really want to delete it?</p>
		</div>
		<div class="modal-footer">
			<button class="btn" name="deleteDepartment" type="submit">
				Save changes
			</button>
			<button class="btn" data-dismiss="modal" aria-hidden="true">
				Close
			</button>
		</div>
		</form>
	</div>
	<!-- no items choiced -->
	<div class="modal hide fade" id="deleteNoDepartmentItem"
		  role="dialog" aria-labelledby="deleteModalLabel"
		  aria-hidden="true" tabindex="-1">
		<div class="modal-header">
			<button class="close" type="button" data-dismiss="modal"
					  aria-hidden="true">x</button>
			<h3 id="deleteModalLabel">Delete Department</h3>
		</div>
		<div class="modal-body">
			<p>No items choiced</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">
				Close
			</button>
		</div>
	</div>
	<!-- ***** end Department Modal ***** -->

	<div id="deleteButton" style="text-align:right">
		<a class="btn" data-toggle="modal" role="button"
			onclick="showingDeleteModal('college')"> Delete </a>
	</div>
</div>
<script>
// change the button up to current tab
var currentTab="{{ currentTab }}";
document.getElementById(currentTab).className="tab-pane active";

if(currentTab.indexOf("college") != -1){
	currentTab=buttonAttrUpToTab("college")+"Tab";
}
else{
	currentTab=buttonAttrUpToTab("department")+"Tab";
}

function buttonAttrUpToTab(tab){
	document.getElementById('addModal').href="#"+tab+"Modal";
	changeOnClickEvent(tab);
	return tab;
}

document.getElementById(currentTab).className="active";

$('a[data-toggle="tab"]').on('shown', function(e){
	var id=$(e.target).attr('id');
	document.getElementById('addModal').href="#"+id+"Modal";
	attrUpToTab(id);
});

function attrUpToTab(tab){
	changeOnClickEvent(tab);
}
 
function changeOnClickEvent(tab){
	var innerhtml=document.getElementById('deleteButton').innerHTML.split(' ');
	var newinnerhtml='';
	for(var i=0;i<innerhtml.length;i++){
		if(innerhtml[i].indexOf('onclick') > -1){
			newinnerhtml+="onclick=\"showingDeleteModal('"+tab+"')\"";
		}
		else if(innerhtml[i].indexOf('>') > -1){
			newinnerhtml+='> Delete </a>';
			break;
		}
		else{
			newinnerhtml+=innerhtml[i]+' ';
		}
	}
	document.getElementById('deleteButton').innerHTML=newinnerhtml;
}

// disabling add line when the window size is small like phone
window.onresize = function(){
	var displayOption;
	if($(window).width()<768){
		displayOption="display:none";
	}
	else{
		displayOption="display:inline-block";
	}
	document.getElementById('addline_department').style=displayOption;
};

// College
// Add line button event
$("#addline_college").bind("click", function(){
	var targetTable=document.getElementById("Colleges");
	var numOfRow=targetTable.rows.length;

	reset_values=function(){
		$("#collegeCode1").val();
		$("#collegeName1").val();
	}

	var newRow=targetTable.insertRow(1);

	var keys=['collegeCode', 'collegeName'];
	var placeholders=['Optional', 'College Name'];
	for(var i=0;i<targetTable.rows[0].cells.length;i++){
		newRow.insertCell(i).innerHTML=
			"<tr>"+
				"<td>"+
					"<input class='input-medium"+
						    "'id='"+keys[i]+numOfRow+
						    "'name='"+keys[i]+numOfRow+
						    "'type='text"+
						    "'placeholder='"+placeholders[i]+
						    "'values='"+$("#"+keys[i]+"1").val()+
						    "'>";
	}
	reset_values();
});

// Close button event
$("#resetAddCollegeForm").bind("click", function(){
	var keys=['collegeCode', 'collegeName'];
	var placeholders=['Optional', 'College Name'];
	var newInnerHTML="<tr>";
	for(var i=0;i<2;i++){
		newInnerHTML+="<td>"+
								"<input class='input-medium"+
									    "'name='"+keys[i]+"1"+
									    "'type='text"+
									    "'placeholder='"+placeholders[i]+
									    "'>";
	}
	document.getElementById("addCollegeForm").innerHTML=newInnerHTML;
});

// Department
// Add line button event
$("#addline_department").bind("click", function(){
	var targetTable=document.getElementById("Departments");
	var numOfRow=targetTable.rows.length;

	reset_values=function(){
		$("#departmentCode1").val();
		$("#departmentName1").val();
	}

	var newRow=targetTable.insertRow(1);

	var keys=['collegeIndex', 'departmentCode', 'departmentName'];
	var placeholders=['', 'Optional', 'Department Name'];

	var newCell = "<tr>";
	for(var i=0;i<targetTable.rows[0].cells.length;i++){
		newCell+="<td";
		if(i == 0){
			newCell+="><select id='"+keys[i]+numOfRow+
							   "'name='"+keys[i]+numOfRow+
							   "'style='width:100%'>"+
			               	{%- for college in allColleges %}
			               	"<option>"+
		                    		"{{ college.collegeIndex }} {{ college.collegeName }}"+
			                  	"</option>"+
			                  	{% endfor -%}
	               	   "</select>";
		}	
		else{
			if(i==1){
				newCell += " class='hidden-phone'";
			}
			newCell+="><input class='input-medium"+
								"'name='"+keys[i]+numOfRow+
								"'type='text"+
								"'placeholder='"+placeholders[i]+
								"'values='"+$("#"+keys[i]+"1").val()+
								"'style='width:93%'>";
				        	
		}
	}
	newRow.innerHTML = newCell;
	reset_values();
});

// Close button event
$("#resetAddDepartmentForm").bind("click", function(){
	var keys=['departmentCode', 'departmentName'];
	var placeholders=['Optional', 'Department Name'];
	document.getElementById("addDepartmentForm").innerHTML=
		"<tr>"+
			"<td>"+
				"<select id='collegeIndex1' name='collegeIndex1' style='width:100%'>"+
	               	{%- for college in allColleges %}
	                  	"<option>"+
	                    	"{{ college.collegeIndex }} {{ college.collegeName }}"+
	                  	"</option>"+
	                  	{% endfor -%}
	               "</select>"+
			"<td class='hidden-phone'>"+
				"<input class='input-medium"+
					    "'name='"+keys[0]+"1"+
					    "'type='text"+
					    "'placeholder='"+placeholders[0]+
					    "'style='width:93%'>"+
			"<td>"+
				"<input class='input-medium"+
					    "'name='"+keys[1]+"1"+
					    "'type='text"+
					    "'placeholder='"+placeholders[1]+
					    "'style='width:93%'>";
});
</script>
{% endblock -%}