<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}
<style>
.span3{
	text-align: left;
}
h4{
	margin-left: 20px;
}
</style>
<script>
// auto complete data for course administrator form
$(function() {
	var administrators = [
		{%- for courseAdministrator in allCourseAdministrators %}
			{ value: "{{ courseAdministrator.memberId }} {{ courseAdministrator.memberName }}",
			  data: "{{ courseAdministrator.memberId}}"},
		{% endfor -%}
		{ value: "", data: "" }
	];
	$("#search-administrator").autocomplete({
		lookup: administrators,
		onSelect: function(suggestion){
			var userId = suggestion.data.split(" ")[0];
			// doesn't show id, name both but only id
			document.getElementById(this.id).value = userId;
		}
	});	
});
</script>
<div class="container">
	<form id="addCourse" method="post">
	<h3>
		{{ LanguageResources.const.Course[session['language']] }}
		{{ LanguageResources.const.Addition[session['language']] }}
	</h3>
	<hr class="hidden-desktop hidden-tablet">
		<div class="row-fluid">
			<h4>
				<div class="span3">
					{{ LanguageResources.const.Name[session['language']] }}
				</div>
				<div class="span9">
					<select class="input-large" id="courseId"
							 name="courseId" type="text" form="addCourse">
					{%- for course in courses %}
						{%- if course.courseIndex|int==courseIndex|int %}
						<option class="{{ course.courseIndex }}" selected="selected">
						{%- else %}
						<option class="{{ course.courseIndex }}">
						{% endif -%}
						{{ course.courseIndex }} {{ course.courseName }}</option>
					{% endfor -%}
					</select>
				</div>
			</h4>
		</div>
		<div class="row-fluid">
			<h4>
				<div class="span3">
					{{ LanguageResources.const.Administrator[session['language']] }}
				</div>
				<div class="span9">
					<div id="searchfield" style="display:inline">
						<input class="input-large" id="search-administrator" name="courseAdministrator"
								type="text" form="addCourse"
								value="{%- if courseAdministrator %}{{ courseAdministrator }}{% endif -%}">
					</div>
				</div>
			</h4>
		</div>
		<div class="row-fluid">
			<h4>
				<div class="span3">
					{{ LanguageResources.const.Semester[session['language']] }}
				</div>
				<div class="span9">
					<script>
					// @To do
					// It should be more options for other organizations
					var keys = ["1st", "Summer", "2nd", "Winter"]; // now for college

					for(var i=1;i<=keys.length;i++){
						document.write('<label class="radio inline"><input id="'+keys[i-1]+
												'"name="semester" type="radio" value="'+i+
												'"form="addCourse"');
						if(i=={{ semester|int }}){
							document.write(' checked')
						}
						document.write('>'+keys[i-1]+'</label>')
					}
					</script>
				</div>
			</h4>
		</div>
		<div class="row-fluid">
			<h4>
				<div class="span3">
					{{ LanguageResources.const.Language[session['language']] }}
				</div>
				<div class="span9">
					{%- for language in languages %}
					<label style="display:inline" class="checkbox-center">
						<script>
						// used script for setting the information of each language
						document.write('<input class="box-check" name="languageIndex_'+
										  '{{ language.languageIndex }}_{{ language.languageVersion }}"'+
										  'type="checkbox" value="{{ language.languageIndex }}_'+
										  '{{ language.languageVersion }}" style="margin:0"');
						{%- for choosedLanguage in choosedLanguages %}
							{%- if language.languageIndex|string==
								   choosedLanguage[0]|string and language.languageVersion|string==
								   choosedLanguage[1]|string %}
								document.write(' checked');
							{% endif -%}
						{% endfor -%}
						document.write('> {{ language.languageName }}'+
										  '{%- if language.languageVersion != '0' %}'+
										  	'{{ language.languageVersion }}'+
										  '{% endif -%}&nbsp;');
						</script>
					</label>
					{% endfor -%}
				</div>
			</h4>
		</div>
		<div class="row-fluid">
			<h4>
				<div class="span3">
					{{ LanguageResources.const.Description[session['language']] }}
				</div>
				<div class="span9">
					<input class="input-xlarge" name="courseDescription" type="text"
							autocomplete="off" form="addCourse" placeholder="about course"
							value="{%- if courseDescription %}{{ courseDescription }}{% endif -%}">
				</div>
			</h4>
		</div> 
		<script>
		// date picker for start/end date
		$(function() {
		    	if (!Modernizr.inputtypes['udate']) {
		        	$('input[type=udate]').datepicker({
		            	dateFormat: 'yy-mm-dd'
		        	});
		    	}
		});
		</script>
		<div class="row-fluid">
			<h4>
				<div class="span3">
					{{ LanguageResources.const.StartDate[session['language']] }}
				</div>
				<div class="span9">
					<input class="datepicker input-large" id="startDateOfCourse"
							name="startDateOfCourse" type="udate" data-date-format="yyyy-mm-dd"
							autocomplete="off" form="addCourse" placeholder="click and choose"
							value="{%- if startDateOfCourse %}{{ startDateOfCourse }}{% endif -%}">
				</div>
			</h4>
		</div>
		<div class="row-fluid">
			<h4>
				<div class="span3">
					{{ LanguageResources.const.FinishDate[session['language']] }}
				</div>
				<div class="span9">
					<input class="datepicker input-large" id="endDateOfCourse"
							name="endDateOfCourse" type="udate" data-date-format="yyyy-mm-dd"
							autocomplete="off" form="addCourse" placeholder="click and choose"
							value="{%- if endDateOfCourse %}{{ endDateOfCourse }}{% endif -%}">
				</div>
			</h4>
		</div>
		<br>
		<button class="btn" type="submit">
			{{ LanguageResources.const.Done[session['language']] }}
		</button>
	</form>
</div>
{% endblock -%}