<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>Course Management</h3>
		<!-- if any button is checked, then showing modal pop -->
		<div style="text-align:right">
			<a class="btn" href="{{ url_for('GradeServer.server_add_class') }}">
				{%- if session['language'] %}	{{ LanguageResources.const.Addition[session['language']] }}
				{%- else %}{{ LanguageResources.const.Addition[0] }}<!-- default -->
				{% endif -%}
			</a>
			<a class="btn" data-toggle="modal" role="button" 
				onclick="showingDeleteModal()">
				{%- if session['language'] %}	{{ LanguageResources.const.Deletion[session['language']] }}
				{%- else %}{{ LanguageResources.const.Deletion[0] }}<!-- default -->
				{% endif -%}
			</a>
		</div>

		<!-- hidden modal pop -->
		<!-- if any item choosed -->
		<div class="modal hide fade" id="deleteModal"
			  aria-labelledby="deleteModalLabel" aria-hidden="true"
			  role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"
						  type="button" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">
					{%- if session['language'] %}	{{ LanguageResources.const.Course[session['language']] }}
					{%- else %}{{ LanguageResources.const.Course[0] }}<!-- default -->
					{% endif -%}
					&nbsp;
					{%- if session['language'] %}	{{ LanguageResources.const.Deletion[session['language']] }}
					{%- else %}{{ LanguageResources.const.Deletion[0] }}<!-- default -->
					{% endif -%}
				</h3>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete it?</p>
			</div>
			<div class="modal-footer">
				<form method="post" id="deleteConfirm">
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						{%- if session['language'] %}	{{ LanguageResources.const.Close[session['language']] }}
						{%- else %}{{ LanguageResources.const.Close[0] }}<!-- default -->
						{% endif -%}
					</button>
					<button class="btn btn-primary" type="submit">
						{%- if session['language'] %}	{{ LanguageResources.const.Confirm[session['language']] }}
						{%- else %}{{ LanguageResources.const.Confirm[0] }}<!-- default -->
						{% endif -%}
					</button>
				
			</div>
		</div>
		<!-- no items choosed -->
		<div class="modal hide fade" id="deleteNoItem"
			  aria-labelledby="deleteModalLabel" aria-hidden="true"
			  role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"
						  type="button" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">
					{%- if session['language'] %}	{{ LanguageResources.const.Course[session['language']] }}
					{%- else %}{{ LanguageResources.const.Course[0] }}<!-- default -->
					{% endif -%}
					&nbsp;
					{%- if session['language'] %}	{{ LanguageResources.const.Addition[session['language']] }}
					{%- else %}{{ LanguageResources.const.Addition[0] }}<!-- default -->
					{% endif -%}
				</h3>
			</div>
			<div class="modal-body">
				<p>No items choosed</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">
					{%- if session['language'] %}	{{ LanguageResources.const.Close[session['language']] }}
					{%- else %}{{ LanguageResources.const.Close[0] }}<!-- default -->
					{% endif -%}
				</button>
			</div>
		</div>
		<!-- end hidden modal pop -->

		<table class="table table-bordered" id="registeredCourses" style="margin-top:10px">
			<thead>
				<tr>
					<td>
						{%- if session['language'] %}	{{ LanguageResources.const.Number[session['language']] }}
						{%- else %}{{ LanguageResources.const.Number[0] }}<!-- default -->
						{% endif -%}
					<td>
						{%- if session['language'] %}	{{ LanguageResources.const.Name[session['language']] }}
						{%- else %}{{ LanguageResources.const.Name[0] }}<!-- default -->
						{% endif -%}
					<td class="hidden-phone">
						{%- if session['language'] %}	{{ LanguageResources.const.Administrator[session['language']] }}
						{%- else %}{{ LanguageResources.const.Administrator[0] }}<!-- default -->
						{% endif -%}
					<td class="visible-phone" style="width:87%">Admin
					<td>
						{%- if session['language'] %}	{{ LanguageResources.const.Language[session['language']] }}
						{%- else %}{{ LanguageResources.const.Language[0] }}<!-- default -->
						{% endif -%}
					<td class="hidden-phone">
						{%- if session['language'] %}	{{ LanguageResources.const.StartDate[session['language']] }}
						{%- else %}{{ LanguageResources.const.StartDate[0] }}<!-- default -->
						{% endif -%}
					<td class="hidden-phone">
						{%- if session['language'] %}	{{ LanguageResources.const.FinishDate[session['language']] }}
						{%- else %}{{ LanguageResources.const.FinishDate[0] }}<!-- default -->
						{% endif -%}
					<td class="visible-phone" style='width:87%'>Date
					<td>
					{%- if session['language'] %}	{{ LanguageResources.const.Check[session['language']] }}
						{%- else %}{{ LanguageResources.const.Check[0] }}<!-- default -->
						{% endif -%}
						&nbsp;<input class="checkAll" type="checkbox" style="margin:0px" onclick="selectAllCheckboxes('registeredCourses');">
			<form method="post">
			<tbody>
				{%- for course, member in courses %}
				<tr>
					<td>{{ course.courseId }}
					<td>{{ course.courseName }}
					<td>{{ course.courseAdministratorId }}
					<td>{%- for language in languagesOfCourse %}
								{%- if course.courseId==language.courseId %}
									{{ language.languageName }}
									{%- if language.languageVersion!='0' %}
										{{ language.languageVersion }}
									{% endif -%}
									<br>
								{% endif -%}
							{% endfor -%}
					<td class="hidden-phone">
						<script>var newDate = "{{ course.startDateOfCourse }}"; document.write(newDate.split(' ')[0]);</script>
					<td class="hidden-phone">
						<script>var newDate = "{{ course.endDateOfCourse }}"; document.write(newDate.split(' ')[0]);</script>
					<td class="visible-phone" style="width:83%;">
						<script>
							var newDate = "{{ course.startDateOfCourse }}"; document.write(newDate.split(' ')[0].substring(2,10)+"<br>");
							newDate = "{{ course.endDateOfCourse }}"; document.write(newDate.split(' ')[0].substring(2,10));
						</script>
					<td>
						<label class="checkbox-center">
							<input class="box-check" name="{{ course.courseId }}"
									type="checkbox" value="{{ course.courseId }}">
						</label>
				{% endfor -%}
			</form>
		</table>
	</div>
</div>
{% endblock -%}