<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}
<script>
$(function() {
	var administrators = [
		{%- for courseAdministrator in allCourseAdministrators %}
			{ value: "{{ courseAdministrator.memberId }} {{ courseAdministrator.memberName }}", data: ""},
		{% endfor -%}
		{ value: "", data: "" }
	];
	$("#search-administrator").autocomplete({
		lookup: administrators,
		onSelect: function(suggestion){
		}	
	});	
});
</script>
<div class="container">
	<div>
	<form id="addCourse" method="post">
		<h3>Manage Class</h3>
		<h4>Class Name : 
			<select class="input-large span2" id="courseId" name="courseId" type="text" form="addCourse">
			{%- for course in courses %}
				{%- if course.courseIndex|int == courseIndex|int %}
					<option class="{{ course.courseIndex }}" selected="selected">
				{%- else %}
					<option class="{{ course.courseIndex }}">
				{% endif -%}
				{{ course.courseIndex }} {{ course.courseName }}</option>
			{% endfor -%}
			</select>
		</h4>
		<h4 style="display:inline">Class Manager : 
			<div id="searchfield" style="display:inline">
				<input class="input-large" id="search-administrator" name="courseAdministrator" type="text" form="addCourse" value="{%- if courseAdministrator %}{{ courseAdministrator }}{% endif -%}">
			</div>
		</h4>
		<h4>Semester : 
			<script>
			var keys = ["1st", "Summer", "2nd", "Winter"];
			for(var i=1;i<=4;i++){
				document.write('<label class="radio inline"><input id="' + keys[i-1] + '" name="semester" type="radio" value="' + i + '"  form="addCourse"');
				if(i == {{ semester|int }}){
					document.write(' checked')
				}
				document.write('>' + keys[i-1] + '</label>')
			}
			</script>
		</h4>
		<h4>Language : 
		{%- for language in languages %}
			<label style="display:inline" class="checkbox-center">
				<script>
				document.write('<input class="box-check" name="languageIndex_{{ language.languageIndex }}_{{ language.languageVersion }}" type="checkbox" value="{{ language.languageIndex }}_{{ language.languageVersion }}" form="addCourse"');
				{%- for choosedLanguage in choosedLanguages %}
					{%- if language.languageIndex|string == choosedLanguage[0]|string and language.languageVersion|string == choosedLanguage[1]|string %}
						document.write(' checked');
					{% endif -%}
				{% endfor -%}
				document.write('>{{ language.languageName }}{%- if language.languageVersion != '0' %}{{ language.languageVersion }}{% endif -%}');
				</script>
			</label>
		{% endfor -%}
		</h4>
		<h4>Class Description : <input class="input-xlarge" name="courseDescription" type="text" autocomplete="off" form="addCourse" value="{%- if courseDescription %}{{ courseDescription }}{% endif -%}"></h4> 
		<script>
		$(function() {
		    	if (!Modernizr.inputtypes['date']) {
		        	$('input[type=date]').datepicker({
		            	dateFormat: 'yy-mm-dd'
		        	});
		    	}
		});
		</script>
		<h4>Start Date : 
			<input class="datepicker input-large" id="startDateOfCourse" name="startDateOfCourse" type="date" data-date-format="yyyy-mm-dd" autocomplete="off" form="addCourse" placeholder="click and choose" value="{%- if startDateOfCourse %}{{ startDateOfCourse }}{% endif -%}">
		</h4>
		<h4>End Date : 
			<input class="datepicker input-large" id="endDateOfCourse" name="endDateOfCourse" type="date" data-date-format="yyyy-mm-dd" autocomplete="off" form="addCourse" placeholder="click and choose" value="{%- if endDateOfCourse %}{{ endDateOfCourse }}{% endif -%}">
		</h4>
		
			<button class="btn" type="submit">Done</button>
		</form>
	</div>
</div>
{% endblock -%}