<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>Manage Class</h3>
		<!-- if any button is checked, then showing modal pop -->
		<div style="text-align:right"><a href="{{ url_for('GradeServer.server_add_class') }}"><button class="btn" type="button">Add</button></a> <a onclick="showingDeleteModal()" role="button" class="btn" data-toggle="modal">Delete</a></div>

		<!-- hidden modal pop -->
		<!-- if any item choiced -->
		<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">Delete Class</h3>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete it?</p>
			</div>
			<div class="modal-footer">
				<form method="post" id="deleteConfirm">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<button class="btn btn-primary" type="submit">Confirm</button>
				</form>
			</div>
		</div>
		<!-- no items choiced -->
		<div id="deleteNoItem" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">Delete Class</h3>
			</div>
			<div class="modal-body">
				<p>No items choiced</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
		<!-- end hidden modal pop -->

		<table class="table table-bordered" style="margin-top:10px">
			<thead><tr><td>Class Number</td><td>Class Name</td><td>Manager Name</td><td>Language</td><td>Start Date</td><td>Finish Date</td><td>Delete</td></tr></thead>
			<tbody>
				{%- for course in courses %}
				<tr>
					<td>{{ course.courseId }}</td>
					<td>{{ course.courseName }}</td>
					<td>{{ course.courseAdministratorId }}</td>
					<td>{%- for language in languagesOfCourse %}
								{%- if course.courseId==language.courseId %}
									{{ language.languageName }}
									{%- if language.languageVersion!='0' %}{{ language.languageVersion }}{% endif -%}
									<br>
								{% endif -%}
							{% endfor -%}</td>
					<td>{{ course.startDateOfCourse }}</td>
					<td>{{ course.endDateOfCourse }}</td>
					<td><label class="checkbox-center"><input type="checkbox" class="box-check" name="{{ course.courseId }}" value="{{ course.courseId }}" form="deleteConfirm"></label></td>
				</tr>
				{% endfor -%}
			</tbody>
		</table>
	</div>
</div>
{% endblock -%}