<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>Course Management</h3>
		<!-- if any button is checked, then showing modal pop -->
		<div style="text-align:right">
			<a class="btn" href="{{ url_for('GradeServer.server_add_class') }}">
				Add
			</a>
			<a class="btn" data-toggle="modal" role="button" 
				onclick="showingDeleteModal()">Delete</a>
		</div>

		<!-- hidden modal pop -->
		<!-- if any item choosed -->
		<div class="modal hide fade" id="deleteModal"
			  aria-labelledby="deleteModalLabel" aria-hidden="true"
			  role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"
						  type="button" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">Course Deletion</h3>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete it?</p>
			</div>
			<div class="modal-footer">
				<form method="post" id="deleteConfirm">
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						Close
					</button>
					<button class="btn btn-primary" type="submit">
						Confirm
					</button>
				
			</div>
		</div>
		<!-- no items choosed -->
		<div class="modal hide fade" id="deleteNoItem"
			  aria-labelledby="deleteModalLabel" aria-hidden="true"
			  role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"
						  type="button" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">Course Deletion</h3>
			</div>
			<div class="modal-body">
				<p>No items choosed</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">
					Close
				</button>
			</div>
		</div>
		<!-- end hidden modal pop -->

		<table class="table table-bordered" id="registeredCourses" style="margin-top:10px">
			<thead>
				<tr>
					<td>Number
					<td>Name
					<td class="hidden-phone">Administrator
					<td class="visible-phone" style="width:87%">Admin
					<td>Language
					<td class="hidden-phone">Start Date
					<td class="hidden-phone">Finish Date
					<td class="visible-phone" style='width:87%'>Date
					<td>Check <input class="checkAll" type="checkbox" style="margin:0px" onclick="selectAllCheckboxes('registeredCourses');">
			<form method="post">
			<tbody>
				{%- for course, member in courses %}
				<tr>
					<td>{{ course.courseId }}
					<td>{{ course.courseName }}
					<td>{{ course.courseAdministratorId }}
					<td>{%- for language in languagesOfCourse %}
								{%- if course.courseId==language.courseId %}
									{{ language.languageName }}
									{%- if language.languageVersion!='0' %}
										{{ language.languageVersion }}
									{% endif -%}
									<br>
								{% endif -%}
							{% endfor -%}
					<td class="hidden-phone">
						<script>var newDate = "{{ course.startDateOfCourse }}"; document.write(newDate.split(' ')[0]);</script>
					<td class="hidden-phone">
						<script>var newDate = "{{ course.endDateOfCourse }}"; document.write(newDate.split(' ')[0]);</script>
					<td class="visible-phone" style="width:83%;">
						<script>
							var newDate = "{{ course.startDateOfCourse }}"; document.write(newDate.split(' ')[0].substring(2,10)+"<br>");
							newDate = "{{ course.endDateOfCourse }}"; document.write(newDate.split(' ')[0].substring(2,10));
						</script>
					<td>
						<label class="checkbox-center">
							<input class="box-check" name="{{ course.courseId }}"
									type="checkbox" value="{{ course.courseId }}">
						</label>
				{% endfor -%}
			</form>
		</table>
	</div>
</div>
{% endblock -%}