<!-- 
	@@ server_add_user.html

	The page when server administrator registers new user into server.
	author: seulgi choi
-->
		
{%- extends "main.html" -%}
{%- block body %}
<script>
var keys = ['userId', 'username', 'college', 'department', 'authority'];
var placeholders = ['ID', 'Name', 'College', 'Department', 'Authority'];
var formsize = ['small', 'mini', 'medium', 'medium', 'medium'];
var uploadObj = "";

$(function() {
	/*
		@@ addline button function
	*/
	$("#addline").bind('click',function(){
		var targetTable = document.getElementById('indivisual');
		var numOfRow = targetTable.rows.length;

		/* reset form values */
		reset_val = function(){
			$("#userId1").val("");
			$("#username1").val("");
			$("#authority1").val("");
			$("#college1").val("");
			$("#department1").val("");
		}

		var newRow = targetTable.insertRow(2);

		for(var i = 0; i < targetTable.rows[0].cells.length; i++){  
		  	uploadObj = "<td>";
		  	if(i < 2){
			    	uploadObj += "<input class='input-" + formsize[i] + " formLine1'" +
									    "id='" + keys[i] + numOfRow +
									    "'name='" + keys[i] + numOfRow +
									    "'type='text' form='addIndivisualUser'"+
									    "placeholder='" + placeholders[i] +
									    "'value='" + $("#" + keys[i] + "1").val() +"'>";
		    }
		    else{
			    	uploadObj += "<select class='input-" + formsize[i] +
										 "'id='" + keys[i] + numOfRow +
										 "'name='" + keys[i] + numOfRow +
										 "'value='" + $("#" + keys[i] + "1").val() + "'>";
			    	switch(i){
			    		case 2:
			    			var index = $("#" + keys[i] + "1 option:selected").text().match(/(\d+)/g);
			    			if(index == null){
			    				uploadObj += "<option> select college </option>";
			    			}
			    			{%- for college in allColleges %}
						uploadObj += "<option";
						if(index == "{{ college.collegeIndex }}"){
							uploadObj += " selected";
						}
						uploadObj += ">{{ college.collegeIndex }} {{ college.collegeName }} </option>";
						{% endfor -%}
			    			break;
			    		case 3:
			    			var collegeIndex = $("#" + keys[i-1] + "1 option:selected").text().match(/(\d+)/g);
			    			var departmentIndex = $("#" + keys[i] + "1 option:selected").text().match(/(\d+)/g);
			    			{%- for relation, collegeInfo, departmentInfo in allDepartments %}
			    				if("{{ relation.collegeIndex }}" == collegeIndex){
								uploadObj += "<option";
								if(departmentIndex == "{{ departmentInfo.departmentIndex }}"){
									uploadObj += " selected";
								}
								uploadObj += 
									">{{ departmentInfo.departmentIndex }} "+
									"{{ departmentInfo.departmentName }}" +
									"</option>";
							}
						{% endfor -%}	
			    			break;
			    		case 4:
			    			var value = $("#" + keys[i] + "1").val();
			    			{%- for authority in authorities %}
						uploadObj += "<option";
						if(value == "{{ authority }}"){
							uploadObj += " selected";
						}
						uploadObj += ">{{ authority }} </option>";
						{% endfor -%}
			    			break;
			    	}
		    }
		    newRow.insertCell(i).innerHTML = uploadObj;
		}

		$("#college"+numOfRow).change(function(){
			RowOnClickController(numOfRow);
		});

		reset_val();
		var initialOptions = "<option> select college </option>" +
						   	   "{%- for college in allColleges %}" +
							   "<option>" +
						   	   "{{ college.collegeIndex }} {{ college.collegeName }}" +
						   	   "</option>" +
						   	   "{% endfor -%}";
		document.getElementById("college1").innerHTML = initialOptions;
		document.getElementById("department1").innerHTML = "";
	});

	/*
		@@ close button function
	*/
	$("#resetIndivisualUserForm").bind('click', function(){
		uploadObj = "<form method='post'><tr class='formLine'>";

		for(var i = 0; i < keys.length; i++){  
			uploadObj += "<td>";
		  	if(i < 2){
			    uploadObj += "<input class='input-" + formsize[i] + " formLine1'" +
									   "id='" + keys[i] + "1'" +
									   "name='" + keys[i] + "1'" +
									   "type='text'" +
									   "placeholder='" + placeholders[i] +
									   "'value=''>";
			}
			else{
				uploadObj += "<select class='input-" + formsize[i] +
										 "'id='" + keys[i] + "1'" +
									      "name='" + keys[i] + "1'>";
				switch(i){
			    		case 2:
			    			uploadObj += "<option> select college </option>";
			    			{%- for college in allColleges %}
						uploadObj += "<option>{{ college.collegeIndex }}"+
												  "{{ college.collegeName }} </option>";
						{% endfor -%}
			    			break;
			    		case 3:
			    			break;
			    		case 4:
			    			{%- for authority in authorities %}
						uploadObj += "<option>{{ authority }} </option>";
						{% endfor -%}
			    			break;
	    			}
	    			uploadObj += "</select>";
			}
		}
		
	  	document.getElementById("indivisualUserForm").innerHTML = uploadObj;

	  	$("#college1").change(function(){
	  		RowOnClickController(1);
	  	});
	});
});
</script>

<div class="container">
	<div>
		<h3>
			{{ LanguageResources.const.User[session['language']] }}
			{{ LanguageResources.const.Addition[session['language']] }}
		</h3>

		<!-- Buttons to add and delete user -->
		<div style="text-align:right">
			<a class="btn" data-toggle="modal" href="#addUserModal" role="button">
				{{ LanguageResources.const.Indivisual[session['language']] }}
			</a>
			<a class="btn" data-toggle="modal" href="#addGroupModal" role="button">
				{{ LanguageResources.const.Group[session['language']] }}
			</a>
			<a class="btn" data-toggle="modal" role="button"
				onclick="showingDeleteModal()">
				{{ LanguageResources.const.Deletion[session['language']] }}
			</a>
		</div>

		<!--
			@@ Hidden modal pop

			1. Individual user addition
			2. Group of user addition
			3. User deletion
			4. No item choosed
		-->
		<!-- Individual user addition -->
		<form id="addIndivisualUser" method="post">
		<div class="modal hide fade" id="addUserModal"
			  aria-hidden="true" aria-labelledby="addUserModalLabel"
			  tabindex="-1" role="dialog" style="width:800px;margin-left:-400px">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button"
						  aria-hidden="true">
					x
				</button>
				<h3 id="addUserModalLabel">
					{{ LanguageResources.const.User[session['language']] }}
					{{ LanguageResources.const.Addition[session['language']] }}
				</h3>
			</div>
			<div class="modal-body">
				<div style="text-align:right">
					<button class="btn" type="button" id="addline">
						{{ LanguageResources.const.AddLine[session['language']] }}
					</button>
				</div>
				<!--  leeyoungchan  add table id(indivisual') -->
				<table class="table table-bordered" id="indivisual" style="margin-top:10px">
					<thead>
					<tr>
						<td>
							{{ LanguageResources.const.ID[session['language']] }}
						<td>
							{{ LanguageResources.const.Name[session['language']] }}
						<td>
							{{ LanguageResources.const.College[session['language']] }}
						<td>
							{{ LanguageResources.const.Department[session['language']] }}
						<td>
							{{ LanguageResources.const.Authority[session['language']] }}

					<tbody id="indivisualUserForm">
						<tr class="formLine">
							<td>
								<input class="input-small formLine1" id="userId1"
										name="userId1" type="text" placeholder="ID" value="">
							<td>
								<input class="input-mini formLine1" id="username1"
										name="username1" type="text" placeholder="Name" value="">
							<td>
								<select class="input-medium" id="college1" name="college1">
									<option> select college </option>
									{%- for college in allColleges %}
									<option >
										{{ college.collegeIndex }} {{ college.collegeName }} 
									</option>
									{% endfor -%}
								</select>
							<td>
								<select class="input-medium" id="department1" name="department1">
								</select>
							<td>
								<select class="input-medium" id="authority1" name="authority1">
								{%- for authority in authorities %}
									<option> {{ authority }} </option>
								{% endfor -%}
								</select>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn" name="addIndivisualUser" type="submit">
					{{ LanguageResources.const.Done[session['language']] }}
				</button>
				<button class="btn" id="resetIndivisualUserForm" 
						  data-dismiss="modal" aria-hidden="true" >
				  	{{ LanguageResources.const.Close[session['language']] }}
				</button>
			</div>
		</div>
		</form>

		<!-- Group of user addition -->
		<div class="modal hide fade" id="addGroupModal" 
			  aria-hidden="true" aria-labelledby="addGroupModalLabel"
			  role="dialog" tabindex="-1">
			<form method="post" enctype="multipart/form-data">
				<div class="modal-header">
					<button class="close" data-dismiss="modal" type="button"
							  aria-hidden="true">
						x
					</button>
					<h3 id="addGroupModalLabel">
						{{ LanguageResources.const.User[session['language']] }}
						{{ LanguageResources.const.Addition[session['language']] }}
					</h3>
				</div>
				<div class="modal-body">
					<p>default authority is "User(student)"</p>
					Manual : userId="userid", username="username", college="college Index", department="department Index"<br>
					File(*.txt) : <input type="file" name="files" multiple>
				</div>
				<div class="modal-footer">
					<button class="btn" name="addUserGroup" type="submit">
						{{ LanguageResources.const.Done[session['language']] }}
					</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						{{ LanguageResources.const.Close[session['language']] }}
					</button>
				</div>
			</form>
		</div>

		<!-- User deletion -->
		<div class="modal hide fade" id="deleteModal" 
			  aria-hidden="true" aria-labelledby="deleteModalLabel"
			  tabindex="-1" role="dialog">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" 
						  aria-hidden="true">
				  	x
			  	</button>
				<h3 id="deleteModalLabel">
					{{ LanguageResources.const.User[session['language']] }}
					{{ LanguageResources.const.Deletion[session['language']] }}
				</h3>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete it?</p>
			</div>
			<div class="modal-footer">
				<form id="delete" method="post">
					<button class="btn" name="deleteUser" type="submit">
						{{ LanguageResources.const.Confirm[session['language']] }}
					</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						{{ LanguageResources.const.Close[session['language']] }}
					</button>
				</form>
			</div>
		</div>

		<!-- No item choosed when deletion button's clicked -->
		<div class="modal hide fade" id="deleteNoItem" 
			  aria-hidden="true" aria-labelledby="deleteModalLabel"
			  tabindex="-1" role="dialog">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal"
						  aria-hidden="true">
					x
				</button>
				<h3 id="deleteModalLabel">
					{{ LanguageResources.const.User[session['language']] }}
					{{ LanguageResources.const.Deletion[session['language']] }}
				</h3>
			</div>
			<div class="modal-body">
				<p>No items choosed</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">
					{{ LanguageResources.const.Close[session['language']] }}
				</button>
			</div>
		</div>

		<!-- 
			@@ Showing pending users

			When you add new user from the modal pop,
			the users will be showing up in this section

			but you should click 'Done' button at the last to add them into the server.
		-->
		<form method="post">
			<table class="table table-bordered" id="pendingUsers"
					style="margin-top:10px">
				<thead>
					<tr>
						<td>Index
						<td>
							{{ LanguageResources.const.ID[session['language']] }}
						<td>
							{{ LanguageResources.const.Name[session['language']] }}
						<td>
							{{ LanguageResources.const.Authority[session['language']] }}
						<td>
							{{ LanguageResources.const.College[session['language']] }}
						<td>
							{{ LanguageResources.const.Department[session['language']] }}
						<td>
							{{ LanguageResources.const.Check[session['language']] }}
							<input class="checkAll" type="checkbox" style="margin:0px"
									onclick="selectAllCheckboxes('pendingUsers');">
				<tbody>
					<script> index = 0; </script>
					{%- for newUser in newUsers %}
					<tr>
						<td><script> document.write(++index); </script>
						<td>{{ newUser[0] }}
						<td>{{ newUser[1] }}
						<td>{% if newUser[2]==SETResources.const.USER %} Student 
							  {% else %} {{ newUser[2] }} 
							  {% endif %}
						<td>{{ newUser[4] }}
						<td>{{ newUser[6] }}
						<td>
							<label class="checkbox-center">
								<input class="box-check" name="{{ newUser[0] }}" 
										type="checkbox" form="delete" value="{{ newUser[0] }}">
							</label>
					{% endfor -%}
			</table>
			<!--
				@@ Confirm Button

				a - button hierachy makes it redirect to next page
				but it doesn't work in IE8 and below version

				tried to change redirect function into button tag as onclick="location.href"
				however it conflicts with our security function

				it's still our issue to solve
			-->
			<a href="{{ url_for('GradeServer.server_add_user') }}">
				<button class="btn" name="addUser" type="submit">
					{{ LanguageResources.const.Done[session['language']] }}
				</button>
			</a>
		</form>
	</div>
</div>
<script>
/*
	@@ attaching event for the first line of Add Indivisual User
*/
$("#college1").change(function(){
	RowOnClickController(1);
});

/*
	@@ Controller for onclick on college select form of table

	when you select one item from select form, it triggers to run it
	if your choice is just 'select college' then nothing happen
	else it changes its options in department select form
*/
function RowOnClickController(IdxOfRow){
	var selectedText = $("#college"+IdxOfRow+" option:selected").text().replace(/\t/g, "").replace(/\n/g, "");

	var index = selectedText.split(' ')[0];
	var name = selectedText.split(' ')[1];
	var initialOptions = document.getElementById("college"+IdxOfRow).innerHTML;

	// FIrst time to choose 'college' select
	if(initialOptions.indexOf("select college") != -1){
		// Remove 'select college' option from option list
		// and remove tab space for new 'college' options.
		var OptionsWithoutDefault = 
			initialOptions.replace("<option> select college </option>", "").replace(/\t/g, "").replace(/\n/g, "");

		// split for checking selected value
		OptionsWithoutDefault = OptionsWithoutDefault.split(' ');
		var newOptions = "";
		for(var i=0;i<OptionsWithoutDefault.length;i++){
			// if an option's index and name are same then gives 'selected'
			if(OptionsWithoutDefault[i].indexOf("<option>"+index) != -1 && 
			   OptionsWithoutDefault[i+1].indexOf(name) != -1){
				OptionsWithoutDefault[i] = OptionsWithoutDefault[i].replace("<option>", "<option selected>");
			}
			newOptions += OptionsWithoutDefault[i] + ' ';
		}
		document.getElementById("college"+IdxOfRow).innerHTML = newOptions;
	}

	/*
		this variable's set from row text through innerHTML(actually used .text())
		so it contains tab and new-line character
		need to remove invalid character for correct data
	*/
	index = index.replace(/\t/g, '').replace(/\n/g, '');

	/*
		@@ change department options up to selected college

		if department is contained in college, it will be added.
	*/
	{%- for college in allColleges %}
	if(index=="{{ college.collegeIndex }}"){
		document.getElementById("department"+IdxOfRow).innerHTML = "";
		// variable 'relation' means the information of college-department relation
		// college/department-Info just have its index and name
		{%- for relation, collegeInfo, departmentInfo in allDepartments %}
			{%- if relation.collegeIndex == college.collegeIndex %}
			document.getElementById("department"+IdxOfRow).innerHTML += 
				"<option>" +
				"{{ departmentInfo.departmentIndex }} {{ departmentInfo.departmentName }}" +
				"</option>";
			{% endif -%}
		{% endfor -%}
	}
	{% endfor -%}

}
</script>
{% endblock -%}