<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>Manage User</h3>
		<!-- if any button is checked, then showing modal pop -->
		<div style="text-align:right">
			<a href="{{ url_for('GradeServer.server_add_user') }}"><button class="btn" type="button">Add</button></a>
			<a class="btn" data-toggle="modal" role="button" onclick="showingDeleteModal()">Delete</a>
		</div>

		<!-- hidden modal pop -->
		<!-- if any item choiced -->
		<div class="modal hide fade" id="deleteModal" aria-labelledby="deleteModalLabel" aria-hidden="true" role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">Delete User</h3>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete it?</p>
			</div>
			<div class="modal-footer">
				<form id="deleteConfirm" method="post">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<button class="btn btn-primary" type="submit">Confirm</button>
				</form>
			</div>
		</div>
		<!-- no items choiced -->
		<div class="modal hide fade" id="deleteNoItem" aria-labelledby="deleteModalLabel" aria-hidden="true" role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">Delete User</h3>
			</div>
			<div class="modal-body">
				<p>No items choiced</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
		<!-- end hidden modal pop -->

		<table class="table table-bordered" style="margin-top:10px">
			<thead>
				<tr><td>Index
				<td>Id
				<td>Department
				<td>Name
				<td>Phone
				<td>E-mail
				<td>Authority
				<td>Last Signin
				<td>Del
			<tbody>
				<script> index = {{ index }}; </script>
				{%- for user, college, department in users %}
				<tr>
					<td><script> document.write(index--); </script>
					<td>{{ user.memberId }}
					<td>{{ college.collegeName }} {{ department.departmentName }}
					<td>{{ user.memberName }}
					<td>{{ user.contactNumber }}
					<td>{{ user.emailAddress }}
					<td>{%- for authority in user.authority %}
								{%- if authority=="User" %}
									Student
								{% elif authority=="ServerAdministrator" %}
									Server Admin
								{% elif authority=="CourseAdministrator" %}
									Course Admin
								{% endif -%}
							{% endfor -%}
					<td>{{ user.lastAccessDate }}
					<td><label class="checkbox-center"><input class="box-check" name="{{ user.memberId }}" type="checkbox" form="deleteConfirm"></label>
				{% endfor -%}
		</table>
	</div>
</div>
{% endblock -%}
