<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->
		
{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>
			{%- if session['language'] %}	{{ LanguageResources.const.Problem[session['language']] }}
			{%- else %}{{ LanguageResources.const.Problem[0] }}<!-- default -->
			{% endif -%}
			&nbsp;
			{%- if session['language'] %}	{{ LanguageResources.const.Management[session['language']] }}
			{%- else %}{{ LanguageResources.const.Management[0] }}<!-- default -->
			{% endif -%}
		</h3>
		<!-- if any button is checked, then showing modal pop -->
		<div style="text-align:right">
			<a class="btn" data-toggle="modal" role="button" href="#addModal">
				{%- if session['language'] %}	{{ LanguageResources.const.Addition[session['language']] }}
				{%- else %}{{ LanguageResources.const.Addition[0] }}<!-- default -->
				{% endif -%}
			</a>
			<a class="btn" data-toggle="modal" role="button"
				onclick="showingDeleteModal()">
				{%- if session['language'] %}	{{ LanguageResources.const.Deletion[session['language']] }}
				{%- else %}{{ LanguageResources.const.Deletion[0] }}<!-- default -->
				{% endif -%}
			</a>
		</div>

		<!-- hidden modal pop -->
		<!-- ///// Add case ///// -->
		<div class="modal hide fade" id="addModal" aria-labelledby="addModalLabel"
			  aria-hidden="true" role="dialog" tabindex="-1">
			<form method="post" enctype="multipart/form-data">
				<div class="modal-header">
					<button class="close" data-dismiss="modal" type="button"
							  aria-hidden="true">x</button>
					<h3 id="addModalLabel">
						{%- if session['language'] %}	{{ LanguageResources.const.Problem[session['language']] }}
						{%- else %}{{ LanguageResources.const.Problem[0] }}<!-- default -->
						{% endif -%}
						&nbsp;
						{%- if session['language'] %}	{{ LanguageResources.const.Addition[session['language']] }}
						{%- else %}{{ LanguageResources.const.Addition[0] }}<!-- default -->
						{% endif -%}
					</h3>
				</div>
				<div class="modal-body">
					<p>Manual : "Manual"</p>
					Problem(*.zip):	<input type="file" name="files" multiple>
				</div>
				<div class="modal-footer">
					<button class="btn" name="upload" type="submit">
						{%- if session['language'] %}	{{ LanguageResources.const.ProblemUpload[session['language']] }}
						{%- else %}{{ LanguageResources.const.ProblemUpload[0] }}<!-- default -->
						{% endif -%}
					</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						{%- if session['language'] %}	{{ LanguageResources.const.Close[session['language']] }}
						{%- else %}{{ LanguageResources.const.Close[0] }}<!-- default -->
						{% endif -%}
					</button>
				</div>
			</form>
		</div>

		<!-- ///// Delete case /////
				if any item choosed -->
		<div class="modal hide fade" id="deleteModal"
			  aria-labelledby="deleteModalLabel" aria-hidden="true" role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">
					{%- if session['language'] %}	{{ LanguageResources.const.Problem[session['language']] }}
					{%- else %}{{ LanguageResources.const.Problem[0] }}<!-- default -->
					{% endif -%}
					&nbsp;
					{%- if session['language'] %}	{{ LanguageResources.const.Deletion[session['language']] }}
					{%- else %}{{ LanguageResources.const.Deletion[0] }}<!-- default -->
					{% endif -%}
				</h3>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete it?</p>
			</div>
			<div class="modal-footer">
				<form id="deleteProblem" method="post">
					<button class="btn" type="submit">
						{%- if session['language'] %}	{{ LanguageResources.const.Confirm[session['language']] }}
						{%- else %}{{ LanguageResources.const.Confirm[0] }}<!-- default -->
						{% endif -%}
					</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						{%- if session['language'] %}	{{ LanguageResources.const.Close[session['language']] }}
						{%- else %}{{ LanguageResources.const.Close[0] }}<!-- default -->
						{% endif -%}
					</button>
				<!-- In IE, it doesn't send its form values to server if 'form tags' are out of '<form></form>'  -->
			</div>
		</div>
		<!-- no items choosed -->
		<div class="modal hide fade" id="deleteNoItem" 
			  aria-labelledby="deleteModalLabel" aria-hidden="true"
			  role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button" aria-hidden="true">x</button>
				<h3 id="deleteModalLabel">
					{%- if session['language'] %}	{{ LanguageResources.const.Problem[session['language']] }}
					{%- else %}{{ LanguageResources.const.Problem[0] }}<!-- default -->
					{% endif -%}
					&nbsp;
					{%- if session['language'] %}	{{ LanguageResources.const.Deletion[session['language']] }}
					{%- else %}{{ LanguageResources.const.Deletion[0] }}<!-- default -->
					{% endif -%}
				</h3>
			</div>
			<div class="modal-body">
				<p>No items choosed</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">
					{%- if session['language'] %}	{{ LanguageResources.const.Close[session['language']] }}
					{%- else %}{{ LanguageResources.const.Close[0] }}<!-- default -->
					{% endif -%}
				</button>
			</div>
		</div>
		<!-- ///// end hidden modal pop ///// -->

		<table class="table table-bordered" id="registeredProblems" style="margin-top:10px">
			<thead>
				<tr>
					<td>
						{%- if session['language'] %}	{{ LanguageResources.const.ID[session['language']] }}
						{%- else %}{{ LanguageResources.const.ID[0] }}<!-- default -->
						{% endif -%}
					<td>
						{%- if session['language'] %}	{{ LanguageResources.const.Name[session['language']] }}
						{%- else %}{{ LanguageResources.const.Name[0] }}<!-- default -->
						{% endif -%}
					<td>
						Solution/Checker
					<td>
						{%- if session['language'] %}	{{ LanguageResources.const.Check[session['language']] }}
						{%- else %}{{ LanguageResources.const.Check[0] }}<!-- default -->
						{% endif -%}
						&nbsp;
						<input class="checkAll" type="checkbox" style="margin:0px" onclick="selectAllCheckboxes('registeredProblems');">
			<tbody>
				{%- for uploadedProblem in uploadedProblems %}
				<tr>
					<td>{{ uploadedProblem.problemId }}
					<td>{{ uploadedProblem.problemName }}
					<td>{{ uploadedProblem.solutionCheckType }}
					<td>
						<label class="checkbox-center">
							<input class="box-check" name="{{ uploadedProblem.problemId }}"
									type="checkbox" form="deleteProblem"
									value="{{ uploadedProblem.problemId }}">
						</label>
				{% endfor -%}
			</form> <!-- for IE, we need to cover all 'form tags' into the '<form>' tag between -->
		</table>
	</div>
</div>
{% endblock -%}