{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>Service management</h3>
		<form method="post">
			<table class="table">
				<tr>
					<td>Server
					<td>
						<label class="radio inline"><input id="serveron" name="server" type="radio" value="serveron" checked>On</label>
						<label class="radio inline"><input id="serveroff" name="server" type="radio" value="serveroff">Off</label>
				<tr>
					<td>Judging
					<td>
						<label class="radio inline"><input id="judgeon" name="judge" type="radio" value="judgeon" checked>On</label>
						<label class="radio inline"><input id="judgeoff" name="judge" type="radio" value="judgeoff">Off</label>
				<tr>
					<td>Board
					<td>
						<label class="radio inline"><input id="boardon" name="board" type="radio" value="boardon" checked>On</label>
						<label class="radio inline"><input id="boardoff" name="board" type="radio" value="boardoff">Off</label>
			</table>
			<button class="btn" type="submit">Done</button></a>
		</form>
	</div>
</div>
{% endblock -%}