<!-- 
	@@ server_manage_problem.html

	The page when server administrator manages problems.
	author: seulgi choi
-->
		
{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>
			{{ LanguageResources.const.Problem[session['language']] }}
			{{ LanguageResources.const.Management[session['language']] }}
		</h3>
		<!-- Buttons to add and delete problem -->
		<div style="text-align:right">
			<a class="btn" data-toggle="modal" role="button" href="#addModal">
				{{ LanguageResources.const.Addition[session['language']] }}
			</a>
			<a class="btn" data-toggle="modal" role="button"
				onclick="showingDeleteModal()">
				{{ LanguageResources.const.Deletion[session['language']] }}
			</a>
		</div>

		<!--
			@@ Hidden modal pop

			1. Problem addition
			2. Problem deletion
			3. No items choosed
		-->
		<!-- Problem addition -->
		<div class="modal hide fade" id="addModal" aria-hidden="true"
			  aria-labelledby="addModalLabel" role="dialog" tabindex="-1">
			<form method="post" enctype="multipart/form-data">
				<div class="modal-header">
					<button class="close" data-dismiss="modal" type="button"
							  aria-hidden="true">
					  	x
				  	</button>
					<h3 id="addModalLabel">
						{{ LanguageResources.const.Problem[session['language']] }}
						{{ LanguageResources.const.Addition[session['language']] }}
					</h3>
				</div>
				<!--
					It allows multiple files to upload.
					Before you push 'Upload', make sure the files' contents are suit to the manual.
				-->
				<div class="modal-body">
					<p>Manual : "Manual"</p>
					Problem(*.zip):	<input type="file" name="files" multiple>
				</div>
				<div class="modal-footer">
					<button class="btn" name="upload" type="submit">
						{{ LanguageResources.const.ProblemUpload[session['language']] }}
					</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						{{ LanguageResources.const.Close[session['language']] }}
					</button>
				</div>
			</form>
		</div>

		<!-- Problem deletion -->
		<div class="modal hide fade" id="deleteModal"
			  aria-hidden="true" aria-labelledby="deleteModalLabel"
			  role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button"
						  aria-hidden="true">
				  	x
			  	</button>
				<h3 id="deleteModalLabel">
					{{ LanguageResources.const.Problem[session['language']] }}
					{{ LanguageResources.const.Deletion[session['language']] }}
				</h3>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete it?</p>
			</div>
			<div class="modal-footer">
				<form id="deleteProblem" method="post">
					<button class="btn" type="submit">
						{{ LanguageResources.const.Confirm[session['language']] }}
					</button>
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						{{ LanguageResources.const.Close[session['language']] }}
					</button>
				<!-- In IE, it doesn't send its form values to server if 'form tags' are out of '<form></form>'  -->
			</div>
		</div>

		<!-- No items choosed when deletion button's clicked -->
		<div class="modal hide fade" id="deleteNoItem" 
			  aria-labelledby="deleteModalLabel" aria-hidden="true"
			  role="dialog" tabindex="-1">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button"
						  aria-hidden="true">
				  	x
			  	</button>
				<h3 id="deleteModalLabel">
					{{ LanguageResources.const.Problem[session['language']] }}
					{{ LanguageResources.const.Deletion[session['language']] }}
				</h3>
			</div>
			<div class="modal-body">
				<p>No items choosed</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">
					{{ LanguageResources.const.Close[session['language']] }}
				</button>
			</div>
		</div>

		<!-- 
			@@ Showing registered problems
		-->
		<table class="table table-bordered" id="registeredProblems"
				style="margin-top:10px">
			<thead>
				<tr>
					<td>
						{{ LanguageResources.const.ID[session['language']] }}
					<td>
						{{ LanguageResources.const.Name[session['language']] }}
					<td>
						Solution/Checker
					<td>
						{{ LanguageResources.const.Check[session['language']] }}
						<input class="checkAll" type="checkbox" style="margin:0px"
								onclick="selectAllCheckboxes('registeredProblems');">
			<tbody>
				{%- for uploadedProblem in uploadedProblems %}
				<tr>
					<td>{{ uploadedProblem.problemId }}
					<td>{{ uploadedProblem.problemName }}
					<td>{{ uploadedProblem.solutionCheckType }}
					<td>
						<label class="checkbox-center">
							<input class="box-check" name="{{ uploadedProblem.problemId }}"
									type="checkbox" value="{{ uploadedProblem.problemId }}"
									form="deleteProblem">
						</label>
				{% endfor -%}
			</form> <!-- for IE, we need to cover all 'form tags' into the '<form>' tag between -->
		</table>
	</div>
</div>
{% endblock -%}