<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>Manage Class</h3>
		<h4>Class Name : 
			<select class="input-large span2" type="text" id="courseId" name="courseId" form="addCourse">
			{%- for course in courses %}
				<option class="{{ course.courseIndex }}">{{ course.courseIndex }} {{ course.courseName }}</option>
			{% endfor -%}
			</select>
		</h4>
		<h4>Class Manager : <input name="courseAdministratorId" type="text" class="input-large" form="addCourse"></h4>
		<h4>Semester : 
			<label class="radio inline"><input type="radio" name="semester" id="1st" value="1"  form="addCourse" checked>1st</label>
			<label class="radio inline"><input type="radio" name="semester" id="summer" value="2" form="addCourse">Summer</label>
			<label class="radio inline"><input type="radio" name="semester" id="2nd" value="3" form="addCourse">2nd</label>
			<label class="radio inline"><input type="radio" name="semester" id="winter" value="4" form="addCourse">Winter</label>
		</h4>
		<h4>Language : 
		{%- for language in languages %}
			<label style="display:inline" class="checkbox-center"><input type="checkbox" class="box-check" name="languageIndex_{{ language.languageIndex }}_{{ language.languageVersion }}" value="{{ language.languageIndex }}_{{ language.languageVersion }}" form="addCourse">{{ language.languageName }}{%- if language.languageVersion != '0' %}{{ language.languageVersion }}{% endif -%}</label>
		{% endfor -%}
		</h4>
		<h4>Class Description : <input name="courseDescription" type="text" class="input-xlarge" autocomplete="off" form="addCourse"></h4> 
		<script>
		$(function() {
	    if (!Modernizr.inputtypes['date']) {
        $('input[type=date]').datepicker({
            dateFormat: 'yy-mm-dd'
        });
	    }
		});
		</script>
		<h4>Start Date : 
			<input class="datepicker input-large" type="date" id="startDateOfCourse" name="startDateOfCourse" data-date-format="yyyy-mm-dd" placeholder="click and choose" autocomplete="off" form="addCourse">
		</h4>
		<h4>End Date : 
			<input class="datepicker input-large" type="date" id="endDateOfCourse" name="endDateOfCourse" data-date-format="yyyy-mm-dd" placeholder="click and choose" autocomplete="off" form="addCourse">
		</h4>
		<form method="post" id="addCourse">
			<button class="btn" type="submit">Done</button>
		</form>
	</div>
</div>
{% endblock -%}