<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}

<div class="container">
	<h3>{{ problemName }}</h3>
		<!-- code information -->
		<div class="container">
			<div class="row-fluid">
				<table class="user_code table table-bordered">
					<div class="span3">
						<thead>
							<tr>
									<td>MemberId</td>
									<td>Run Time</td>
									<td>Used Memory</td>
									<td>Code Length</td>
									<td>&nbsp;</td>
							</tr>
						</thead>
						<tr>
							<td>{{ problemSolvedMemberRecords.memberId }}</td>
							<td>{{ problemSolvedMemberRecords.runTime }} ms</td>
							<td>{{ problemSolvedMemberRecords.usedMemory }} MB</td>
							<td>{{ problemSolvedMemberRecords.sumOfSubmittedFileSize }} Byte</td>
							<td style="text-align: center"><button type="button" id="code-down">Download source code</button></td>
						</tr>
					</div>
				</table>
			</div>
		</div>
	<!-- end code information -->
	
	<!-- code section -->
	<div class="container">
		<!-- put the code here -->
		<div class="tabbable">
			<ul class="nav nav-tabs">
				{% for fileInfo in submittedFileRecords %}
					{% if loop.index0 == 0 %}
					<li class = 'active'>
					{% else %}
					<li class>
					{% endif %}
					<a href="#{{ loop.index0 }}" data-toggle="tab">{{ fileInfo.fileName }}</a></li>
				{% endfor %}
			</ul>
		
			<div class="tab-content">
			<!-- File Content -->
			{% for fileInfo in submittedFileRecords %}
					{% if not loop.index0 %}
				<div id="{{ loop.index0 }}" class="tab-pane active">
					{% else %}
				<div id="{{ loop.index0 }}" class="tab-pane">
					{% endif %}
					</select>Theme :
					<select type = "text" onchange="selectTheme{{ loop.index0 }}(this)">
						<option value = "6"> chrome </option>
						<option value = "7"> clouds </option>
						<option selected = "selected" value = "8"> eclipse </option>
						<option value = "9"> github </option>
						<option value = "10"> monokai </option>
						<option value = "11"> textmate </option>
						<option value = "12"> tomorrow </option>
					</select>
					<pre id="editor{{ loop.index0 }}">{{ fileData[loop.index0] }}</pre>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
	
	<!-- comment section -->
	<div class="container" style="border:1px solid">
		<!-- put the comment here -->
	</div>
</div>	

<script>
	{% for fileInfo in submittedFileRecords %}
	var editor{{ loop.index0 }} = ace.edit("editor{{ loop.index0 }}");
	ace.require("ace/ext/language_tools");
	
	editor{{ loop.index0 }}.setTheme("ace/theme/eclipse");
	{% if '.java' in fileInfo.fileName %}
		editor{{ loop.index0 }}.session.setMode("ace/mode/java");
	{% elif '.py' in fileInfo.fileName %}
		editor{{ loop.index0 }}.session.setMode("ace/mode/python");
	{% else %}
		editor{{ loop.index0 }}.session.setMode("ace/mode/c_cpp");
	{% endif %}
	
	editor{{ loop.index0 }}.setAutoScrollEditorIntoView(true);
	editor{{ loop.index0 }}.setOption("maxLines", 70);
	editor{{ loop.index0 }}.setOption("minLines", 20);
	editor{{ loop.index0 }}.setOption("showPrintMargin", false);
	

	// language change
	function selectTheme{{ loop.index0 }}(selectObj) {
		var theme;
		if(selectObj.value == 6){ theme = "chrome"; }
		if(selectObj.value == 7){ theme = "clouds"; }
		if(selectObj.value == 8){ theme = "eclipse"; }
		if(selectObj.value == 9){ theme = "github"; }
		if(selectObj.value == 10){ theme = "monokai"; }
		if(selectObj.value == 11){ theme = "textmate"; }
		if(selectObj.value == 12){ theme = "tomorrow"; }
	
	  editor{{ loop.index0 }}.setTheme("ace/theme/" + theme);
	}
	{% endfor %}
	
</script>
{% endblock -%}