<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}

<script>
// set donut chart graph
$.getScript('../../static/bootstrap/js/Chart.js',function(){
	var data = [];
	var options = {
		animation: false
	};

  //Get the context of the canvas element we want to select
  var c = $('#submitChart');
  var ct = c.get(0).getContext('2d');
  var ctx = document.getElementById("submitChart").getContext("2d");
  // Purple, Black, Dark Blue, Cyan, Pink
  var colors = new Array("#3a87ad", "#b94a48", "#18709c", "#19bdc4", "#fff6ee");
  var highlightColors =new Array('#ff0000', '#ffbb00', '#ffe400', '#1DDB16', '#5F00FF') ;
  /*************************************************************************/

  myNewChart = new Chart(ct).Doughnut(data, options);
  // input values and colors into the chart
  // need to change 'value:#' 
  {%- for i in range(0, 5) %}
  	{%- if chartSubmissionRecords[i + 2] %}
  	myNewChart.addData ({
  		value: {{ chartSubmissionRecords[i + 2] }},
  		color: colors[{{ i }}],
  		label: '{{ chartSubmissionDescriptions[i + 2] }}',
  		highlight: highlightColors[{{ i }}]
  		})
		{% endif -%}
  {% endfor -%}
})
</script>

<div class="container">
	<div style="text-align:center">
		<h3>
			{%- if memberId %}
				{{ memberId }}
			{% endif -%}
				's submission history
		</h3>
		<div class="visible-phone visible-tablet" style="margin-bottom:10px">
			<style>
			.alert{
				padding: 5px;
			}
			</style>
			<span class="alert alert-info">Solved</span>
			<span class="alert alert-error">Wrong</span>
			<span class="alert">NeverSubmitted & Error</span>
		</div>
	</div>
	<div class="row-fluid" style="padding-top:20px">
		<div class="span4">
			<!-- Chart -->
			<div class="row-fluid" style="text-align:center">
				<div class="spanX">
					<canvas id="submitChart" width="180px"></canvas>
				</div>
				<div class="spanY">
					<style> h4{ padding-bottom: 5px; } </style>
					<h4>
						<table style="width:100%">
						<!--  chartSubmissionRecords is Value, chartSubmissionDescriptions is Description -->
						{%- for i in range (0, chartSubmissionDescriptions|length) %}
						<tr>
							<td style="width:69%">{{ chartSubmissionDescriptions[i] }}
							<td style="width:31%">{%- if chartSubmissionRecords[i] %}{{ chartSubmissionRecords[i] }}{%- else %}0{% endif -%}
						</tr>
						{% endfor -%}
						</table>
					</h4>
				</div>
			</div>
		</div>
		<!-- end Chart -->
		<!--  startList -->
		<div class="span8" style="text-align:center">
			<table class="problem_list table table-bordered">
				<thead>
					<tr>
						<td>Problem
						<td class="hidden-phone hidden-tablet">Status
						<td>Score
						<td class="hidden-phone">
							<span class="hidden-tablet hidden-phone">Language</span>
							<span class="hidden-desktop">Lang</span>
						<td class="hidden-phone">
							<a href="{{ url_for('GradeServer.submission_record', memberId = memberId, sortCondition ='runTime', pageNum = pages['pageNum']) }}">
							Runtime
							</a>
						<td class="hidden-phone">
							<a href="{{ url_for('GradeServer.submission_record', memberId = memberId, sortCondition ='usedMemory', pageNum = pages['pageNum']) }}">
							Memory
							</a>
						<td class="hidden-phone">
							<a href="{{ url_for('GradeServer.submission_record', memberId = memberId, sortCondition ='codeLength', pageNum = pages['pageNum']) }}">
								<span class="hidden-tablet hidden-phone">Length</span>
								<span class="hidden-desktop">Len</span>
							</a>
						<td>
							<a href="{{ url_for('GradeServer.submission_record', memberId = memberId, sortCondition ='submissionDate', pageNum = pages['pageNum']) }}">
							Date
							</a>
					</tr>
				<tbody>
					{%- for submissionRecord in submissionRecords %}
					<tr class='alert{%- if submissionRecord.status == "SOLVED" %} alert-info
								      {% elif submissionRecord.status == "WRONG_ANSWER" %} alert-error
								      {%- else %}
								      {% endif -%}'>
						<td>
							{%- if submissionRecord.problemName %}
							{{ submissionRecord.problemName }}
							{% endif -%}
						<td  class="hidden-phone hidden-tablet">
							{%- if submissionRecord.status %}
							{{ submissionRecord.status }}
							{% endif -%}
						<td>
							{%- if submissionRecord.score %}
							{{ submissionRecord.score }}
							{%- else %}
							0
							{% endif -%}
						<td class="hidden-phone">
							{%- if submissionRecord.languageName %}
							{{ submissionRecord.languageName }}
							{% endif -%}
						<td class="hidden-phone">
							{%- if submissionRecord.runTime %}
							{{ submissionRecord.runTime }}
							{%- else %}
							0
							{% endif -%}
							ms
						<td class="hidden-phone">
							{%- if submissionRecord.usedMemory %}
							{{ submissionRecord.usedMemory }}
							{%- else %}
							0
							{% endif -%}
							KB
						<td class="hidden-phone">
							{%- if submissionRecord.sumOfSubmittedFileSize %}
							{{ submissionRecord.sumOfSubmittedFileSize }}
							{% endif -%}
							<span class="hidden-tablet hidden-phone">Byte</span>
							<span class="hidden-desktop">B</span>
						<td>
							{%- if submissionRecord.codeSubmissionDate %}
							<script> 
								var newDate = "{{ submissionRecord.codeSubmissionDate }}"; 
							</script>
							<span class="hidden-tablet hidden-phone">
								<script>document.write(newDate.substring(2,16)); </script>
							</span>
							<span class="hidden-desktop">
								<script>document.write(newDate.substring(2,10)); </script>
							</span>
							{% endif -%}
					</tr>
					{% endfor -%}
			</table>
		
			<!-- end List -->
			<!-- page number section -->
			<div class="pagination pagination-centered">
				<ul>
					{%- if pages['pageNum'] > pages['BLOCK'] %}
					<li><a href="{{ url_for ('GradeServer.submission_record', memberId = memberId, sortCondition = sortCondition, pageNum = pages['pageNum'] - 1) }}"><</a></li>
					{% endif -%} 
					
					{%- for i in range (pages['startPage'], pages['endPage'] + 1) %}
					<li>
						{%- if pages['pageNum'] == i %}
						<a style ='background-color:gray'>
						{%- else %}
						<a href="{{ url_for ('GradeServer.submission_record', memberId = memberId, sortCondition = sortCondition, pageNum = i) }}">
						{% endif -%}
						{{ i }}
						</a>
					</li>
					{% endfor -%}
					
					{%- if pages['endPage'] < pages ['allPage'] %}
					<li><a href="{{ url_for ('GradeServer.submission_record', memberId = memberId, sortCondition = sortCondition, pageNum = pages['pageNum'] + 1) }}">></a></li>
					{% endif -%}
				</ul>
			</div>
			<!-- end page number section -->
		</div>
	</div>
</div>
<script>
$(window).resize(function(){
	if($(window).width() < 768){

	}
});
</script>
{% endblock -%}

