<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}

<script>
// set donut chart graph
$.getScript('../../static/bootstrap/js/Chart.js',function(){
	var data = [];
	var options = {
		animation: false
	};

  //Get the context of the canvas element we want to select
  var c = $('#submitChart');
  var ct = c.get(0).getContext('2d');
  var ctx = document.getElementById("submitChart").getContext("2d");
  // Purple, Black, Dark Blue, Cyan, Pink
  var colors = new Array("#ef4089", "#0c274c", "#18709c", "#19bdc4", "#fff6ee");
  var highlightColors =new Array('#ff0000', '#ffbb00', '#ffe400', '#1DDB16', '#5F00FF') ;
  /*************************************************************************/

  myNewChart = new Chart(ct).Doughnut(data, options);
  // input values and colors into the chart
  // need to change 'value:#' 
  {% for i in range(0, 5) %}
  	{% if chartSubmissionRecords[i + 2] %}
  	myNewChart.addData ({
  		value: {{ chartSubmissionRecords[i + 2] }},
  		color: colors[{{ i }}],
  		label: '{{ chartSubmissionDescriptions[i + 2] }}',
  		highlight: highlightColors[{{ i }}]
  		})
		{% endif %}
  {% endfor %}
})
</script>

<div class="container">
	<div style="text-align:center">
		<h3>{% if memberId %}{{ memberId }}{% else %}{{ session['memberId'] }}{% endif %}Submit History</h3>
	</div>
	<div class="container">
		<div class="row-fluid">
			<div class="span12" style="padding-top:50px">
				<div class="row-fluid">
					<!-- Chart -->
					<div class="chart span5" style="text-align:center">
						<div class="row-fluid">
							<div class="span7" style="float:left">
								<canvas id="submitChart" width="200%"></canvas>
							</div>
							<div class="span5" id="legend-box" style="float:right">
							<br>
							</div>
						</div>
						<div style="text-align:right;width:50%">
							{% for i in range (0, chartSubmissionDescriptions|length) %}
							<h4 style ="padding-bottom:5px">
								<!--  chartSubmissionRecords is Value, chartSubmissionDescriptions is Description -->
								{{ chartSubmissionDescriptions[i] }}  :  {% if chartSubmissionRecords[i] %}{{ chartSubmissionRecords[i] }}{% else %}0{% endif %}
								<br>
							</h4>
							{% endfor %}
						</div>
					</div>
					<!-- end Chart -->
					<!--  startList -->
					<div class="span7" style="text-align:center">
						<table class="problem_list table table-bordered">
							<thead>
								<tr>
									<td style ='vertical-align: middle'>Problem Title</td>
									<td style ='vertical-align: middle'>Status</td>
									<td style ='vertical-align: middle'>Score</td>
									<td style ='vertical-align: middle'><a href="{{ url_for('GradeServer.user_history', memberId =session['memberId'], sortCondition ='runTime', pageNum = pages['pageNum']) }}">Runtime</a></td>
									<td style ='vertical-align: middle'><a href="{{ url_for('GradeServer.user_history', memberId =session['memberId'], sortCondition ='codeLength', pageNum = pages['pageNum']) }}">Code Length</a></td>
									<td style ='vertical-align: middle'>Language</td>
									<td style ='vertical-align: middle'><a href="{{ url_for('GradeServer.user_history', memberId =session['memberId'], sortCondition ='submissionDate', pageNum = pages['pageNum']) }}">Submit Date</a></td>
								</tr>
							</thead>
							{%- for submissionRecord in submissionRecords %}
							<tr>
								<td style ='vertical-align: middle'>
									{% if submissionRecord.problemName %}
									{{ submissionRecord.problemName }}
									{% endif %}
								</td>
								<td style ='vertical-align: middle'>
									{% if submissionRecord.status %}
									{{ submissionRecord.status }}
									{% endif %}
								</td>
								<td style ='vertical-align: middle'>
									{% if submissionRecord.score %}
									{{ submissionRecord.score }}
									{% else %}
									0
									{% endif %}
								</td>
								<td style ='vertical-align: middle'>
									{% if submissionRecord.runTime %}
									{{ submissionRecord.runTime }}
									{% endif %}
									ms
								</td>
								<td style ='vertical-align: middle'>
									{% if submissionRecord.sumOfSubmittedFileSize %}
									{{ submissionRecord.sumOfSubmittedFileSize }}
									{% endif %}
									Byte
								</td>
								<td style ='vertical-align: middle'>
									{% if submissionRecord.languageName %}
									{{ submissionRecord.languageName }}
									{% endif %}
								</td>
								<td style ='vertical-align: middle'>
									{% if submissionRecord.codeSubmissionDate %}
									{{ submissionRecord.codeSubmissionDate }}
									{% endif %}
								</td>
							</tr>
							{% endfor -%}
						</table>
					</div>
					<!-- end List -->
					<!-- page number section -->
					<div class="pagination pagination-centered">
						<ul>
							{%- if pages['pageNum'] > pages['BLOCK'] %}
							<li><a href="{{ url_for ('GradeServer.user_history', memberId =session['memberId'], sortCondition = sortCondition, pageNum = pages['pageNum'] - 1) }}"><</a></li>
							{% endif -%} 
							
							{%- for i in range (pages['startPage'], pages['endPage'] + 1) %}
							<li>
								{% if pages['pageNum'] == i %}
								<a style ='background-color:gray'>
								{% else %}
								<a href="{{ url_for ('GradeServer.user_history', memberId =session['memberId'], sortCondition = sortCondition, pageNum = i) }}">
								{% endif %}
								{{ i }}
								</a>
							</li>
							{% endfor -%}
							
							{%- if pages['endPage'] < pages ['allPage'] %}
							<li><a href="{{ url_for ('GradeServer.user_history', memberId =session['memberId'], sortCondition = sortCondition, pageNum = pages['pageNum'] + 1) }}">></a></li>
							{% endif -%}
						</ul>
					</div>
					<!-- end page number section -->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock -%}

