<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "main.html" -%}
{%- block body %}
<div class="container">
	<div>
		<h3>Team</h3>
		<a href="{{ url_for('GradeServer.make_team') }}"><button class="btn" type="button">Make Team</button></a>
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Invitee<span class="caret"></span></a>
			<ul class="dropdown-menu">
				{% for i in range (0, teamInvitationRecords|length) %}
				<li>
					<a href="#teamName{{ i }}" role="button" class="btn btn-link" data-toggle="modal">
					{% if teamInvitationRecords[i].teamName %}
					{{ teamInvitationRecords[i].teamName }}
					{% endif %}
					</a>
				</li>
				{% endfor %}
				{% if not teamInvitationRecords|length %}
				<li class="disabled"><a tabindex="-1" href="#">None</a></li>
				{% endif %}
			</ul>
			{% for i in range (0, teamInvitationRecords|length) %}
			<div id="teamName{{ i }}" class="modal hide fade" style="text-align:center">
				<div class="modal-header">
					<h3>Team Invitation</h3>
				</div>
				<div class="modal-body">
					<h4>Do you really want to join?</h4>
				</div>
				<div class="modal-footer">
					<a href="{{ url_for ('GradeServer.team_invitation', teamName =teamInvitationRecords[i].teamName, accept ='reject') }}">
					<button class="btn" data-dismiss="modal" aria-hidden="true" name ="reject">Reject</button></a>
					<a href="{{ url_for ('GradeServer.team_invitation', teamName =teamInvitationRecords[i].teamName, accept ='accept') }}">
					<button  class="delete btn btn-primary"  name ="accept">Accept</button></a>
				</div>
			</div>
			{% endfor %}
		</div>
		<table class="table table-bordered" style="margin-top:10px">
			<thead>
				<tr><td>Team Name</td><td>Team Master</td><td>Team Member</td></tr>
			</thead>
			<tbody>
			{%- for teamRecord in teamRecords %}
				<tr>
					<td style ='vertical-align: middle'>
						<a href="{{ url_for('GradeServer.team_information', teamName =teamRecord.teamName) }}">
						{% if teamRecord.teamName %}{{ teamRecord.teamName }}
						{% endif %}
						</a>
					</td>
					<td style ='vertical-align: middle'>{% if teamRecord.teamMasterId %}{{ teamRecord.teamMasterId }}{% endif %}</td>
					<td style ='vertical-align: middle'>{% if teamRecord.teamMemberCount %}{{ teamRecord.teamMemberCount }}{% endif %}</td>
			 	</tr>
			{% endfor -%}
			</tbody>
		</table>
		<!-- Paging -->
		<div class="pagination pagination-centered">
			<ul>
				{%- if pages['pageNum'] > pages['BLOCK'] %}
				<li><a href="{{ url_for ('GradeServer.team', pageNum =pages['pageNum'] - 1) }}"><</a></li>
				{% endif -%}
				
				{%- for i in range (pages['startPage'], pages['endPage'] +1) %}
				<li>
					{% if pages['pageNum'] == i %}
					<a style ='background-color:gray'>
					{% else %}
					<a href="{{ url_for ('GradeServer.team', pageNum = i) }}">
					{% endif %}
					{{ i }}</a>
				</li>
				{% endfor -%}
				
				{%- if pages['endPage'] < pages['allPage'] %}
				<li><a href="{{ url_for ('GradeServer.team', pageNum =pages['pageNum'] +1) }}">></a></li>
				{% endif -%}
			</ul>
		</div>
		<!-- End Paging -->
	</div>
</div>	
{% endblock -%}