<!-- //////////////////////////////////////////
		fill every "here" sign using jinja2 template
		/////////////////////////////////////////// -->

{%- extends "classUserSubmit.html" -%}
{%- block title %}
<h5>Summary mode</h5>
{% endblock -%}

{%- block allSubmit %}
<li class="active">
{% endblock -%}

{%- block summaryButton %}
<div style="text-align:right"><a href="{{ url_for('GradeServer.class_user_submit') }}"><button type="button" id="summary">Detail</button></a>
{% endblock -%} 

{%- block search %}
<li><a href="#">Class Number</a></li>
<li><a href="#">Class Name</a></li>
<li><a href="#">User Id</a></li>
{% endblock -%}

{%- block tabContent %}
<div class="tab-pane active" id="class1">
{% endblock -%}

{%- block class1 %}
<div style="text-align:center">O : Solved | X : Wrong</div>
<table class="table">
	<tr>
		<td>User Id</td><td>Problem1</td><td>Problem2</td><td>...</td>
	</tr>
	"add here summary of class1"
</table>
{% endblock -%}

{%- block class2 %}
<div style="text-align:center">O : Solved | X : Wrong</div>
	<table class="table">
		<tr>
			<td>User Id</td><td>Problem1</td><td>Problem2</td><td>...</td>
		</tr>
		<tr>
			<td>"User Id"</td><td>"Problem1"</td><td>"Problem2"</td><td>"..."</td>
		</tr>
	</table>
{% endblock -%}